.sidebar {
  details,
  .accordion {
    margin: 0 0 $medium-spacing;
  }
  .accordion-panel {
    padding: $medium-spacing 0 0;
  }
  form {
    fieldset {
      legend {
        margin: 0;
      }
    }
  }
  input[type='checkbox'] + label {
    outline: 0;
    margin: 0;
  }
}