.assurance-question {

  .question {
    margin: $gutter / -2 0 $gutter * 1.5 0;
  }

  .question-heading {
    @include core-19;
  }

}

.assurance-question {

  .validation-wrapper {
    
    margin-bottom: $gutter * 1.5;
      
    .question {
      margin-top: 0;
      margin-bottom: 0;
    }
    
  }
  
}
