button,
.button,
[role='button'],
[type='submit'],
[type='reset'],
[type='button'] {
  height: auto;
  margin: 0 $small-spacing $small-spacing 0;
  background-color: $button-bg-colour;
  color: $button-text-colour;
  border-color: $button-bg-colour--hover;
  border-width: 1px;

  &:hover,
  &:focus {
    background-color: $button-bg-colour--hover;
  }

  &:active {
    background-color: $button-bg-colour;
  }

  .content--hero & {
    margin: $small-spacing*2 $small-spacing 0 0;

    &.inverted {
      border-color: $button-inverted-colour;
      background-color: $button-inverted-colour;
      color: $button-inverted-text-colour;
      font-size: rem(17);

      &:hover,
      &:active,
      &:focus {
        border: 1px solid $button-inverted-colour;
        background-color: transparent;
        color: $white;
      }
    }
  }

  .callout--info & {
    margin-bottom: $tiny-spacing;
  }
}

.sidebar {
  button,
  .button,
  [role='button'],
  [type='button'] {
    width: 100%;
  }
}