p.context {
  color: $grey;
  margin-bottom: 0;
  margin-top: 1em;
}

h2.instruction-list-item-body {
  padding-top: 1em;
  padding-left: 1.625em;

  &:first-of-type {
    border: none;
    padding-top: 0;
  }

  span.step-number {
    position: absolute;
    margin-left: -1.625em;
  }
}

ol.instruction-list {
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 0;

  >li {
    list-style: none;
    font-size: 1.059rem;

    &.divider {
      border-bottom: 1px solid $light-grey;
      padding-bottom: 1.5em;
    }

    span.tick {
      position: absolute;
      margin-left: -1.35em;
      margin-top: 0.25em;
    }  

    p {
      &.instruction-list-item-top {
        margin-bottom: 0;
        padding-left: 2.3em;
      }
    }

    ul {
      li {
        list-style: none;
        margin-bottom: 0.2em;
        padding-left: 0.1em;
      }
    }
  }
}


// Buyer Brief forms


.brief-builder {

  &.brief-section {
    main {
      .content-main {
        &:first-child {
          .column-two-thirds {
            width: 100%;
            @include media($desktop) {
              width: 66.6666666667%;
            }
          }
        }
      }
    }
  }

  .question {
    margin-bottom: 3em;
  }

  &.registration-pages {
    .question {
      margin-bottom: 0;

      &.top {
        margin-bottom: 2em;
        margin-top: 2em;
      }
    }
  }

  label {
    .question-heading-with-hint {
      font-size: rem(18);
    }
  }

  .question {
    span.hint.word-count-counter {
      p {
        margin-top: $tiny-spacing;
      }
    }
  }

  form {

    .validation-message {
      clear: both;
      display: block;
    }

    textarea {
      height: 14.375em;
    }

    .word-count-counter {
      color: $input-count-colour;
      float: right;
    }

    .text-box-unit + .hint {
      float: none;
    }

    .large-text {
      line-height: $small-leading;
      margin-bottom: $small-spacing;
      margin-top: $base-spacing;
      span {
        font-weight: $bold-font-weight;
        margin: 0;
        @include media($tablet) {
          font-size: rem(26);
        }
      }
    }
  }

  .question-optional {
    color: $grey;
    font-size: rem(17);
  }

  .text-box-number-label {
    & + input[class='text-box'] {
      width: 60%;

      @include media($tablet) {
        width: 80%;
      }
    }
  }

  .list-entry-remove,
  .list-entry-add {
    background: $white;
    border: 0;
    border-bottom: 1px solid $non-black;
    color: $non-black;
    display: inline;
    font-weight: $base-font-weight;
    align-items: stretch;
    padding: 0;
    width: auto;

    &:focus,
    &:hover {
      background: $light-aqua;
      border-bottom: 1px solid $non-black;
      color: $non-black;
    }
  }

  .list-entry-remove {
    margin-left: 1em;
  }
}

.validation-wrapper, #technicalWeighting, #culturalWeighting, #priceWeighting {
  .text-box-smaller {
    width: 40%;
  }
  .text-box-unit {
    display: inline-block;
    margin-left: 0.5em;
    margin-top: 0.4em;
  }
}
