$light-blue:                                #e8f5fa;
$hero-bg-inverted-colour:                   $non-white;
$badge-colour--beta:                        $white;
$badge-colour--new:                         $maroon;
$input-count-colour:                        #717171;