.company-information-summary {
  padding-top: $gutter-half;
  margin-bottom: (2 * $gutter);

  .summary-item-field-first,
  .summary-item-field-first-wider,
  .summary-item-field-with-action,
  .summary-item-field {
    @include core-19;
  }

  .banner-warning-without-action {
    margin-top: 0;
    margin-bottom: $gutter;
  }
}
