@include media(tablet) {
  form input.button-save {
    margin-top: 55px;
  }
}

a.button-save {
  @include inline-block;
}

.question-heading p {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
