.list-entry {
  position: relative;
}

label {
  @extend h4;

  & + input {
    margin-top: $tiny-spacing;
  }

  &.text-box-number-label {
    color: $grey;
    left: $tiny-spacing;
    margin: 0;
    position: absolute;
    top: 0.7em;

    & + input {
      margin-bottom: 1em;
      padding-left: 2.2em;
    }
  }
}

.pricing-column {
  label {
    margin-top: 0;
  }
}

.content-main {

  .list-entry {
    position: relative;
  }

  label {
    @extend h4;

    & + input {
      margin-top: $tiny-spacing;
    }

    &.text-box-number-label {
      color: $grey;
      left: $tiny-spacing;
      margin: 0;
      position: absolute;
      top: 0.7em;

      & + input {
        margin-bottom: 1em;
        padding-left: 2.2em;
      }
    }
  }

  .pricing-column {
    label {
      margin-top: 0;
    }
  }
}

.registration-pages {

  p {
    &.context {
      color: $grey;
    }
  }

  form {

    .hint {
      color: $grey;
      margin-bottom: 0;
    }

    .hint-with-error {
      color: $error-colour;
    }

    .validation-message {
      color: $error-colour;
      display: block;
      font-size: rem(14);
      font-weight: $base-font-weight;
    }

    fieldset {
      label {
        margin-top: 0;
        padding-left: rem(40);
      }
      input[type='checkbox'] + label::before {
        left: 0;
      }
      input[type='checkbox']:checked + label::after {
        left: 5px;
      }

      &.invalid {
        input[type='checkbox'] + label::before {
          outline: 3px solid $red;
        }
      }
    }
  }

  #employment_status {
    list-style: none;
    margin: $base-spacing 0;
    padding: 0;
  }
}

@mixin form-control {
  list-style: none;
  margin: $base-spacing 0;
  padding: 0;
  @content;

  label:last-child  {
    margin: 0;
  }
}

main {
  form {
    a.validation-message {
      display: inline-block;
      border: 0;

      span {
        color: $error-colour;
        font-size: rem(14);
        font-weight: $base-font-weight;
      }

      &:hover, &:active, &:focus {
        background: none;
      }
    }
}

form {
  .form-control, .field {
      @include form-control;
    }

    .hint {
      color: $grey;
      margin-bottom: 0;
    }

    textarea {
      height: 14.375em;

      &.under-50 {
        height: 7.25em;
      }
    }

    .word-count-counter {
      color: $input-count-colour;
      float: right;
    }

    .question-heading, legend {
      font-weight: $bold-font-weight;
    }

    fieldset {
      legend {
        margin-bottom: 0.8em;
      }
    }

    .radio-list {
      &.validation-error {
        input[type='radio'] + label {
          outline-color: #c00;
        }
      }
    }

    .filter-fieldset,
    #location,
    #culturalFitCriteria {
      legend {
        display: none !important;
        visibility: hidden;
      }
    }

    input[type='checkbox'] + label,
    input[type='radio'] + label {
      margin: 0 0 8px;
      padding: 12px 12px 12px 60px;

      >p {
        font-size: rem(14);
        font-weight: 400;
        margin-bottom: 0.1em;
        padding-right: 20px;
      }

      &::before {
        top: 12px;
      }

      &::after {
        top: 17px;
      }
    }

    input[type='checkbox']:checked + label,
    input[type='radio']:checked + label {
      font-weight: 700;

      &::after {
        top: 17px;
      }
    }

    .list-entry {
      .button-secondary {
        margin-top: 0.4em
      }
    }

  }
}

.datefield {
  .field {
    display: inline-block;
    width: 1.7rem;
    margin-top: 0;
    margin-right: 0.5rem;

    input {
      padding-left: 0.1rem;
      padding-right: 0.1rem;
    }

    &:last-child input {
      width: 3.4rem;
    }

    .question-heading {
      font-weight: normal;
    }
  }
}

.validation-masthead-heading {
    margin: 0 0 1.6rem;
}
