@import "conditionals";
@import "shims";

.framework-application-status {

  @include core-19;
  padding-bottom: $gutter * 2/3;

  @include media(tablet) {
    padding-top: 0;
  }

  strong {
    font-weight: normal;
  }
}

.framework-dashboard {

  .browse-list-item {

    border-top: 1px solid $border-colour;
    padding-top: $gutter * 2/3;

    h2 {
      @include bold-24;
      margin-bottom: 5px;
    }
  }
}

/* Temporary styles, to be added to toolkit */
.summary-item-lede {
  margin-bottom: $gutter-half - 5px;

  .summary-item-heading {
    padding-top: 0;
    padding-right: 0;
  }

  input.button-save {
    margin-top: 0px;
    margin-bottom: 8px;
  }

  a {
    @include bold-24;
  }

  p {
    margin-bottom: 5px;

    a {
      display: block;
      @include core-19;
    }
  }
}

.framework-application-reference {

  margin-top: $gutter + 5px;

  .framework-application-section {
    p,
    a,
    .hint,
    .browse-list-item-link {
      @include core-16;
    }

    p {
      margin-bottom: 0;
    }

    .browse-list-item-link {
      border-bottom: none;
      text-decoration: underline;
    }
  }
}

.pending-services-table {

  .second-line {
    margin-top: 5px;
  }

  .summary-item-field-first {

    .second-line {
      color: $secondary-text-colour;
    }
  }
}
