@import "conditionals";
@import "shims";

.framework-application-status {

  @include core-19;
  font-weight: bold;
  padding-bottom: $gutter * 2/3;
  padding-top: $gutter * 1/2;

  @include media(tablet) {
    padding-top: 0;
  }

}

.big-number {
  //@include bold-27;
  @include inline-block;
  padding-top: 5px;
  //padding-right: 1px;
}

%framework-application-section,
.framework-application-section {

  border-top: 1px solid $grey-2;
  padding-top: $gutter * 2/3;
  margin-bottom: $gutter * 2/3;

  p {
    margin-bottom: 5px;
  }

  h2 {
    @include bold-24;
  }

  li {
    margin-top: 5px;
  }

}

.framework-application-section-last {
  @extend %framework-application-section;
  border-bottom: 1px solid $grey-2;
  padding-bottom: $gutter * 2/3;
}

.framework-section-status-neutral {
  @extend %framework-section-status;
  color: $secondary-text-colour;
  font-weight: normal;
  margin-top: 5px;
}

.framework-section-status-bad {

  @extend %framework-section-status;
  color: $mellow-red;

  p {
    margin-bottom: -5px;
  }

}

.framework-section-status-good {
  @extend %framework-section-status;
}

.framework-section-validation-bar {
  border-left: 5px solid $mellow-red;
  padding-left: 15px;
  margin-bottom: 25px;
}


.submission-status-bad {

  @extend %submission-status;
  color: $mellow-red;

  @include bold-16;

  @include media(desktop) {
    @include bold-19;
  }

}

.submission-service-counts-column {

  float: left;
  box-sizing: border-box;
  margin-top: 10px;
  width: 49%;
  padding-right: 10px;
  vertical-align: top;
  @include core-16;

  @include media(desktop) {
    margin-top: 0;
    @include core-19;
  }

}

.draft-service-count {
  margin-top: $gutter/3;
  color: $secondary-text-colour;
}

.framework-section {
    padding: 20px 0 15px 0;
    border-bottom: 1px solid #dee0e2;
}

/* Temporary styles, to be added to toolkit */
.summary-item-lede {
  margin-bottom: $gutter-half - 5px;

  .summary-item-heading {
    padding-top: 0;
    padding-right: 0;
  }

  input.button-save { 
    margin-top: 0px;
    margin-bottom: 8px;
  }

  a {
    @include bold-24;
  }
 
  p {
    margin-bottom: 5px;

    a {
      display: block;
      @include core-19;
    }
  }
}

.framework-application-reference {

  margin-top: $gutter + 5px;

  .framework-application-section {
    p,
    a,
    .hint,
    .browse-list-item-link {
      @include core-16;
    }

    p {
      margin-bottom: 0;
    }

    .browse-list-item-link {
      border-bottom: none;
      text-decoration: underline;
    }
  }
}
