@import "conditionals";
@import "shims";

.framework-application-status {

  padding-bottom: $gutter * 2/3;
  padding-top: $gutter/2;

  @include media(tablet) {
    padding-top: 50px;
  }

  h2 {
    @include bold-19;
    margin-bottom: 10px;
  }

}

.big-number {
  @include bold-48;
}

.big-number-hint {
  @include copy-16;
  color: $secondary-text-colour;
}

.framework-application-section {
  border-top: 1px solid $grey-2;
  padding-top: $gutter * 2/3;
}

%framework-section-status,
.framework-section-status {

  @include bold-19;
  margin-top: $gutter / 3;

  @include media(tablet) {
    margin-top: 0;
  }

}

.framework-section-status-neutral {
  @extend %framework-section-status;
  color: $secondary-text-colour;
  font-weight: normal;
}

.framework-section-status-bad {
  @extend %framework-section-status;
  color: $mellow-red;
}

.framework-section-status-good {
  @extend %framework-section-status;
  color: $grass-green;
}

.submission-status-bad {

  @extend %submission-status;
  color: $mellow-red;

  @include bold-16;

  @include media(desktop) {
    @include bold-19;
  }

}

.submission-service-counts-column {

  float: left;
  box-sizing: border-box;
  margin-top: 10px;
  width: 49%;
  padding-right: 10px;
  vertical-align: top;
  @include core-16;

  @include media(desktop) {
    margin-top: 0;
    @include core-19;
  }

}
