.sidebar {
  @include link-colours($non-black, $light-aqua, $non-black);
  @include button-colours($button-bg-colour, $button-bg-colour--hover, $button-bg-colour--active, $button-text-colour);
}

.contributors {
  .summary-item-field-with-action {
    button {
      background-color: $white;
      margin: 0;
      padding: 0;
      color: $non-black;
      text-decoration: none;
      font-weight: 400;
      outline: none;
      border: 0;
      border-bottom: solid 1px $light-aqua;
      transition-timing-function: $transition-easing;
      transition-duration: $transition-timing-fast;
      transition-property: background-color, border-color, color;

      &:hover,
      &:focus {
        background-color: $light-aqua;
        color: $non-black;
      }
    }
  }
}