// Lists
// From: https://github.com/alphagov/govuk_elements/commit/7e60d575939e36b2788d9b8ba8876aae7509d559
// ==========================================================================

ul,
ol {
  list-style-type: none;
  padding: 0;
}

// Bulleted lists
.list-bullet {
  list-style-type: disc;
  padding-left: 20px;
}

// Numbered lists
.list-number {
  list-style-type: decimal;
  padding-left: 20px;

  @include ie-lte(7) {
    padding-left: 28px;
  }
}

.list-bullet,
.list-number {
  margin-top: 5px;
}

.list-number {
  margin-bottom: 20px;
}

.list-bullet li,
.list-number li {
  margin-bottom: 5px;
}

// Styles specific to Digital Marketplace

.check-list {
  .lead {
    margin-bottom: $gutter-half;
  }

  ul {
    padding-bottom: 0;
    margin-bottom: 20px;

    @include media(tablet) {
      padding-bottom: $gutter-half;
    }

    li {
      margin-bottom: $gutter-half;

      p {
        margin: 0;
      }

      a {
        word-wrap: break-word;
      }
    }
  }
}

.unbulleted-item {
  list-style-type: none;
  margin-bottom: 10px;
}

%framework-agreement-section,
.framework-agreement-section {
  padding: 20px 0 15px 0;
  border-top: 1px solid #dee0e2;

  .document-list {
    padding-bottom: 0;
  }

  .question {
    margin: 0;

    .question-heading {
      position: absolute;
      left: -9999em;
      margin-bottom: 10px
    }
  }

  h3 {
    margin-bottom: 5px;
  }

  .lead-in {
    margin-bottom: 10px;
  }

  ol {
    list-style: decimal;
    margin-left: 1.5em;
    margin-bottom: 10px;

    li {
      margin-bottom: 5px;
    }
  }
}

.framework-agreement-section-first {
  @extend %framework-agreement-section;
  border-top: none;
}
