.sidebar-searchbox {
  margin: 0;

  >div {
    padding:0 1em 1em 1em;

    .sidebar-searchbox {
      width: 100%;
      outline-offset: 0;
      border: 2px solid #bbbbbb;
      border-radius: 0;
      background-color: #fff;
      padding: 0.4em !important;
    }
  }

  .sidebar-searchbutton {
    margin: 1em 0 0 0;
  }
}

.marketplace-sidebar-filter-btn-box {
  padding: 0 1em;
}

.search-controls {

  border-bottom: 1px solid $light-grey;
  padding-bottom: 1.5em;
  @include media ($mobile) {
    padding-bottom: 2em;
  }

  div[class^="sort-order"] {
    float: none;
    @include media ($mobile) {
      float: left;
    }
  }

  .results-shown {
    float: none;
    @include media($mobile) {
      float: right;
    }
  }

  & + .list-horizontal {
    clear: both;
  }
}

.sidebar {
}
