.align-with-heading {
    margin-top: 45px;
}

.align-with-heading .button-save {
    margin-top: 0px;
}

.last-edited {
    margin: 10px 0 15px 0;
}

.move-to-complete-hint {
    color: $secondary-text-colour;
}
