.align-with-heading {
    margin-top: 45px;
}

.align-with-heading .button-save {
    margin-top: 0px;
}

.space-underneath {
  margin-bottom: $gutter * 1.5;
}

.last-edited {
    margin: 10px 0 15px 0;
}

.move-to-complete-hint {
    color: $secondary-text-colour;
}

.summary-item-field-answer-required {
    color: $secondary-text-colour;
}
