%visuallyhidden {
  position: absolute;
  left: -9999em;
}

.single-question-page {
  .question {
    margin: 0 0 ($gutter * 1.5);
  }

  .hint {
    color: $text-colour;

    p {
      margin-bottom: 5px;
    }
  }

  /* Visual users have the h1 as the label */
  form label {
    @extend %visuallyhidden;
  }

  /* Validation */
  form .validation-wrapper label {
    position: static;
    left: auto;

    .question-heading {
      @extend %visuallyhidden;
    }
  }
}
