%visuallyhidden {
  position: absolute;
  left: -9999em;
}

.single-question-page {
  .question,
  label + .question-advice,
  label + .hint {
    margin-top: 0;
  }

  p {
    padding-bottom: 15px;
  }

  /* Visual users have the h1 as the label */
  form label [class^="question-heading"] {
    @extend %visuallyhidden;
  }
}
