.single-question-page {
<<<<<<< HEAD
  .question {
    margin: 0 0 ($gutter * 1.5);
  }

=======
>>>>>>> Fixes for HTML/CSS
  .hint {
    color: $text-colour;
  }

  /* Visual users have the h1 as the label */
  form label {
    position: absolute;
    left: -9999em;
  }
}
