@import "conditionals";

.supplier-declaration {

  .question-heading {
    font-size: 19px;
    font-weight: normal;
  }
  .question-heading li,
  .hint li {


    margin: 10px 0 10px 20px;
    list-style: disc;

    > ul {
        li {
          list-style: none;
        } 
      }

    > ul li:before {
      content: '\2013';
      position: absolute;
      margin-left: -20px;
    }
  }

  .validation-wrapper li {
     margin-left: 20px;
   }

  .question-number {

    @include core-19;
    font-weight: bold;
    display: inline-block;
    height: 0.5em;

    @include media(mobile) {
      line-height: 1.25;
      font-size: 19px;
    }

    @include media(tablet) {
      line-height: 1.25;
      font-size: 19px;
    }

    @include media(1080px) {
      display: block;
      height: 50px;
    }

  }

}

.section-description {

  @include copy-19;

  p {
    margin-bottom: $gutter/2;
  }

}
