@import "conditionals";

.supplier-declaration {

  .question-heading,
  .question-heading-with-hint {
    font-size: 19px;
    font-weight: normal;
  }
  .question-heading li,
  .question-heading-with-hint li,
  .hint li {

    margin: 10px 0 10px 10px;
    list-style: disc;

    @include media(tablet) {
      margin-left: 0;
    }

  }

  .validation-wrapper li {
     margin-left: 20px;
   }
      
  .question-number {
    @include bold-19;
  }

  .validation-wrapper {

    overflow: visible;

    .question-number {
      margin-left: -20px;
    }

  }

}
