.content-table {
  th {
    font-weight: normal;
  }
  td {
    // font-weight: bold;
  }
  th,
  td {
    border-bottom: 0;
  }
}

.roles-and-rates {
  .content-table {

    @include media($tablet) {
      width: 70%;
    }
  }
}
