.content-table {
  width: 100%;
  border-collapse: collapse;
  border: solid 1px $light-grey;

  tr:nth-child(even) {
    background-color: $non-white;
  }

  td,
  th {
    border-bottom: solid 1px $light-grey;
    border-right: solid 1px $light-grey;
    padding: $tiny-spacing;
    text-align: left;

    @include media($tablet) {
      padding: $small-spacing;
      font-size: initial;
    }
  }

  thead {
    border-bottom: solid 2px $grey;
  }

  caption {
    font-size: 1.0625rem;
    padding-bottom: 1em;
    text-align: left;
  }

  .summary-item-field-headings {
    th {
      border-bottom: 0;
    }
  }

  &.summary-item-body-no-bottom-border-row-bold-borders-text-large {
    tr:first-child {
      border-top: 0;
    }
  }
}