h1 {
  font-weight: $bold-font-weight;
}

h2 {
  font-size: rem(26);
  font-weight: $bold-font-weight;
  margin-bottom: $small-spacing;

  .contrast-headings & {
    font-weight: $base-font-weight;
    margin-bottom: $tiny-spacing;
  }
}

h3 {
  font-size: rem(20);
}

.bigger {
  font-size: rem(24);
}

.badge--beta {
  background-color: $white;
  color: #0098b0;
  margin-top: $small-spacing;
  padding: .3em .6em;
}

$badges: (
  'new':      $badge-colour--new,
  );

@each $badge-type, $colour in $badges {
  .badge--#{$badge-type} {
    display: inline-block;
    background-color: $colour;
    border-radius: $large-border-radius;
    padding: $tiny-spacing $small-spacing;
    line-height: 1;
    letter-spacing: 1px;
    color: lighten($colour, 75%);
    font-size: rem(14);
  }
}

.badge--new {
  color: $white !important;
  border: 0 none !important;
  margin-left: $tiny-spacing;
}

%base-badge {
  display: inline-block;
  border-radius: $large-border-radius;
  color: $non-black;
  margin-top: $small-spacing;
  margin-bottom: $small-spacing;
  padding: .4em .8em;
  line-height: 1;
  letter-spacing: 1px;
  font-size: rem(14);
}

.badge--open-to-all {
  @extend %base-badge;

  background-color: $light-green;
}

.badge--open-to-selected {
  @extend %base-badge;

  background-color: $light-blue;
}

span {
  .number-results &,
  &.search-summary-count {
    font-size: rem(32);
    font-weight: $bold-font-weight;
  }
}

.callout--hero {
  @extend %base-callout;
  @include position(relative, null);
  background: $darker-aqua;
  box-shadow: 0 0 0 transparent;

  @include media($sm-desktop) {
    @include position(absolute, null $tiny-spacing*3 (-$base-spacing*4.375) null);
    @include span-columns(5 of 16);
    @include shift(2);
    margin: 0;
  }

  h2 {
    @extend h3;
    font-weight: $base-font-weight;
  }

  p {
    margin-bottom: 0;
  }
}

.secondary-page {
  h1 {
    font-size: rem(28);
    margin: 0.8em 0 0.4em;
    @include media($tablet) {
      font-size: rem(32);
    }
  }

  blockquote {
    margin-bottom: 2em;
  }
}

.has-intro {
  .content-main {
    p:first-of-type {
      @extend h3;
      font-weight: $base-font-weight;
      margin-bottom: $base-spacing;
    }
  }
}

.content-details {

  article {
    h1 {
      font-size: rem(28);
      margin: $base-spacing/2 0 0.4em;
      @include media($tablet) {
        font-size: rem(32);
      }
    }
  }

  h2 {
    font-weight: $heading-font-weight;

    @include media($tablet) {
      flex: 0 0 21.5%;
      margin-right: $base-spacing;

      small {
        font-size: 65%;
        font-weight: normal;
      }
    }
  }

  .content-table {

    td, th {

      &:nth-child(1) {
        font-weight: 700;
        width: 40%;
      }
    }
  }
}

.callout--info {
  @extend .callout;
  margin: 1.6em 0;
  box-shadow: none;
  background-color: $light-blue;

  @media print {
    border: 1px solid $non-black;
  }

  h2 {
    margin: 1.2rem 0 .4rem;

    & + p {
      margin-bottom: $medium-spacing;
    }
  }

  p {
    margin-bottom: 0;
  }
}

// Validation
.validation-masthead {
  background: rgba(red,0.1);
  padding: 1.353em;
  margin: 2em 0;

  .validation-masthead-heading {
    font-weight: $bold-font-weight;
  }

  a {
    width: 99%;
    border-bottom: 1px solid black;
    line-height: 2em;

    &::after {
      content: "\A";
      white-space: pre;
    }
  }
}

.validation-message {
  display: block;
  font-size: rem(17);
  font-weight: $base-font-weight;
}

.banner-warning-without-action {
  @extend .callout;
  margin: 1.6em 0;
  box-shadow: none;
  background-color: $light-blue;

  @media print {
    border: 1px solid $non-black;
  }

  h2 {
    margin-top: 0.8em;
  }
}

.about-us {
  blockquote {
    quotes: '\2018''\2019''\2018''\2019';
  }
}

.catalogue {
  hr:first-of-type {
    margin: 2em 0 3em;
  }
}

.sidebar {

  h2 {
    @include clearfix;
    @extend h3;
    margin-top: 0;
    font-weight: $base-font-weight;

    span {
      @extend p;
      float: right;
      margin: .3rem 0 0;
    }
  }
}
