#input-clarification_question {
  height: 20.75em;
}

.updates-document-tables {

  table.summary-item-body tbody td {
    vertical-align: middle;
  }

  .document-link-with-icon {
    width: auto;
    @include core-16;
    padding-top: 0;
    padding-bottom: 0;
  }

}
