// Path to assets for use with file-url()
$path: "/static/images/";

// GOV.AU UI Kit
@import 'gov-au-ui-kit/ui-kit';

// Custom styles
@import 'grid-settings';
@import 'variables';
@import 'icons';
@import 'colours';
@import 'typography';
@import 'buttons';
@import 'links';
@import 'tables';
@import 'block-elements';
@import 'forms';
@import 'navigation';
@import 'pagination';
@import 'lists';
@import 'accordions';
@import 'images';
@import 'video';
@import 'timelines';
@import 'page-header';
@import 'page-footer';
@import 'ie';
@import 'print';
@import 'helpers';
@import 'search';
// @import 'breadcrumbs';
@import 'buyerpages';