// GOVUK Front-end toolkit styles
@import "_phase_banner.scss";
@import "_grid_layout.scss";
@import "_typography.scss";
@import "_url-helpers.scss";

// Path to assets for use with file-url()
$path: "/suppliers/static/images/";

// Digital Marketplace front end toolkit components
@import "forms/word-counter";
@import "forms/list-entry";

@import "_reset.scss";

#wrapper, .wrapper {
  @extend %site-width-container;
}

#content {
  @extend %contain-floats;
  clear: both;
  margin-bottom: $gutter * 2;
}

// Digital Marketplace Front-end toolkit styles
@import "toolkit/_breadcrumb.scss";
@import "toolkit/_browse-list.scss";
@import "toolkit/_buttons.scss";
@import "toolkit/_contact-details";
@import "toolkit/_digital-marketplace-colours.scss";
@import "toolkit/_document";
@import "toolkit/_grids.scss";
@import "toolkit/_instruction-list.scss";
@import "toolkit/_link-button";
@import "toolkit/_notification-banners.scss";
@import "toolkit/_page-headings.scss";
@import "toolkit/_service-id.scss";
@import "toolkit/_temporary-message.scss";
@import "toolkit/forms/_hint.scss";
@import "toolkit/forms/_pricing.scss";
@import "toolkit/forms/_questions.scss";
@import "toolkit/forms/_selection-buttons.scss";
@import "toolkit/forms/_summary.scss";
@import "toolkit/forms/_textboxes.scss";
@import "toolkit/forms/_upload.scss";
@import "toolkit/forms/_validation.scss";
@import "toolkit/search/_search-result.scss";

/* Blocks shared between multiple selectors */
@import "shared_placeholders/_temporary-messages.scss";

/* Classes shared between multiple apps */
@import "shared_scss/_lists.scss";

// Suppliers app styles
@import "_text.scss";
@import "_footer.scss";
@import "_forms.scss";

@import "_single-question-page.scss";
@import "_single-summary-page.scss";

@import "_service-status.scss";
@import "_view-service-link.scss";
@import "_framework-application.scss";
@import "_assurance-question.scss";
@import "_supplier-declaration.scss";
@import "_updates.scss";
@import "_service_submission.scss";
@import "_brief-response.scss";

@import "_create_supplier.scss";

.filter-field-text {
  @include core-16;
  @include box-sizing(border-box);
  width: 100%;
  padding: 5px;
}

.return-to-top {
  display: block;
  @include core-19;
  margin: (1.5 * $gutter) 0 (2 * $gutter);
}
