// Path to assets for use with file-url()
$path: "/suppliers/static/images/";

// Temporarily needed until all components have migrated to govuk-frontend
// and elements which need to be styled should have class names associated to them
@import "overrides/govuk-template/_govuk-template";

// Digital Marketplace Front-end toolkit shared CSS placeholders used by other DM toolkit styles
@import "toolkit/shared_placeholders/_dm-typography.scss";
@import "toolkit/shared_placeholders/_mixins.scss";
@import "toolkit/shared_placeholders/_placeholders.scss";
@import "toolkit/shared_placeholders/_temporary-messages.scss";

// Digital Marketplace Front-end toolkit shared styles between multiple apps
@import "toolkit/shared_scss/_dmspeak.scss";
@import "toolkit/shared_scss/_lists.scss";

// Digital Marketplace Front-end toolkit styles (only import the files you need)
@import "toolkit/_browse-list.scss";
@import "toolkit/_buttons.scss";  // Can remove after upgrading temporary-message component
@import "toolkit/_contact-details";
@import "toolkit/_document";
@import "toolkit/_grids.scss";
@import "toolkit/_instruction-list.scss";
@import "toolkit/_notification-banners.scss";
@import "toolkit/_proposition-header.scss";
@import "toolkit/_service-id.scss";
@import "toolkit/_temporary-message.scss";
@import "toolkit/_text-diff.scss";
@import "toolkit/forms/_combinations.scss";
@import "toolkit/forms/_checkbox-tree.scss";  // Has to be imported after _combinations.scss, which defines the
                                              // $border-width variable that _checkbox-tree.scss relies upon. :sad:
@import "toolkit/forms/_hint.scss";
@import "toolkit/forms/_list-entry.scss";
@import "toolkit/forms/_pricing.scss";
@import "toolkit/forms/_questions.scss";
@import "toolkit/forms/_selection-buttons.scss";
@import "toolkit/forms/_summary.scss";
@import "toolkit/forms/_textboxes.scss";
@import "toolkit/forms/_upload.scss";
@import "toolkit/forms/_validation.scss";
@import "toolkit/forms/_word-counter.scss";

// GOV.UK Design System (compatible with old toolkit/elements)
$govuk-assets-path: '/suppliers/static/';
$govuk-images-path: '/suppliers/static/images/';
$govuk-fonts-path: '/suppliers/static/fonts/';
$govuk-compatibility-govukfrontendtoolkit: true;
$govuk-compatibility-govukelements: true;
// $govuk-global-styles Only affects the font colour of <a> without govuk-link class
// and padding/font size of any <p> without govuk-body classname
// https://github.com/alphagov/govuk-frontend/blob/v2.13.0/src/settings/_global-styles.scss
// https://github.com/alphagov/govuk-frontend/blob/v2.13.0/src/core/_global-styles.scss
$govuk-global-styles: true;
@import "node_modules/govuk-frontend/all";

// Digital Marketplace Components
@import "node_modules/digitalmarketplace-govuk-frontend/digitalmarketplace/all";

// App-specific styles
@import "_action_links.scss";
@import "_create_supplier.scss";
@import "_framework-application.scss";
@import "_question.scss";
@import "_service-status.scss";
@import "_service_submission.scss";
@import "_single-summary-page.scss";
@import "_supplier-declaration.scss";
@import "_updates.scss";

// Overrides
@import "overrides/_list-entry";
@import "overrides/_notifications_banner";
@import "overrides/_summary-list";
@import "overrides/_radios";
@import "overrides/_temporary-messages";
@import "overrides/_task-list";
@import "overrides/_tags";
@import "overrides/_table";
@import "overrides/_pending-services-table";

// Misc styles
.authorisation-form-wrapper {

  margin-top: 40px;

  form .question {
    margin: 10px 0 15px 0;
  }

  .button-save {
    margin-top: 0;
  }
}

.padding-bottom-small {
  padding-bottom: 10px;
}

.browse-list-item-link {
  text-decoration: underline;
}
