// Path to assets for use with file-url()
$path: "/static/images/";

// GOV.AU UI Kit
@import './vendor/bourbon/bourbon';
@import './vendor/neat/neat';

@import 'gov-au-ui-kit/grid-settings';
@import 'gov-au-ui-kit/variables';
@import 'gov-au-ui-kit/icons';
@import 'gov-au-ui-kit/colours';
@import 'gov-au-ui-kit/typography';
@import 'gov-au-ui-kit/buttons';
@import 'gov-au-ui-kit/links';
@import 'gov-au-ui-kit/tables';
@import 'gov-au-ui-kit/forms';
@import 'gov-au-ui-kit/lists';

@import 'grid-settings';
@import 'variables';
@import 'icons';
@import 'colours';
@import 'typography';
@import 'links';
@import 'tables';
@import 'forms';
@import 'buyerpages';
@import 'print';

button,
.button,
[role='button'],
[type='button'],
header[role="banner"],
.global-breadcrumb,
.skip-to,
.visually-hidden,
.visuallyhidden,
.summary-item-body tbody tr td:last-of-type a,
footer,
.m-t-1 a {
  display: none;
}

.content-main {
  .signatures-section {
    p {
      &::before {
        width: 90%;
      }
    }
  }
}
