@import "_phase_banner.scss";
@import "_grid_layout.scss";
@import "_typography.scss";
@import "_url-helpers.scss";

// Path to assets for use with file-url()
$path: "/suppliers/static/images/";

// Digital Marketplace front end toolkit components
@import "forms/word-counter";
@import "forms/list-entry";

@import "_reset.scss";

#wrapper {
  @extend %site-width-container;
}

#content {
  @extend %contain-floats;
  clear: both;
  margin-bottom: $gutter * 2;
}

@import "toolkit/_digital-marketplace-colours.scss";
@import "toolkit/_buttons.scss";
@import "toolkit/_breadcrumb.scss";
@import "toolkit/_browse_list.scss";
@import "toolkit/_page-headings.scss";
@import "toolkit/search/_search-result.scss";
@import "toolkit/_notification-banners.scss";
@import "toolkit/_service-id.scss";
@import "toolkit/document";
@import "toolkit/forms/_questions.scss";
@import "toolkit/forms/_summary.scss";
@import "toolkit/forms/_hint.scss";
@import "toolkit/forms/_selection-buttons.scss";
@import "toolkit/forms/_textboxes.scss";
@import "toolkit/forms/_validation.scss";
@import "toolkit/forms/_upload.scss";

@import "_text.scss";
@import "_grids.scss";
@import "_footer.scss";

@import "_service-status.scss";
@import "_return-link.scss";
@import "_framework-application.scss";

.filter-field-text {
  @include core-16;
  @include box-sizing(border-box);
  width: 100%;
  padding: 5px;
}

.return-to-top {
  display: block;
  @include core-19;
  margin: (1.5 * $gutter) 0 (2 * $gutter);
}
