{% extends "_base_page.html" %}

{% block main_content %}
<header class="page-heading">
    <h1>Change password</h1>
</header>
<form action="{{ url_for('.update_password') }}" method="POST">

    <div class="question">
        <label for="password" class="question-heading-with-hint">
            Password
        </label>

        <input type="password" name="password" id="password" class="text-box" value=""/>
    </div>

    <div class="question">
        <label for="confirm-password" class="question-heading">
            Confirm password
        </label>

        <p class="hint">
            Repeat password used above
        </p>
        <input type="password" name="confirm-password" id="confirm-password" class="text-box" value=""/>
    </div>


    <button class="button-save">Change password</button>
</form>
{% endblock %}
