{% extends "_base_page.html" %}

{% block page_title %}Create account – Digital Marketplace{% endblock %}

{% block body_classes %}brief-builder registration-pages{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Home",
      },
      {
        "label": "Create account"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

{%
  with
  smaller = true,
  heading = "Create an account for " ~ supplier_name,
  context = email_address
%}
  {% include "toolkit/page-heading.html" %}
{% endwith %}

  {% if form.errors %}
    <div class="callout--warning" aria-labelledby="validation-masthead-heading" aria-role="group" tabindex="-1">
      <p class="validation-masthead-heading" id="validation-masthead-heading">
        There was a problem with the details you gave:
      </p>
      <ul>
      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        <li><a href="#{{ form[field_name].name }}" class="validation-masthead-link">{{ error }}</a></li>
        {% endfor %}
      {% endfor %}
      </ul>
    </div>
  {% endif %}

    <form autocomplete="off" action="{{ url_for('.submit_create_user', token=token) }}" method="POST" id="createUserForm">

        <div class="grid-row">
            <div class="column-two-thirds">
                {{ form.csrf_token }}

                    <div class="question">
                        {{ form.name.label(class="question-heading-with-hint") }}
                        {% if form.name.errors %}
                        {{ form.name(class="text-box invalid", autocomplete="off") }}
                        {% else %}
                        {{ form.name(class="text-box", autocomplete="off") }}
                        {% endif %}
                    </div>

                <div class="question">
                    {{ form.password.label(class="question-heading-with-hint") }}
                    <p class="hint">
                      Must be between 10 and 50 characters
                    </p>
                    {% if form.password.errors %}
                    {{ form.password(class="text-box invalid", autocomplete="off", autofocus="autofocus") }}
                    {% else %}
                    {{ form.password(class="text-box", autocomplete="off", autofocus="autofocus") }}
                    {% endif %}
                </div>

            <div class="question top">
                {% set accept_terms_label %}I accept the <a href="/terms-of-use">Terms of Use</a>.{% endset %}
                {% if form.accept_terms.errors %}
                    {{ form.accept_terms(class="invalid") }}
                {% else %}
                    {{ form.accept_terms }}
                {% endif %}
                {{ form.accept_terms.label(text=accept_terms_label) }}
            </div>

            {%
              with
              type = "save",
              role = "button",
              label = "Create account"
            %}
              {% include "toolkit/button.html" %}
            {% endwith %}
            </div>
        </div>
    </form>

        </p>
    </div>

{% endblock %}
