{% extends "_base_page.html" %}

{% block page_title %}Create contributor account – Digital Marketplace{% endblock %}

{% block main_content %}

{% if not token %}
<header class="page-heading-smaller">
  <h1>Expired link</h1>
</header>
<p>
    The link you used to create an account may have expired.<br/>
    Check you’ve entered the correct link or ask the person who invited you to send a new invitation.<br/>
    If you still can’t create a contributor account, email <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a>
</p>
{% else %}

{%
  with
  smaller = true,
  heading = "Create contributor account for " ~ supplier_name,
  context = email_address
%}
  {% include "toolkit/page-heading.html" %}
{% endwith %}


    <form autocomplete="off" action="{{ url_for('.submit_create_user', encoded_token=token) }}" method="POST" id="createUserForm">

        <div class="grid-row">
            <div class="column-two-thirds">
                {{ form.hidden_tag() }}

                {% if form.name.errors %}
                <div class="validation-wrapper">
                    {% endif %}
                    <div class="question">
                        {{ form.name.label(class="question-heading-with-hint") }}
                        <p class="hint">
                            Enter the name to be referred to on the Digital Marketplace
                        </p>
                        {% if form.name.errors %}
                        <p class="validation-message" id="error-name-textbox">
                            {% for error in form.name.errors %}{{ error }}{% endfor %}
                        </p>
                        {% endif %}
                        {{ form.name(class="text-box", autocomplete="off") }}
                    </div>
                    {% if form.name.errors %}
                </div>
                {% endif %}

                {% if form.password.errors %}
                <div class="validation-wrapper">
            {% endif %}
                <div class="question">
                    {{ form.password.label(class="question-heading-with-hint") }}
                    <p class="hint">
                      Must be between 10 and 50 characters
                    </p>
                    {% if form.password.errors %}
                    <p class="validation-message" id="error-password-textbox">
                        {% for error in form.password.errors %}{{ error }}{% endfor %}
                    </p>
                    {% endif %}
                    {{ form.password(class="text-box", autocomplete="off") }}
                </div>
            {% if form.password.errors %}
                </div>
            {% endif %}

            {%
              with
              type = "save",
              label = "Create contributor account"
            %}
              {% include "toolkit/button.html" %}
            {% endwith %}
            </div>
        </div>
    </form>

        </p>
    </div>

{% endif%}
    {% endblock %}
