{% extends "_base_page.html" %}

{% block main_content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        {% if category == 'error' %}
            <div class="banner-destructive-without-action">
        {% else %}
            <div class="banner-success-without-action">
        {% endif %}
            <p class="banner-message">
                {% if message == 'email_sent' %}
                If that Digital Marketplace supplier account exists, you will
                be sent an email containing a link to reset your password.
                {% endif %}
                
                {% if message == 'token_expired' %}
                The token supplied has expired. Password reset links are only
                valid for 24 hours. You can generate a new one using the form
                below.
                {% endif %}

                {% if message == 'token_invalid' %}
                The token supplied was invalid. You can generate a new one
                using the form below.
                {% endif %}
            </p>
    {% endfor %}
            </div>
{% endif %}
{% endwith %}

<header class="page-heading">
    <h1>Forgotten password</h1>
</header>

<form action="{{ url_for('.forgotten_password') }}" method="POST" id="forgotPasswordForm">

    <div class="question">
        <label for="email-address" class="question-heading-with-hint">
            Email address
        </label>

        <p class="hint">
            This is the email address used to register with the digital marketplace.
        </p>
        <input type="text" name="email-address" id="email-address" class="text-box" value=""/>
    </div>


    <button class="button-save">Send reset email</button>
</form>
{% endblock %}
