{% extends "_base_page.html" %}

{% block main_content %}
<header class="page-heading">
    <h1>Forgotten password</h1>
</header>
<form action="{{ url_for('.forgotten_password') }}" method="POST">

    <div class="question">
        <label for="email-address" class="question-heading-with-hint">
            Email address
        </label>

        <p class="hint">
            This is the email address used to register with the digital marketplace.
        </p>
        <input type="text" name="email-address" id="email-address" class="text-box" value=""/>
    </div>


    <button class="button-save">Send reset email</button>
</form>
{% endblock %}
