{% extends "_base_page.html" %}

{% block page_title %}Log in – Digital Marketplace{% endblock %}

{% block main_content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
    {% if category == 'error' %}
      <div class="banner-destructive-without-action">
    {% elif category != 'must_login' %}
      <div class="banner-success-without-action">
    {% endif %}
            {% if message == 'no_account' %}
              <p class="banner-message">
                Make sure you've entered the right email address and password.
                Accounts are locked after 5 failed attempts. If you think your
                account has been locked, email
                <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a>.
              </p>
            {% elif message == 'password_updated' %}
              <p class="banner-message">
                You have successfully changed your password.
              </p>
            {% elif message == 'password_not_updated' %}
              <p class="banner-message">
                Could not update password due to an error.
              </p>
            {% elif category != 'must_login' %}
              {{ message }}
            {% endif %}
    {% if category != 'must_login' %}
      </div>
    {% endif %}
{% endfor %}
{% endif %}
{% endwith %}

{% if form.errors|length > 1 %}
    <div class="validation-masthead" aria-labelledby="validation-masthead-heading">
        <h3 class="validation-masthead-heading" id="validation-masthead-heading">
            There was a problem with your answer to the following questions
        </h3>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        <a href="#example-textbox" class="validation-masthead-link">{{ form[field_name].label }}</a>
        {% endfor %}
        {% endfor %}
    </div>
{% endif %}

{% with
  heading = "Log in to the Digital Marketplace"
%}
  {% include "toolkit/page-heading.html" %}
{% endwith %}

<form autocomplete="off" action="{{ url_for('.process_login', next=next) }}" method="POST">
    <div class="grid-row">
        <div class="column-two-thirds">

            {{ form.hidden_tag() }}

            {% if form.email_address.errors %}
                <div class="validation-wrapper">
            {% endif %}
                <div class="question">
                    {{ form.email_address.label(class="question-heading-with-hint") }}
                    <p class="hint">
                        Enter the email address you used to register with the Digital Marketplace
                    </p>
                    {% if form.email_address.errors %}
                    <p class="validation-message" id="error-email-address-textbox">
                        {% for error in form.email_address.errors %}{{ error }}{% endfor %}
                    </p>
                    {% endif %}
                    {{ form.email_address(class="text-box", autocomplete="off") }}
                </div>
            {% if form.email_address.errors %}
                </div>
            {% endif %}

            {% if form.password.errors %}
                <div class="validation-wrapper">
            {% endif %}
                <div class="question">
                    {{ form.password.label(class="question-heading") }}
                    {% if form.password.errors %}
                    <p class="validation-message" id="error-password-textbox">
                        {% for error in form.password.errors %}{{ error }}{% endfor %}
                    </p>
                    {% endif %}
                    {{ form.password(class="text-box", autocomplete="off") }}
                </div>
            {% if form.password.errors %}
                </div>
            {% endif %}

            {%
              with
              type = "save",
              label = "Log in"
            %}
              {% include "toolkit/button.html" %}
            {% endwith %}
            <header class="page-heading-smaller">
                <p class="context">
                    <a href="{{ url_for('.request_password_reset') }}">Forgotten password</a>
                </p>
            </header>
        </div>
    </div>
</form>
{% endblock %}
