{% extends "_base_page.html" %}

{% block page_title %}Log in – Digital Marketplace{% endblock %}

{% block main_content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
    {% if category == 'error' %}
    <div class="banner-destructive-without-action">
    {% else %}
    <div class="banner-success-without-action">
    {% endif %}
        <p class="banner-message">
            {% if message == 'no_account' %}
            Sorry, we couldn't log you in with that username and password.
            Accounts are locked after five failed attempts. If you think your
            account has been locked, please contact
            <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a>.

            {% elif message == 'password_updated' %}
            You have successfully changed your password.

            {% elif message == 'password_not_updated' %}
            Could not update password due to an error.

            {% else %}
            {{ message }}
            {% endif %}
        </p>
    </div>
{% endfor %}
{% endif %}
{% endwith %}

{% if form.errors|length > 1 %}
    <div class="validation-masthead" aria-labelledby="validation-masthead-heading">
        <h3 class="validation-masthead-heading" id="validation-masthead-heading">
            There was a problem with your answer to the following questions
        </h3>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        <a href="#example-textbox" class="validation-masthead-link">{{ form[field_name].label }}</a>
        {% endfor %}
        {% endfor %}
    </div>
{% endif %}

<header class="page-heading">
    <h1>Supplier login</h1>
</header>

<form autocomplete="off" action="{{ url_for('.process_login', next=next) }}" method="POST">

    {{ form.hidden_tag() }}

    {% if form.email_address.errors %}
        <div class="validation-wrapper">
    {% endif %}
        <div class="question">
            {{ form.email_address.label(class="question-heading-with-hint") }}
            <p class="hint">
                Enter the email address you used to register with the Digital Marketplace
            </p>
            {% if form.email_address.errors %}
            <p class="validation-message" id="error-email-address-textbox">
                {% for error in form.email_address.errors %}{{ error }}{% endfor %}
            </p>
            {% endif %}
            {{ form.email_address(class="text-box", autocomplete="off") }}
        </div>
    {% if form.email_address.errors %}
        </div>
    {% endif %}

    {% if form.password.errors %}
        <div class="validation-wrapper">
    {% endif %}
        <div class="question">
            {{ form.password.label(class="question-heading") }}
            {% if form.password.errors %}
            <p class="validation-message" id="error-password-textbox">
                {% for error in form.password.errors %}{{ error }}{% endfor %}
            </p>
            {% endif %}
            {{ form.password(class="text-box", autocomplete="off") }}
        </div>
    {% if form.password.errors %}
        </div>
    {% endif %}

    <button class="button-save">Log in</button>
    <header class="page-heading-smaller">
        <p class="context">
            <a href="{{ url_for('.request_password_reset') }}">Reset password</a>
        </p>
    </header>
</form>
{% endblock %}
