{% extends "_base_page.html" %}

{% block main_content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="banner-destructive-without-action">
            {% else %}
                <div class="banner-success-without-action">
            {% endif %}
                    <p class="banner-message">
                        {% if message == 'email_sent' %}
                        If that Digital Marketplace supplier account exists, you will
                        be sent an email containing a link to reset your password.
                        {% endif %}
            
                        {% if message == 'token_expired' %}
                        The token supplied has expired. Password reset links are only
                        valid for 24 hours. You can generate a new one using the form
                        below.
                        {% endif %}
            
                        {% if message == 'token_invalid' %}
                        The token supplied was invalid. You can generate a new one
                        using the form below.
                        {% endif %}
                    </p>
                </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<header class="page-heading">
    <h1>Reset password</h1>
</header>
<p class="lede">
    Enter your email address and we'll send you a link so you can reset your
    password. Password reset links are only valid for 24 hours. You can
    request a new password if your reset link has expired.
</p>

<form action="{{ url_for('.request_password_reset') }}" method="POST" id="resetPasswordForm">
    
    {{ form.hidden_tag() }}
    
    {% if form.email_address.errors %}
        <div class="validation-wrapper">
    {% endif %}
        <div class="question">
            {{ form.email_address.label(class="question-heading-with-hint") }}
            <p class="hint">
                Enter the email address you used to register with the Digital Marketplace
            </p>
            {% if form.email_address.errors %}
            <p class="validation-message" id="error-email-address-textbox">
                {% for error in form.email_address.errors %}{{ error }}{% endfor %}
            </p>
            {% endif %}
            {{ form.email_address(class="text-box") }}
        </div>
    {% if form.email_address.errors %}
        </div>
    {% endif %}

    <button class="button-save">Send reset email</button>
</form>
{% endblock %}
