{% extends "_base_page.html" %}

{% block page_title %}Reset password – Digital Marketplace{% endblock %}

{% block main_content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="banner-destructive-without-action">
            {% else %}
                <div class="banner-success-without-action">
            {% endif %}
                    <p class="banner-message">
                        {% if message == 'email_sent' %}
                        If the email address you've entered belongs to a Digital Marketplace account,
                        we'll send a link to reset the password.

                        {% elif message == 'token_expired' %}
                        This password reset link has expired. Enter your email address and we’ll send you a new one.
                        Password reset links are only valid for 24 hours.

                        {% elif message == 'token_invalid' %}
                        This password reset link is invalid. Enter your email address and we’ll send you a new one.
                        Password reset links are only valid for 24 hours.

                        {% else %}
                        {{ message }}
                        {% endif %}
                    </p>
                </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<header class="page-heading">
    <h1>Reset password</h1>
</header>
<p class="lede">
    Enter your email address and we'll send you a link so you can reset your
    password. Password reset links are only valid for 24 hours.
</p>

<form autocomplete="off" action="{{ url_for('.request_password_reset') }}" method="POST" id="resetPasswordForm">
    <div class="grid-row">
        <div class="column-two-thirds">

            {{ form.hidden_tag() }}

            {% if form.email_address.errors %}
                <div class="validation-wrapper">
            {% endif %}
                <div class="question">
                    {{ form.email_address.label(class="question-heading-with-hint") }}
                    <p class="hint">
                        Enter the email address you used to register with the Digital Marketplace
                    </p>
                    {% if form.email_address.errors %}
                    <p class="validation-message" id="error-email-address-textbox">
                        {% for error in form.email_address.errors %}{{ error }}{% endfor %}
                    </p>
                    {% endif %}
                    {{ form.email_address(class="text-box", autocomplete="off") }}
                </div>
            {% if form.email_address.errors %}
                </div>
            {% endif %}

            {%
              with
              type = "save",
              label = "Send reset email"
            %}
              {% include "toolkit/button.html" %}
            {% endwith %}
        </div>
    </div>
</form>
{% endblock %}
