{% extends "_base_page.html" %}

{% block page_title %}Reset password – Digital Marketplace{% endblock %}

{% block main_content %}

{% if form.errors|length > 1 %}
    <div class="validation-masthead" aria-labelledby="validation-masthead-heading">
        <h3 class="validation-masthead-heading" id="validation-masthead-heading">
            There was a problem with your answer to the following questions
        </h3>
        {% for field_name, field_errors in form.errors|dictsort|reverse if field_errors %}
        {% for error in field_errors %}
        <a href="#example-textbox" class="validation-masthead-link">{{ form[field_name].label }}</a>
        {% endfor %}
        {% endfor %}
    </div>
{% endif %}

<header class="page-heading">
    <h1>Reset password</h1>
</header>
<p class="lede">
    Reset password for {{ email_address }}
</p>

<form autocomplete="off" action="{{ url_for('.update_password', token=token) }}" method="POST">

    <div class="grid-row">
        <div class="column-two-thirds">
            {{ form.hidden_tag() }}

            {% if form.password.errors %}
                <div class="validation-wrapper">
            {% endif %}
                <div class="question">
                    {{ form.password.label(class="question-heading-with-hint") }}
                    <p class="hint">
                      Must be between 10 and 50 characters
                    </p>
                    {% if form.password.errors %}
                    <p class="validation-message" id="error-password-textbox">
                        {% for error in form.password.errors %}{{ error }}{% endfor %}
                    </p>
                    {% endif %}
                    {{ form.password(class="text-box", autocomplete="off") }}
                </div>
            {% if form.password.errors %}
                </div>
            {% endif %}

            {% if form.confirm_password.errors %}
                <div class="validation-wrapper">
            {% endif %}
                <div class="question">
                    {{ form.confirm_password.label(class="question-heading-with-hint") }}
                    <p class="hint">
                        Repeat password used above
                    </p>
                    {% if form.confirm_password.errors %}
                    <p class="validation-message" id="error-confirm-password-textbox">
                        {% for error in form.confirm_password.errors %}{{ error }}{% endfor %}
                    </p>
                    {% endif %}
                    {{ form.confirm_password(class="text-box", autocomplete="off") }}
                </div>
            {% if form.confirm_password.errors %}
                </div>
            {% endif %}

            {%
              with
              type = "save",
              label = "Reset password"
            %}
              {% include "toolkit/button.html" %}
            {% endwith %}
        </div>
    </div>
</form>
{% endblock %}
