{% extends "_base_page.html" %}

{% block page_title %}We’ve sent an activation email - Digital Marketplace{% endblock %}

{% block phase_banner %}{% endblock %}

{% block body_classes %} registration-pages form-page {% endblock %}
{% block main_content %}
{%
  with
    heading = "We’ve sent an activation email"
%}
{% include "toolkit/page-heading.html" %}
{% endwith %}

<p>An email has been sent to {{  email_address }}. Click on the link in the email to activate your account. </p>
<p>If you don’t receive the email within the next 5 minutes or so, check to see if it’s been classified as
  spam or email us for assistance at <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au.</a>
</p>
{% endblock %}

