<!-- place holder page until pull requests that will use invite supplier code is finished -->

{% extends "_base_page.html" %}

{% block pageTitle %}
  Their email address - Add or remove contributors – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Add or remove contributors",
        "href": url_for('.list_users')
      },
      {
        "text": "Invite a contributor"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}

<h1 class="govuk-heading-l">Invite a contributor</h1>

<form autocomplete="off" action="{{ url_for('.invite_user') }}" method="POST">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ form.hidden_tag() }}

            {{ form.email_address }}

            {{ govukButton({
              "text": "Send invite",
            }) }}
        </div>
    </div>
</form>

{% endblock %}
