{% extends "_base_page.html" %}

{% block page_title %}Create contributor account – Digital Marketplace{% endblock %}

{% block main_content %}

{% if not token %}

<header class="page-heading-smaller">
  <h1>Expired link</h1>
</header>
<p>
    The link you used to create an account may have expired.<br/>
    Check you’ve entered the correct link or ask the person who invited you to send a new invitation.<br/>
    If you still can’t create a contributor account, email <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a>.
</p>
{% elif user.role == 'admin' %}

<header class="page-heading-smaller">
  <h1>You have an administrator account.</h1>
</header>
<p>
  Your account cannot be converted to a supplier account.
</p>

{% elif is_inactive_or_locked == 'inactive' %}

<header class="page-heading-smaller">
  <h1>Your account has been deactivated.</h1>
</header>
<p>
    Email <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a> to reactivate your account.
</p>

{% elif is_inactive_or_locked == 'locked' %}

<header class="page-heading-smaller">
  <h1>Your account has been locked.</h1>
</header>
<p>
    Email <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a> to unlock your account.
</p>

{% elif is_registered_to_another_supplier %}

<header class="page-heading-smaller">
  <h1>The details you provided are registered with another supplier.</h1>
</header>
<p>You were invited by ‘{{ is_registered_to_another_supplier.supplier_who_sent_the_invitation }}’</p>
<p>Your account is registered with ‘{{ is_registered_to_another_supplier.supplier_registered_with_account }}’</p>
<br>
<p>
  <a href="{{ url_for('.render_login') }}">Log in</a> to your {{ is_registered_to_another_supplier.supplier_registered_with_account }} account or email
  <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a> to register your account with a different organisation.
</p>

{% else %}

   {%
  with
  smaller = true,
  heading = "Create contributor account for  " ~ supplier_name,
  context = email_address
%}
  {% include "toolkit/page-heading.html" %}
{% endwith %}

    <form autocomplete="off" action="{{ url_for('.submit_update_user', encoded_token=token) }}" method="POST" id="updateUserForm">
        {{ form.hidden_tag() }}
        {%
          with
          type = "save",
          label = "Create contributor account"
        %}
          {% include "toolkit/button.html" %}
        {% endwith %}
    </form>

        </p>
    </div>

{% endif %}
{% endblock %}
