{% extends "_base_page.html" %}

{% block page_title %}Create contributor account – Digital Marketplace{% endblock %}

{% block main_content %}

{% if not token %}

<header class="page-heading-smaller">
  <h1>Expired link</h1>
</header>
<p>
    The link you used to create an account may have expired.<br/>
    Check you’ve entered the correct link or ask the person who invited you to send a new invitation.<br/>
    If you still can’t create a contributor account, email <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a>.
</p>

{% elif invalid_user %}

<header class="page-heading-smaller">
  <h1>The account associated with this email address is inactive, locked, or already registered with a different supplier.</h1>
</header>
<p>
    Please email <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a> for help with setting up a new contributor account.
</p>

{% else %}

   {%
  with
  smaller = true,
  heading = "Create contributor account for  " ~ supplier_name,
  context = email_address
%}
  {% include "toolkit/page-heading.html" %}
{% endwith %}

    <form autocomplete="off" action="{{ url_for('.submit_update_user', encoded_token=token) }}" method="POST" id="updateUserForm">
        {{ form.hidden_tag() }}
        <button class="button-save">Create contributor account</button>
    </form>

        </p>
    </div>

{% endif %}
{% endblock %}
