-e git+https://github.com/AusDTO/dto-digitalmarketplace-utils.git@25.21.4#egg=dto-digitalmarketplace-utils
-e git+https://github.com/AusDTO/dto-digitalmarketplace-content-loader.git@3d5759bbc1e6071db5bd4ea0daab3987d458ac3d#egg=dto-digitalmarketplace-content-loader
-e git+https://github.com/AusDTO/dto-digitalmarketplace-apiclient.git@6.12.2#egg=dto-digitalmarketplace-apiclient

-e .

pytest
pep8
requests-mock
mock
lxml
cssselect
freezegun
watchdog
nose
coverage
pytest-cov
python-coveralls
pytest-sugar
