Flask==0.10.1
Flask-Login==0.2.11
Flask-WTF==0.12
werkzeug==0.10.4
python-dateutil==2.4.2

git+https://github.com/alphagov/digitalmarketplace-utils.git@16.0.0#egg=digitalmarketplace-utils==16.0.0
git+https://github.com/alphagov/digitalmarketplace-apiclient.git@1.1.0#egg=digitalmarketplace-apiclient==1.1.0

markdown==2.6.2

# Required for SNI to work in requests
pyOpenSSL==0.14
ndg-httpsclient==0.3.3
pyasn1==0.1.7
