Flask==0.10.1
Flask-Login==0.2.11
Flask-WTF==0.12
werkzeug==0.10.4
python-dateutil==2.4.2

git+https://github.com/alphagov/digitalmarketplace-utils.git@20.0.0#egg=digitalmarketplace-utils==20.0.0
git+https://github.com/alphagov/digitalmarketplace-content-loader.git@1.1.0#egg=digitalmarketplace-content-loader==1.1.0
git+https://github.com/alphagov/digitalmarketplace-apiclient.git@3.8.0#egg=digitalmarketplace-apiclient==3.8.0

markdown==2.6.2
