# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

Flask==1.0.4
Flask-Login==0.5.0
Flask-WTF==0.14.3
itsdangerous==1.1.0

digitalmarketplace-content-loader
git+https://github.com/alphagov/digitalmarketplace-utils.git@56.1.1#egg=digitalmarketplace-utils==56.1.1
git+https://github.com/alphagov/digitalmarketplace-apiclient.git@21.8.0#egg=digitalmarketplace-apiclient==21.8.0
git+https://github.com/alphagov/govuk-frontend-jinja.git@v0.5.2-alpha#egg=govuk-frontend-jinja==0.5.2-alpha
