<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
  <p>Hello,</p>
  
  <p>A supplier has asked a question about ‘{{ brief_name }}’.</p>
  
  <p>They asked:</p>

  <div>
  {{ message }}
  </div>
  
  <p>
  You must publish this question with your answer on the ‘{{ brief_name }}’ page by {{ publish_by_date|dateformat }} at:<br>
  {% set questions_url %}{{ request.host_url[:-1] }}{{ config['BASE_PREFIX'] }}/buyers/frameworks/{{ framework_slug }}/requirements/{{ lot_slug }}/{{ brief_id }}/supplier-questions{% endset %}
  <a href="{{ questions_url }}">{{ questions_url }}</a>
  </p>

  <p>
  Read how to answer supplier questions at:<br>
  <a href="https://www.gov.uk/guidance/how-to-answer-supplier-questions-about-your-digital-outcomes-and-specialists-requirements">
    https://www.gov.uk/guidance/how-to-answer-supplier-questions-about-your-digital-outcomes-and-specialists-requirements
  </a>
  </p>
  
  <p>
  Thanks,<br>
  The Digital Marketplace team
  </p>
</body>
</html>
