<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
  Hello,<br /><br />
  
  A supplier has asked a question about ‘{{ brief_name }}’.<br /><br />
  
  They asked:<br /><br />
  
  {{ message }}<br /><br />
  
  You must publish this question with your answer on the ‘{{ brief_name }}’ page by {{ publish_by_date|dateformat }} at:<br /><br />
  
  <a href="https://www.digitalmarketplace.service.gov.uk/buyers/frameworks/{{ framework_slug }}/requirements/{{ lot_slug }}/{{ brief_id }}/supplier-questions">
    https://www.digitalmarketplace.service.gov.uk/buyers/frameworks/{{ framework_slug }}/requirements/{{ lot_slug }}/{{ brief_id }}/supplier-questions
  </a><br /><br />

  Read how to answer supplier questions at:<br /><br />
  
  <a href="https://www.gov.uk/guidance/how-to-answer-supplier-questions-about-your-digital-outcomes-and-specialists-requirements">
    https://www.gov.uk/guidance/how-to-answer-supplier-questions-about-your-digital-outcomes-and-specialists-requirements
  </a><br /><br />
  
  Thanks,<br /><br />
  The Digital Marketplace team<br />
</body>
</html>
