<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
  <p>Dear supplier,</p>

  <p>Your question about ‘{{ brief_name }}’ has been sent.</p>

  <p>You asked:</p>

  <div>
  ‘{{ message }}’
  </div>

  <p>
  Your question will be posted with the buyer’s answer on the <a href="{{ request.host_url[:-1] }}{{ config['BASE_PREFIX'] }}/{{ framework_slug }}/opportunities/{{ brief_id }}">'{{ brief_name }}' page</a>.
  </p>

  <p>
  Thanks,<br>
  The Digital Marketplace team
  </p>
</body>
</html>
