<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body style="font-family: Open Sans, sans-serif;">

<div style="padding: 0rem; border: 2px solid #007554; font-size: 2rem;"><p style="background: white; margin: 0;"><span style="background: #007554; padding: 1rem; display: inline-block; line-height: 2rem; width: 3rem; margin-right: 1rem;"><span style="text-align: center; width: 2rem; background: white; padding: 0.5rem; display: inline-block; color: #007554; border-radius: 2rem;">✔</span></span>We've received your application.</p></div>

<h2>What happens next</h2>

<p style="padding: 2rem; background: #def4f9;">Once the opportunity closes (on {{brief.dates.closing_time|datetimeformat }}) the buyer will review all responses.</p>

<h3>If you're shortlisted for evaluation</h3>
<p>
  <ul>
    <li>The buyer will be in touch to arrange your evaluation.</li>
    <li>The evaluation methods are listed in the opportunity: <a href="{{ request.url_root }}{{ brief.frameworkSlug }}/opportunities/{{ brief.id }}">'{{ brief_name }}' page</a></li>
  </ul>

<h3>If you're not successful</h3>
<ul>
  <li>The buyer has been asked to give you feedback.</li>
</ul>
<hr>
<h2>How you responded:</h2>

{% if brief_response.availability %}
<h3>Earliest start date</h3>
<p>{{ brief_response.availability }}</p>
{% endif %}

{% if brief_response.dayRate %}
<h3>Day rate</h3>
<p>${{ brief_response.dayRate }}</p>
{% endif %}

<h3>Essential requirements</h3>
{% for req, response in essential_requirements %}

<h4>• {{ req }}</h4>
<p>{{ response|striptags }}</p>

{% endfor %}

{% if nice_to_have_requirements %}
<h3>Nice-to-have requirements</h3>

{% for req, response in nice_to_have_requirements %}

<h4>• {{ req }}</h4>
<p>{{ response|striptags }}</p>

{% endfor %}
{% endif %}

<p>Thanks and good luck,<br>
The Marketplace team</p>
 <p><strong>Your feedback shapes the Marketplace</strong><br> 
   The Digital Marketplace is an agile development in Beta. This means it evolves over time in response to user needs. If you have any questions, feedback or would like to take part in user research, please email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.</p>

</body>
</html>
