<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
Hello {{ user_name }},
<br/><br/>
Thanks for sending your {{ framework.name|nbsp }} clarification question. All clarification questions and answers will be published regularly on the Digital Marketplace {{ framework.name|nbsp }} updates page:
<a href="{{ url_for('.framework_updates', framework_slug=framework.slug, _external=True) }}">{{ url_for('.framework_updates', framework_slug=framework.slug, _external=True) }}</a>
<br/><br/>
You’ll receive an email when new clarification answers are posted. The Crown Commercial Service will not respond to you individually.
<br/><br/>
Here is a copy of the question that you sent:<br/>
"{{ message }}"
<br/><br/>
This is an automated message. Please do not reply to this email.
<br/><br/>
Thanks,
<br/><br/>
The Digital Marketplace team
</body>
</html>
