<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Activating your Digital Marketplace account</title>
</head>
<body>
	<p>Welcome to the Marketplace.</p>

	<p>To activate your account and set a password, please click the link below:</p>

	<div>
		<a href="{{ url }}">{{ url }}</a>
	</div>

	<p>This link expires in 7 days.</p>

	<p>Please do not reply to this email. If you need any help, email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.</p>

	<p><strong>The Digital Marketplace team</strong></p>
</body>
</html>
