<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Activate your new Marketplace account</title>
</head>
<body>
	<p>{{ user.name }},</p>

	<p>Now you need activate your account and set a password.</p>

	<div>
		<a href="{{ url }}">Activate account</a>
	</div>

	<p>This link expires in 7 days.</p>

	<p>And if you need any help, email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.</p>

	<p><strong>The Marketplace team</strong></p>
</body>
</html>
