<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Create your Digital Marketplace account</title>
</head>
<body>
Hello,
<br /><br />
You have requested a new supplier account on the Digital Marketplace.
<br /><br />
Click the link below to confirm your account.
<br /><br />
<a href="{{ url }}">{{ url }}</a>
<br /><br />
You must click this link within 7 days of receiving this email.
<br /><br />
This is an automated message. Email <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a> if you need help.
<br /><br />
Thanks,
<br /><br />
The Digital Marketplace Admin Team
</body>
</html>
