<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Completing your Digital Marketplace application</title>
</head>
<body>
	<p>Hi {{ name }},</p>

  <p>An application to update {{ business_name }}'s seller profile on the <a href="http://marketplace.service.gov.au">Digital Marketplace</a> is now in progress on behalf of your business.  </p>

	<p>As the authorised representative of {{ business_name }} it’s over to you to review your business’ application and make the official legal declarations that will allow your business to update your profile and services you offer.</p>

	<div>
		<a href="{{ url }}">Please click here to go to your Marketplace application</a>
	</div>

	<p><strong>The Marketplace team</strong></p>
</body>
</html>
