<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Completing your Digital Marketplace application</title>
</head>
<body>
	<p>Hi {{ name }},</p>

  <p>An application to join the <a href="http://marketplace.service.gov.au">Digital Marketplace</a> on behalf of your business is now close to complete.</p>

	<p>As nominated authorised representative of {{ business_name }} it’s now over to you to review your business’ application and make the official legal declarations that will allow your business to join the Digital Marketplace.</p>

	<div>
		<a href="{{ url }}">Please click here to create an account and review your application</a>
	</div>

	<p><strong>The Marketplace team</strong></p>
</body>
</html>
