<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Completing your Digital Marketplace application</title>
</head>
<body>
	<p>Hi {{ name }},</p>

  <p>An application to join the <a href="http://marketplace.service.gov.au">Digital Marketplace</a> has just been made on behalf of your company. If you’ve not heard of the Digital Marketplace — it’s a site that’s making it easier for government and digital businesses to work together.</p>

	<p>As the authorised representative of {{ business_name }} it’s over to you to review your business’ application and make the official legal declarations that will allow your business to join the Marketplace.</p>

	<div>
		<a href="{{ url }}">Please click here to create an account and review your application</a>
	</div>

	<p>If you need any help, email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.</p>

	<p><strong>The Marketplace team</strong></p>
</body>
</html>
