<!DOCTYPE html>
<html>
<head lang="en">
   <meta charset="UTF-8">
</head>
<body>
    Dear supplier,
    <br /><br />
    You, or one of your colleagues, has started an application for the Digital Outcomes and Specialists 2 framework. All contributors on your Digital Marketplace account will now receive email updates.
    <br /><br />
    You need to confirm that you’re eligible to offer services under Digital Outcomes and Specialists 2 as part of the application. You don’t need to describe your services now. You’ll be asked to provide more details when you respond to a buyer’s specific brief.
    <br /><br />
    The Digital Marketplace team is updating this content... hold tight!
    <br /><br />
    Thanks,
    <br />
    The Digital Marketplace team
</body>
</html>
