<!DOCTYPE html>
<html>
<head lang="en">
   <meta charset="UTF-8">
</head>
<body>
    Dear supplier,
    <br /><br />
    You, or one of your colleagues, has started an application for the Digital Outcomes and Specialists framework. All contributors on your Digital Marketplace account will now receive email updates.
    <br /><br />
    You need to confirm that you’re eligible to offer services under Digital Outcomes and Specialists as part of the application. You don’t need to describe your services now. You’ll be asked to provide more details when you respond to a buyer’s specific brief.
    <br /><br />
    The Digital Marketplace blog explains:
    <ul>
      <li>
        why we’re not asking for more details from suppliers at this stage: <a href="https://digitalmarketplace.blog.gov.uk/2015/11/20/themes-from-supplier-responses-to-draft-documents/">https://digitalmarketplace.blog.gov.uk/2015/11/20/themes-from-supplier-responses-to-draft-documents/</a>
      </li>
      <li>
        whether your services are suitable for Digital Outcomes and Specialists: <a href="https://digitalmarketplace.blog.gov.uk/2015/11/12/digital-outcomes-and-specialists-suitable-suppliers-and-services/">https://digitalmarketplace.blog.gov.uk/2015/11/12/digital-outcomes-and-specialists-suitable-suppliers-and-services/</a>
      </li>
      <li>
        the important dates for applications: <a href="https://digitalmarketplace.blog.gov.uk/2015/12/07/digital-outcomes-and-specialists-is-open-for-applications/">https://digitalmarketplace.blog.gov.uk/2015/12/07/digital-outcomes-and-specialists-is-open-for-applications/</a>
      </li>
    </ul>
    Read the suppliers’ guide to find out how to apply to Digital Outcomes and Specialists:  <a href="https://www.gov.uk/guidance/digital-outcomes-and-specialists-suppliers-guide">https://www.gov.uk/guidance/digital-outcomes-and-specialists-suppliers-guide</a>
    <br /><br />
    If you have any clarification questions, they must be submitted through your Digital Marketplace account before 5pm GMT, 6 January 2016: <a href="https://www.digitalmarketplace.service.gov.uk/suppliers/frameworks/digital-outcomes-and-specialists/updates">https://www.digitalmarketplace.service.gov.uk/suppliers/frameworks/digital-outcomes-and-specialists/updates</a>
    <br /><br />
    Thanks,
    <br />
    The Digital Marketplace team
</body>
</html>
