<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
</head>

<body style="font-size:120%;">
  Dear supplier,
  <br />
  <br /> Thanks for accepting the ‘contract variation’ to the Digital Outcomes and Specialists (DOS2) framework agreement and call-off contract.
  <br />
  <br /> The contract variation will only come into effect when all suppliers have accepted the changes and the Crown Commercial Service has countersigned it - we’ll let you know when this happens.
  <br />
  <br /> Until then, you must use the published framework agreement and call-off contract:
  <br />
  <a class="govuk-link" href="https://www.gov.uk/government/publications/digital-outcomes-and-specialists-2-framework-agreement">
    https://www.gov.uk/government/publications/digital-outcomes-and-specialists-2-framework-agreement
  </a>
  <br />
  <a class="govuk-link" href="https://www.gov.uk/government/publications/digital-outcomes-and-specialists-2-call-off-contract">
     https://www.gov.uk/government/publications/digital-outcomes-and-specialists-2-call-off-contract
  </a>
  <br />
  <br /> Thanks,
  <br /> The Digital Marketplace team
</body>

</html>