<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
Dear {{ name }},
<br /><br />
Your framework agreement signature page has been sent to the Crown Commercial Service (CCS). They’ll check and countersign the agreement, or contact you if there’s a problem.
<br /><br />
You’ll receive an email when CCS have countersigned your agreement.
<br /><br />
You don’t need to wait for CCS to countersign the agreement before you start selling {{ framework_name }} services on the Digital Marketplace. You should be able to sell services from {{ framework_live_date }}.
<br /><br />
If you need help, you can send a question through the {{ framework_name }} updates page at: <a href="https://www.digitalmarketplace.service.gov.uk/suppliers/frameworks/{{ framework_slug }}/updates">https://www.digitalmarketplace.service.gov.uk/suppliers/frameworks/{{ framework_slug }}/updates</a>
<br /><br />
Thanks,
<br /><br />
The Digital Marketplace team
<br />
</body>
</html>
