<!DOCTYPE html>
<html>
<head lang="en">
   <meta charset="UTF-8">
</head>
<body style="font-size:120%;">
    Dear supplier,
    <br /><br />
    Thanks for accepting the proposed ‘contract variation’ to the G-Cloud 8 (G8) framework agreement and call-off contract.
    <br /><br />
    The contract variation has not yet come into effect.
    When all suppliers have agreed to it, the Crown Commercial Service will countersign it. 
    We will then let G8 suppliers and buyers know.
    <br /><br />
    Until we let you know, you must sell your services using the published framework agreement and call-off contract.
    <br /><br />
    You can view all your G8 documents here:<br />
    <a href="https://www.digitalmarketplace.service.gov.uk/suppliers/frameworks/g-cloud-8">
        https://www.digitalmarketplace.service.gov.uk/suppliers/frameworks/g-cloud-8
    </a>
    <br /><br />
    Thanks,
    <br />
    The Digital Marketplace team
</body>
</html>
