<!DOCTYPE html>
<html>
<head lang="en">
   <meta charset="UTF-8">
</head>
<body>
    Dear supplier,
    <br /><br />
    You, or one of your colleagues, has started an application for the G-Cloud 8 framework. All contributors on your Digital Marketplace account will now receive email updates.
    <br /><br />
    You need to confirm that you’re eligible to offer services under G-Cloud 8 as part of the application.
    <br /><br />
    The Digital Marketplace blog explains:
    <ul>
      <li>
        the important dates for applications: <a href="https://digitalmarketplace.blog.gov.uk/2016/04/12/g-cloud-8-a-provisional-timetable/">https://digitalmarketplace.blog.gov.uk/2016/04/12/g-cloud-8-a-provisional-timetable/</a>
      </li>
      <li>
        what this means for G6 and G7 suppliers: <a href="https://digitalmarketplace.blog.gov.uk/2016/04/18/what-g-cloud-8-means-for-g-cloud-6-and-g-cloud-7-suppliers/">https://digitalmarketplace.blog.gov.uk/2016/04/18/what-g-cloud-8-means-for-g-cloud-6-and-g-cloud-7-suppliers/</a>
      </li>
    </ul>
    Read the suppliers’ guide to find out how to apply to G-Cloud 8:  <a href="https://www.gov.uk/guidance/g-cloud-suppliers-guide">https://www.gov.uk/guidance/g-cloud-suppliers-guide</a>
    <br /><br />
    If you have any clarification questions, they must be submitted through your Digital Marketplace account before 5pm GMT, 7 June 2016: <a href="https://www.digitalmarketplace.service.gov.uk/suppliers/frameworks/g-cloud-8/updates">https://www.digitalmarketplace.service.gov.uk/suppliers/frameworks/g-cloud-8/updates</a>
    <br /><br />
    Thanks,
    <br />
    The Digital Marketplace team
</body>
</html>
