<!DOCTYPE html>
<html>
<head lang="en">
   <meta charset="UTF-8">
</head>
<body>
    Dear supplier,
    <br/><br/>
    You, or one of your team, started an application to become a {{ framework.name|nbsp }} supplier.
    All contributors on your Digital Marketplace account will now receive email updates.
    The deadline for completing your application is {{ framework.applicationsCloseAt }}.
    <br/><br/>
    You must ask any clarification questions you have through your Digital Marketplace account before
    {{ framework.clarificationsCloseAt }}.
    <br/><br/>
    To complete your application, you must:
    <ul>
      <li>complete your company details</li>
      <li>make the supplier declaration</li>
      <li>provide information about the services you offer, and mark each service as complete</li>
    </ul>
    To understand if your services are suitable for {{ framework.name|nbsp }}, read this guidance:
    <br/>
    <a href="https://www.gov.uk/guidance/g-cloud-suppliers-guide">https://www.gov.uk/guidance/g-cloud-suppliers-guide</a>
    <br/><br/>
    The {{ framework.name|nbsp }} application section of your Digital Marketplace account helps you:
    <ul>
      <li>find all the legal documents and guidance</li>
      <li>ask clarification questions</li>
      <li>read responses to all supplier questions</li>
    </ul>
    Thanks,
    <br/>
    The Digital Marketplace team
</body>
</html>
