<!DOCTYPE html>
<html>
<head lang="en">
   <meta charset="UTF-8">
</head>
<body>
    Dear supplier,
    <br /><br />
    You, or one of your team, started an application to become a G-Cloud&nbsp;9 supplier.
    All contributors on your Digital Marketplace account will now receive email updates.
    The deadline for completing your application is 5pm BST, 11 April 2017.
    <br /><br />
    You must ask any clarification questions you have through your Digital Marketplace account before
    5pm BST, 28 March 2017.
    <br /><br />
    To complete your application, you must make the supplier declaration, provide information about the services
    you offer, and mark each service as complete.
    <br /><br />
    To understand if your services are suitable for G-Cloud&nbsp;9, read this guidance:
    <br />
    <a href="https://www.gov.uk/guidance/g-cloud-suppliers-guide">
        https://www.gov.uk/guidance/g-cloud-suppliers-guide
    </a>
    <br /><br />
    The G-Cloud&nbsp;9 application area of your Digital Marketplace account lets you:
    <ul>
        <li>find all the legal and guidance documentation</li>
        <li>ask clarification questions</li>
        <li>read responses to all supplier questions</li>
        <li>find additional information to help you complete your application</li>
    </ul>

    Thanks,
    <br />
    The Digital Marketplace team
</body>
</html>
