<!DOCTYPE html>
<html>
<head lang="en">
   <meta charset="UTF-8">
</head>
<body style="font-size:120%;">
    Dear supplier,
    <br /><br />
    You, or one of your colleagues, has started an application to offer your services through the G-Cloud 8 (G8) framework. All contributors on your Digital Marketplace account will now receive G8-related updates.
    <br /><br />
    You can:
    <ul>
      <li>
          check your services are right for G8 (the scope is slightly different from G7):<br />
          <a href="https://digitalmarketplace.blog.gov.uk/2016/05/16/g-cloud-8-redefining-the-specialist-cloud-services-category/">
              https://digitalmarketplace.blog.gov.uk/2016/05/16/g-cloud-8-redefining-the-specialist-cloud-services-category
          </a>
      </li>
      <li>
          find out what G8 means for you if you’re a G-Cloud 6 or G-Cloud 7 supplier:<br />
          <a href="https://digitalmarketplace.blog.gov.uk/2016/04/18/what-g-cloud-8-means-for-g-cloud-6-and-g-cloud-7-suppliers/">
              https://digitalmarketplace.blog.gov.uk/2016/04/18/what-g-cloud-8-means-for-g-cloud-6-and-g-cloud-7-suppliers
          </a>
      </li>
      <li>
          see the latest timetable of important dates:<br />
          <a href="https://digitalmarketplace.blog.gov.uk/2016/05/17/g-cloud-8-apply-to-supply-your-cloud-services/">
              https://digitalmarketplace.blog.gov.uk/2016/05/17/g-cloud-8-apply-to-supply-your-cloud-services
          </a>
      </li>
      <li>
          find out how to apply:<br />
          <a href="https://www.gov.uk/guidance/g-cloud-suppliers-guide#how-to-apply ">
              https://www.gov.uk/guidance/g-cloud-suppliers-guide#how-to-apply
          </a>
      </li>
      <li>
          find out when you can and when you can’t copy services in your G8 application:<br />
          <a href="https://digitalmarketplace.blog.gov.uk/2016/05/11/copying-services-in-your-g-cloud-8-application/ ">
              https://digitalmarketplace.blog.gov.uk/2016/05/11/copying-services-in-your-g-cloud-8-application
          </a>
      </li>
    </ul>
    If you need to ask a question about G8, you must send it to the Crown Commercial Service (CCS) through your account on the Digital Marketplace before 5pm (BST) on 7 June 2016. We’ll post your question along with an answer from CCS in the updates page of your account:
    <br /><br />
    <a href="https://www.digitalmarketplace.service.gov.uk/suppliers/frameworks/g-cloud-8/updates">
        https://www.digitalmarketplace.service.gov.uk/suppliers/frameworks/g-cloud-8/updates
    </a>
    <br /><br />
    Thanks,
    <br />
    The Digital Marketplace team
</body>
</html>
