<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Your Digital Marketplace invitation</title>
</head>
<body>
Hello,
<br /><br />
{{ user}} has invited you to become a contributor for {{ supplier }} on the Digital Marketplace.
<br /><br />
To accept this invitation, please click the link below:
<br /><br />
{{ url }}
<br /><br />
This is an automated message. Email <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a> if you need help.
<br /><br />
Thanks,
<br /><br />
The Digital Marketplace team
</body>
</html>
