<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Your Digital Marketplace invitation</title>
</head>
<body>
	<p>Hello,</p>

	<p>{{ user }} has invited you to become a contributor for {{ supplier }} on the Digital Marketplace.</p>

	<p>Please <a href="{{ url }}">click this link</a> to accept the invitation</p>

	<p>You must click the above link within 7 days of receiving this email.</p>

	<p>This is an automated message. Email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a> if you need help.</p>

	<p>
	Thanks,<br>
	<strong>The Marketplace team</strong>
	</p>
	 <p><strong>Your feedback shapes the Marketplace</strong><br> 
   	The Digital Marketplace is an agile development in Beta. This means it evolves over time in response to user needs. If you have any questions, feedback or would like to take part in user research, please email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.</p>
</body>
</html>
