<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Your Digital Marketplace invitation</title>
</head>
<body>
Hello,
<br /><br />
{{ user}} has invited you to collaborate on {{ supplier }}.
<br /><br />
In order to accept this invitation please click the clink below:
<br /><br />
{{ url }}
<br /><br />
Please don't reply to this email - it's an automated message. If you need to
get in touch, you can reach us at 
<a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a>
<br /><br />
Thanks,
<br /><br />
The Digital Marketplace Admin Team
</body>
</html>
