<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<title>{{ subject }}</title>
</head>
<body>
	<p>Dear {{ name }},</p>

	<p><strong>You're invited to create a seller account and start doing business on the Digital Marketplace.</strong></p>

	<p>Your business is now listed in the Digital Marketplace &mdash; the new place for government buyers and digital service professionals to do business together.</p>

	<p>We’re writing today to invite you to create a Digital Marketplace seller account.</p>

	<p>Currently, a seller account will allow you to apply for the opportunities posted by government buyers.</p>

	<p>In future, you will also be able update the profile page for your business and much more.</p>

	<p><a href="{{ activation_url }}">Click here</a> to create a Digital Marketplace seller account.</p>

	<p>Thanks for your involvement and we look forward to seeing you in the Marketplace.</p>

	<p><strong>The Digital Marketplace team</strong></p>

	<p>The Digital Marketplace is an agile development in its beta stage. This means the site will evolve over time in response to user needs. If you have any questions, feedback or would like to be involved in user research, please email <a href="mailto:{{ generic_contact_email }}">{{ generic_contact_email }}</a>.</p>
</body>
</html>
