<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<title>{{ subject }}</title>
</head>
<body>
	<p>Dear {{ name }},</p>

	<p>We’re writing today to invite you to create a Digital Marketplace seller account.</p>

	<p>Once you have a seller account you can apply for opportunities posted by government buyers &mdash; and soon you'll also be able update your business profile page and much more.</p>

	<center><p><a href="{{ activation_url }}">Click here to create your seller account</a></p></center>

	<p>Thanks for being part of the Digital Marketplace &mdash; live briefs will be published in the next few days.</p>

	<p><strong>The Digital Marketplace team</strong></p>

	<p>The Digital Marketplace is an agile development in its beta stage. This means the site will evolve over time in response to user needs. If you have any questions, feedback or would like to be involved in user research, please email <a href="mailto:{{ generic_contact_email }}">{{ generic_contact_email }}</a>.</p>
</body>
</html>
