<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Reset your Digital Marketplace password</title>
</head>
<body>
	<p>Hello,</p>

	<p>You recently asked to reset your Digital Marketplace password.</p>

{% if locked %}
	<p>It looks like you failed to log in 5 times so your account has now been locked.</p>

	<p>Email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a> to unlock it.</p>

{% else %}
	<p>You can change your password now by <a href="{{ url }}">clicking this link</a>.</p>

	<p>You must click the above link within 24 hours of receiving this email.</p>

{% endif %}

	<p>
	Thanks,<br>
	<strong>The Digital Marketplace team</strong>
	</p>
</body>
</html>
