<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Reset your Digital Marketplace password</title>
</head>
<body>
Hello,
<br /><br />
You recently asked to reset your Digital Marketplace password.
<br /><br />
{% if locked %}
It looks like you failed to log in 5 times so your account has now been locked.
Email <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a> to unlock it.
<br /><br />
{% else %}
You can change your password now using the link below:
<br /><br />
<a href="{{ url }}">{{ url }}</a>
<br /><br />
You must click this link within 24 hours of receiving this email.
<br /><br />
{% endif %}
Thanks,
<br /><br />
The Digital Marketplace team
</body>
</html>
