<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Reset your Digital Marketplace password</title>
</head>
<body>
Hello,
<br /><br />
You recently asked to reset your Digital Marketplace password. 
<br /><br />
{% if locked %}
Unfortunately <strong>your account is now locked</strong>. Please contact
<a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a>
to unlock it.
{% else %}
You can change your password now using the link below:
<br /><br />
{{ url }}
<br /><br />
{% endif %}
Please don't reply to this email - it's an automated message. If you need to 
get in touch, you can reach us at 
<a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a>
<br /><br />
Thanks,
<br /><br />
The Digital Marketplace Admin Team
</body>
</html>
