{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block pageTitle %}
  Add or remove contributors – Your account - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Add or remove contributors"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="single-summary-page">
    <span class="govuk-caption-l">{{ current_user.email_address }}</span>
    <h1 class="govuk-heading-l">Invite or remove contributors</h1>

    <p class="govuk-body">
      <a class="govuk-link" class="summary-change-link" href="{{ url_for('.invite_user') }}">Invite a contributor</a>
    </p>
    {% call(item) summary.table(
      users,
      caption="Contributors for " + current_user.supplier_name,
      field_headings=[
        "Name",
        "Email address",
        summary.hidden_field_heading("Action")
      ],
      field_headings_visible=True
    ) %}
      {% call summary.row() %}
        {{ summary.field_name(item.name) }}
        {{ summary.text(item.emailAddress) }}
        {% if item.id != current_user.id %}
          {% call summary.field(action=True) %}
            <form method="post" action="{{ url_for('main.deactivate_user', user_id=item.id) }}">
              <input type="hidden" name="csrf_token" value="{{ csrf_token_value or csrf_token() }}" />
              {{ govukButton({
                "text": "Remove",
                "classes": "govuk-button--secondary govuk-!-margin-0",
              }) }}
            </form>
          {% endcall %}
        {% else %}
          {{ summary.text('') }}
        {% endif %}
      {% endcall %}
    {% endcall %}
  </div>
{% endblock %}
