{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block page_title %}Current users – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": "Your account"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% with
        context = current_user.supplier_name,
        heading = "Users"
      %}
        {% include 'toolkit/page-heading.html' %}
      {% endwith %}
    </div>
  </div>
  {% call(item) summary.table(
    users,
    caption="Users for " + current_user.supplier_name,
    field_headings=[
      "Name",
      "Email address",
      "Logged in at",
      summary.hidden_field_heading("Locked")
    ],
    field_headings_visible=True
  ) %}
    {% call summary.row() %}
      {{ summary.field_name(item.name) }}
      {{ summary.text(item.email_address) }}
      {{ summary.text(item.logged_in_at) }}
      <td class="summary-item-field {{ 'user-status-locked' if item.locked }}">
        {{ 'Locked' if item.locked }}
      </td>
    {% endcall %}
  {% endcall %}
{% endblock %}
