# See cwl-logs-apache-access.config for more comments
Mappings:
  CWLogs:
    ApplicationLogs:
      LogDirectory: "/var/log/digitalmarketplace"
      LogFile: "/var/log/digitalmarketplace/application.log"
      TimestampFormat: "%Y-%m-%dT%H:%M:%S"
      LogGroupName: {"Fn::GetOptionSetting": {"OptionName": "LogGroupName"}}
      ApplicationName: {"Fn::GetOptionSetting": {"OptionName": "ApplicationName"}}
    FilterPatterns:
      LoginFailure: "[asctime, app_name=supplier-frontend, name, level, request_id, message = *login.fail*, ...]"
      ResetEmailSentMetricFilter: "[asctime, app_name=supplier-frontend, name, level, request_id, message = *login.reset-email.sent*, ...]"
      ResetEmailInvalidEmailMetricFilter: "[asctime, app_name=supplier-frontend, name, level, request_id, message = *login.reset-email.invalid-email*, ...]"

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      "AWS::CloudFormation::Init":
        CWLogsAgentConfigSetup:
          files:
            "/tmp/cwlogs/conf.d/application.conf":
              content : |
                [application-logs]
                file = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "LogFile"]}`
                log_group_name = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "LogGroupName"]}`
                log_stream_name = `{"Fn::Join": ["-", ["application", {"Fn::FindInMap":["CWLogs", "ApplicationLogs", "ApplicationName"]}]]}`
                datetime_format = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "TimestampFormat"]}`
                multi_line_start_pattern = {datetime_format}

                [application-logs-combined]
                file = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "LogFile"]}`
                log_group_name = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "LogGroupName"]}`
                log_stream_name = application-combined
                datetime_format = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "TimestampFormat"]}`
                multi_line_start_pattern = {datetime_format}

              mode  : "000400"
              owner : root
              group : root
  
  #################################
  ## Cloudwatch Logs Metric Filters
  
  AWSEBLoginFailureMetricFilter:
    Type : "AWS::Logs::MetricFilter"
    Properties :
      LogGroupName: {"Fn::FindInMap":["CWLogs", "AccessLogs", "LogGroupName"]}
      FilterPattern : {"Fn::FindInMap":["CWLogs", "FilterPatterns", "LoginFailure"]}
      MetricTransformations :
        - MetricValue : 1
          MetricNamespace: {"Fn::Join":["/", ["ElasticBeanstalk", {"Ref":"AWSEBEnvironmentName"}]]}
          MetricName : LoginFailure

  AWSEBCWLResetEmailSentMetricFilter:
    Type: "AWS::Logs::MetricFilter"
    Properties:
      LogGroupName: {"Fn::FindInMap": ["CWLogs", "ApplicationLogs", "LogGroupName"]}
      FilterPattern: {"Fn::FindInMap": ["CWLogs", "FilterPatterns", "ResetEmailSentMetricFilter"]}
      MetricTransformations:
        - MetricValue: 1
          MetricNamespace: {"Fn::Join": ["/", ["DigitalMarketplace", {"Fn::FindInMap": ["CWLogs", "ApplicationLogs", "LogGroupName"]}]]}
          MetricName: {"Fn::Join": ["/", [{"Fn::FindInMap": ["CWLogs", "ApplicationLogs", "ApplicationName"]}, "ResetEmailSent"]]}

  AWSEBCWLResetEmailInvalidEmailMetricFilter:
    Type: "AWS::Logs::MetricFilter"
    Properties:
      LogGroupName: {"Fn::FindInMap": ["CWLogs", "ApplicationLogs", "LogGroupName"]}
      FilterPattern: {"Fn::FindInMap": ["CWLogs", "FilterPatterns", "ResetEmailInvalidEmailMetricFilter"]}
      MetricTransformations:
        - MetricValue: 1
          MetricNamespace: {"Fn::Join": ["/", ["DigitalMarketplace", {"Fn::FindInMap": ["CWLogs", "ApplicationLogs", "LogGroupName"]}]]}
          MetricName: {"Fn::Join": ["/", [{"Fn::FindInMap": ["CWLogs", "ApplicationLogs", "ApplicationName"]}, "ResetEmailInvalidEmail"]]}

  ###############################
  ## Alarms

  AWSEBLoginFailureCountAlarm:
    Type: "AWS::CloudWatch::Alarm"
    DependsOn: AWSEBLoginFailureMetricFilter
    Properties:
      AlarmDescription:
        "Fn::Join":
          - ""
          -
            - "There have been too many failed logins on the supplier app.\n"
            - "Application: supplier-frontend\n"
            - "Stage and environment: "
            - {"Fn::FindInMap": ["CWLogs", "ApplicationLogs", "LogGroupName"]}
            - "\nManual link: https://github.gds/pages/gds/digitalmarketplace-manual/alerts.html#login-failures"
      MetricName: LoginFailure
      Namespace: {"Fn::Join":["/", ["ElasticBeanstalk", {"Ref":"AWSEBEnvironmentName"}]]}
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 5
      Threshold: 10
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - "Fn::If":
            - SNSTopicExists
            - "Fn::FindInMap":
                - AWSEBOptions
                - options
                - EBSNSTopicArn
            - { "Ref" : "AWS::NoValue" }

container_commands:
  # Cannot reference cloud formation variables here
  01-create-directory:
    command: "mkdir -p /var/log/digitalmarketplace/"
  # if we don't create the file ourselves it gets owned by root
  02-create-file:
    command: "touch /var/log/digitalmarketplace/application.log"
  03-change-permissions:
    command: "chmod -R 777 /var/log/digitalmarketplace/"
  04-change-ownership:
    command: "chown -R wsgi:wsgi /var/log/digitalmarketplace"
