{% import "toolkit/summary-table.html" as summary %}

{{ summary.heading("Contributors") }}
{% if 'INVITE_CONTRIBUTOR' is active_feature %}
    {{ summary.top_link("Invite or remove", url_for('.list_users')) }}
{% endif %}
{% call(item) summary.table(
  users,
  caption="Contributors",
  field_headings=[
    "Name",
    "Email address"
  ],
  field_headings_visible=False
) %}
  {% call summary.row() %}
    {{ summary.field_name(item.name) }}
    {{ summary.text(item.emailAddress) }}
  {% endcall %}
{% endcall %}
