{% if 'digital-outcomes-and-specialists' in registered_frameworks and frameworks.get('digital-outcomes-and-specialists', {}).get('status', None) == 'open' %}
    <div class="summary-item-lede">
        <h2 class="summary-item-heading">
            {{ "Digital Outcomes and Specialists is open for applications until {}".format(deadline)|safe }}
        </h2>
        <a href="{{ url_for('.framework_dashboard', framework_slug='digital-outcomes-and-specialists') }}">Continue your application</a>
    </div>
    
{% elif frameworks.get('digital-outcomes-and-specialists', {}).get('status', None) == 'open' %}
    <form action="{{ url_for('.framework_dashboard', framework_slug='digital-outcomes-and-specialists') }}" method="POST">
        <div class="summary-item-lede">
            <h2 class="summary-item-heading">
                {{ "Digital Outcomes and Specialists is open for applications until {}".format(deadline)|safe }}
            </h2>
        
            {%
            with
                type = "save",
                label = "Start application"
            %}
                {% include "toolkit/button.html" %}
            {% endwith %}
        
            Starting your application means you’ll receive emails about the application process.
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>

{% endif %}
