{% for framework in frameworks.dos3 + frameworks.live %}
{% if framework.onFramework %}
  <h3 class="heading-xmedium">{{ framework.name }}</h2>
  <p>
  {% if framework.needs_to_complete_declaration %}
    <a href="{{ url_for('.framework_agreement', framework_slug=framework.slug) }}">
      You must sign the framework agreement to sell these services
    </a>
  {% else %}
    {% if framework.framework == 'digital-outcomes-and-specialists' %}
      <a href="{{ url_for('external.opportunities_dashboard', framework_slug=framework.slug) }}">View your opportunities</a><br>
    {% endif %}
    {% if not framework.slug == 'digital-outcomes-and-specialists-3' %}
      <a href="{{ url_for('.list_services', framework_slug=framework.slug) }}">View services</a><br>
      <a href="{{ url_for('.framework_dashboard', framework_slug=framework.slug) }}">View documents and ask a question</a>
    {% endif %}
  {% endif %}
  </p>
{% endif %}
{% else %}
  <p>
    You don't have any services on the Digital Marketplace
  </p>
{% endfor %}
