{% for framework in frameworks.pending %}
  {% if framework.made_application %}
    <div class="summary-item-lede">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h2 class="summary-item-heading">{{ framework.name }} is closed for applications</h2>
          <p>
            You submitted {{ framework.complete_drafts_count }} service{{ 's' if framework.complete_drafts_count != 1 }} for consideration
            <a href="{{ url_for('.framework_dashboard', framework_slug=framework.slug) }}">View your submitted application</a>
          </p>
        </div>
      </div>
    </div>
  {% elif framework.registered_interest %}
    <aside role="complementary" class="temporary-message" aria-labelledby="temporary-message-heading">
      <h2 class="temporary-message-heading" id="temporary-message-heading">
        {{ framework.name }} is closed for applications
      </h2>
      <p class="temporary-message-message">
        You didn’t submit an application.
      </p>
      <p class="temporary-message-message">
        <a href="{{ url_for('.framework_dashboard', framework_slug=framework.slug) }}">View {{ framework.name }} information</a>
      </p>
    </aside>
  {% else %}
    <aside role="complementary" class="temporary-message" aria-labelledby="temporary-message-heading">
      <h2 class="temporary-message-heading" id="temporary-message-heading">
        {{ framework.name }} is closed for applications
      </h2>
      <p class="temporary-message-message">
        Follow the <a href="https://digitalmarketplace.blog.gov.uk/">Digital Marketplace blog</a> for updates about new frameworks.
      </p>
    </aside>
  {% endif %}
{% endfor %}
