{% for framework in frameworks.coming %}
  {% if framework.slug == 'digital-outcomes-and-specialists' %}
    {%
      with
      messages = [
        "We’ll email you when you can apply to Digital Outcomes and Specialists.",
        "<a href='https://digitalmarketplace.blog.gov.uk/2015/11/12/digital-outcomes-and-specialists-suitable-suppliers-and-services/'>Find out if your services are suitable</a>"
      ],
      heading = "{} will be open for applications soon".format(framework.name)
    %}
      {% include "toolkit/temporary-message.html" %}
    {% endwith %}
  {% endif %}
{% endfor %}
