
    {% for framework in frameworks.open %}
      {% if framework.registered_interest %}
        {% with
          main = true,
          header_level = "h2",
          messages = [framework.deadline],
          link = { "label": "Continue your application", "url": url_for(".framework_dashboard", framework_slug=framework.slug) },
          heading = "Your {} application".format(framework.name)
        %}
          {% include "toolkit/temporary-message.html" %}
        {% endwith %}
      {% else %}
        <form action="{{ url_for('.framework_dashboard', framework_slug=framework.slug) }}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          {% with
            main = true,
            header_level = "h2",
            messages = [
              "Starting your application means you’ll receive {} email updates.".format(framework.name),
              framework.deadline
            ],
            button = {"label": "Apply", "type": "save"},
            heading = "{} is open for applications".format(framework.name)
          %}
            {% include "toolkit/temporary-message.html" %}
          {% endwith %}
        </form>
      {% endif %}
    {% endfor %}
