{% import "toolkit/summary-table.html" as summary %}
{% if frameworks.standstill %}
  <div class='pending-services-table'>
    {{ summary.heading("Pending services") }}
    {% call(framework) summary.list_table(
      frameworks.standstill,
      caption='Pending services',
      field_headings=[
        'Framework name',
        'Services',
        ''
      ],
      field_headings_visible=False
    ) %}
      {% call summary.row(complete=not framework.needs_to_complete_declaration) %}
        {% call summary.field(first=True) %}
          <p>
            {{ framework.name }}
          </p>
          {% if framework.onFramework and framework.dates.framework_live_date %}
            <p class='second-line'>
              Live from {{ framework.dates.framework_live_date|safe }}
            </p>
          {% endif %}
        {% endcall %}
        {% call summary.field() %}
          <p>
            {{ framework.complete_drafts_count }} service{{ 's' if framework.complete_drafts_count != 1 }} {{ 'submitted' if not framework.onFramework }}
          </p>
          {% if framework.needs_to_complete_declaration %}
            <p class="second-line">
              <a href="{{ url_for('.framework_agreement', framework_slug=framework.slug) }}">
                You must sign the framework agreement to sell these services
              </a>
            </p>
          {% endif %}
        {% endcall %}
        {% if not framework.needs_to_complete_declaration %}
          {{ summary.edit_link('View your application', url_for('.framework_dashboard', framework_slug=framework.slug)) }}
        {% else %}
          {% call summary.field() %}
          {% endcall %}
        {% endif %}
      {% endcall %}
    {% endcall %}
  </div>
{% endif %}
