{% for framework in frameworks.open %}
  {% if framework.registered_interest %}
    {%
      with
      items = [{
        "title":
        "Continue your {} application".format(framework.name),
        "link": url_for(".framework_dashboard", framework_slug=framework.slug),
        "body": "Deadline: {}".format(framework.dates.deadline)
      }]
    %}
      {% include "toolkit/browse-list.html" %}
    {% endwith %}
  {% else %}
    <form action="{{ url_for('.framework_dashboard', framework_slug=framework.slug) }}" method="POST">
       <div class='grid-row'> 
        <div class="summary-item-lede column-two-thirds">
          <h2 class="summary-item-heading">
            {{ framework.name }} is open for applications until
            {{ framework.dates.deadline }}
          </h2>

          {%
          with
              type = "save",
              label = "Start application"
          %}
              {% include "toolkit/button.html" %}
          {% endwith %}

          <p>
            Starting your application means you’ll receive {{ framework.name }} email updates.
          </p>
        </div>
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
  {% endif %}
{% endfor %}
