{% extends "_base_page.html" %}

{% block page_title %}Application submitted – Digital Marketplace{% endblock %}

{% block breadcrumb %}
{%
with items = [
    {
        "link": "/",
        "label": "Digital Marketplace"
    }
]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}

{% block main_content %}

{%
with
    heading = "All done!"
%}
{% include "toolkit/page-heading.html" %}
{% endwith %}

<div class="grid-row">
    <div class="column-two-thirds">
    	<p>
        Your updated business profile will soon appear in the Marketplace <a href="/search/sellers">seller catalogue</a>. We’ll send you an email to let you know when it goes live.
      </p>
      <h2>What’s next?</h2>

      <p>We recommend reading our new <a href="/sellers-guide" target="_blank" rel="external">seller guide</a>.</p>

      <p>It explains:</p>
      <ul>
        <li>How to add new services</li>
        <li>What to expect during assessments</li>
        <li>Why you need to express interest in an opportunity at least 3 days before it closes, if it requires a service you’ve not yet been assessed for.</li>
      </ul>
    </div>
</div>

{% endblock %}
