{% extends "_base_page.html" %}

{% block page_title %}Authorisation email sent – Digital Marketplace{% endblock %}

{% block breadcrumb %}
{%
with items = [
    {
        "link": "/",
        "label": "Digital Marketplace"
    }
]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}

{% block main_content %}


{%
with
    heading = "It’s on its way"
%}
{% include "toolkit/page-heading.html" %}
{% endwith %}

<div class="grid-row">
    <div class="column-two-thirds">
    	<p>
        We sent an email to {{ name }} at {{ email_address }} with the subject “{{ subject }}” including instructions for completing the application.
        If the email doesn’t come through within 5 minutes, check spam folders
        or email us at <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>
      </p>
    </div>
</div>

{% endblock %}
