{% extends "_base_page.html" %}

{% block page_title %}Become a supplier – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% with heading = "Become a supplier", smaller = True %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}

      {% if open_fwks or opening_fwks %}
        <div class="dmspeak">
          <h2 class="heading-xmedium padding-bottom-small">Services you can apply to sell</h2>

        {% for framework in open_fwks + opening_fwks %}
          <div {% if not loop.last %} class="padding-bottom-small"{% endif %}>
            {{ content_loader.get_message(framework.slug, 'become-a-supplier', framework.status) }}
          </div>
        {% endfor %}

        {%
          with
          url = url_for("main.create_new_supplier"),
          text = "Create a supplier account"
        %}
          {% include "toolkit/secondary-action-link.html" %}
        {% endwith %}

        {% if closed_fwks %}

            <h2 class="heading-xmedium padding-bottom-small">Services you can’t apply to sell at the moment</h2>

          {% for framework in closed_fwks %}
            <div {% if not loop.last %} class="padding-bottom-small"{% endif %}>
              {{ content_loader.get_message(framework.slug, 'become-a-supplier', framework.status) }}
            </div>
          {% endfor %}

        {% endif %}
        </div>

      {% else %}
        <div class="dmspeak">
          <h2 class="heading-xmedium padding-bottom-small">You can’t apply to sell anything at the moment</h2>

          {% for framework in closed_fwks %}
            <div {% if not loop.last %} class="padding-bottom-small"{% endif %}>
              {{ content_loader.get_message(framework.slug, 'become-a-supplier', framework.status) }}
            </div>
          {% endfor %}

        </div>
      {% endif %}

      {% if closed_fwks %}
        {%
          with
          url = url_for("main.join_open_framework_notification_mailing_list"),
          text = "Get notifications when applications are opening"
        %}
          {% include "toolkit/secondary-action-link.html" %}
        {% endwith %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
