{% extends "_base_page.html" %}

{% block pageTitle %}
  Become a supplier – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Become a supplier"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Become a supplier</h1>

      {% if open_fwks or opening_fwks %}

        <h2 class="govuk-heading-m">Services you can apply to sell</h2>

        {% for framework in open_fwks + opening_fwks %}
          {{ content_loader.get_message(framework.slug, 'become-a-supplier', framework.status) }}
        {% endfor %}

        <p class="govuk-body">
          <a class="govuk-link"
             href="{{ url_for('main.create_new_supplier') }}"
          >
            Create a supplier account
          </a>
        </p>

        {% if closed_fwks %}
          <h2 class="govuk-heading-m">Services you can’t apply to sell at the moment</h2>

          {% for framework in closed_fwks %}
            {{ content_loader.get_message(framework.slug, 'become-a-supplier', framework.status) }}
          {% endfor %}
        {% endif %}

      {% else %}

        <h2 class="govuk-heading-m">You cannot create a supplier account at the moment</h2>

        {% for framework in closed_fwks %}
          {{ content_loader.get_message(framework.slug, 'become-a-supplier', framework.status) }}
        {% endfor %}

      {% endif %}

      {% if closed_fwks %}
        <p class="govuk-body">
          <a class="govuk-link"
             href="{{ url_for('main.join_open_framework_notification_mailing_list') }}"
          >
            Get notifications when applications are opening
          </a>
        </p>
      {% endif %}
  </div>
</div>
{% endblock %}
