{% extends "suppliers/layout.html" %}

{% block pageTitle %}Become a supplier – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Become a supplier</h1>

      {% if open_fwks or opening_fwks %}
        <div class="govuk-body">
          <h2 class="govuk-heading-m">Services you can apply to sell</h2>

          {% for framework in open_fwks + opening_fwks %}
            <div {% if not loop.last %} class="padding-bottom-small"{% endif %}>
              {{ content_loader.get_message(framework.slug, 'become-a-supplier', framework.status) }}
            </div>
          {% endfor %}

          <a class="govuk-link" href="{{ url_for('main.create_new_supplier') }}">Create a supplier account</a>

          {% if closed_fwks %}
            <h2 class="govuk-heading-m govuk-!-margin-top-9">Services you can’t apply to sell at the moment</h2>

            {% for framework in closed_fwks %}
              <div {% if not loop.last %} class="padding-bottom-small"{% endif %}>
                {{ content_loader.get_message(framework.slug, 'become-a-supplier', framework.status) }}
              </div>
            {% endfor %}
          {% endif %}
        </div>

      {% else %}
        <div class="govuk-body">
          <h2 class="govuk-heading-m">You can’t apply to sell anything at the moment</h2>

          {% for framework in closed_fwks %}
            <div {% if not loop.last %} class="padding-bottom-small"{% endif %}>
              {{ content_loader.get_message(framework.slug, 'become-a-supplier', framework.status) }}
            </div>
          {% endfor %}

        </div>
      {% endif %}

      {% if closed_fwks %}
        <p class="govuk-body">
          <a class="govuk-link" href="{{ url_for('main.join_open_framework_notification_mailing_list') }}">Get notifications when applications are opening</a>
        </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
