{% extends "_base_page.html" %}

{% block page_title %}Company name – Create a supplier account – Digital Marketplace{% endblock %}

{% block breadcrumb %}
{%
  with items = [
    {
      "link": "/",
      "label": "Digital Marketplace"
    }
  ]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}

{% block main_content %}

<div class="single-question-page">
  <div class="grid-row">
    <div class="column-two-thirds">
      {% with heading = "Company name", smaller = True %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}
      
      <form method="POST" action="{{ url_for('.submit_company_name') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% set question_advice %}
        This is how buyers will see your company’s name on the Digital&nbsp;Marketplace.
        {% endset %}
        {%
          with
            question = "Company name",
            name = "company_name",
            value = form.company_name.data,
            error = form.company_name.errors[0],
            question_advice = question_advice
        %}
        {% include "toolkit/forms/textbox.html" %}

        {% endwith %}
        {%
          with
            type = "save",
            label = "Continue"
        %}
        {% include "toolkit/button.html" %}
        {% endwith %}
      </form>
    </div>
  </div>
</div>

{% endblock %}
