{% extends "_base_page.html" %}

{% block page_title %}Company contact details – Create a supplier account – Digital Marketplace{% endblock %}

{% block breadcrumb %}
{%
with items = [
    {
        "link": "/",
        "label": "Digital Marketplace"
    }
]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}

{% block main_content %}

{% if form.errors|length > 1 %}
    <div class="validation-masthead" role="group" aria-labelledby="validation-masthead-heading">
        <h1 class="validation-masthead-heading" id="validation-masthead-heading">
            There was a problem with the details you gave for:
        </h1>
        <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
          <li><a href="#{{ form[field_name].id }}" class="validation-masthead-link">{{ form[field_name].label.text }}</a></li>
        {% endfor %}
        {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="grid-row">
    <div class="column-two-thirds">
        {% with heading = "Company contact details", smaller = True %}
            {% include "toolkit/page-heading.html" %}
        {% endwith %}
        
        <p>This information will be visible on the Digital Marketplace.</p>
    
        <p>You can change it at any time.</p>
    
        <form method="POST" action="{{ url_for('.submit_company_contact_details') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {%
                with
                    question = "Contact name",
                    name = "contact_name",
                    value = form.contact_name.data,
                    error = form.contact_name.errors[0]
            %}
            {% include "toolkit/forms/textbox.html" %}
            {% endwith %}
    
            {%
                with
                    question = "Contact email address",
                    name = "email_address",
                    value = form.email_address.data,
                    error = form.email_address.errors[0]
            %}
            {% include "toolkit/forms/textbox.html" %}
            {% endwith %}
    
            {%
                with
                    question = "Contact phone number",
                    name = "phone_number",
                    value = form.phone_number.data,
                    error = form.phone_number.errors[0]
            %}
            {% include "toolkit/forms/textbox.html" %}
            {% endwith %}
            {%
                with
                    type = "save",
                    label = "Continue"
            %}
            {% include "toolkit/button.html" %}
            {% endwith %}
        </form>
        </a>
    </div>
</div>

{% endblock %}
