{% extends "_base_page.html" %}

{% block page_title %}Companies House number – Create a supplier account – Digital Marketplace{% endblock %}

{% block breadcrumb %}
{%
  with items = [
    {
    "link": "/",
    "label": "Digital Marketplace"
    }
  ]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}

{% block main_content %}

<div class="single-question-page">
  <div class="grid-row">
    <div class="column-two-thirds">
      {% with heading = "Companies House number (optional)", smaller = True %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}
      
      <form method="POST" action="{{ url_for('.submit_companies_house_number') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% set question_advice %}
        <a href="https://beta.companieshouse.gov.uk/">Find your Companies House number</a>
        {% endset %}
        {%
          with
            question = "Companies House number",
            name = "companies_house_number",
            value = form.companies_house_number.data,
            error = form.companies_house_number.errors[0],
            question_advice = question_advice
        %}
        {% include "toolkit/forms/textbox.html" %}
        {% endwith %}
        {%
          with
            type = "save",
            label = "Continue"
        %}
        {% include "toolkit/button.html" %}
        {% endwith %}
      </form>
    </div>
  </div>
</div>

{% endblock %}
