{% extends "_base_page.html" %}

{% block pageTitle %}
  DUNS number – Create a supplier account – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Become a supplier",
        "href": url_for('.become_a_supplier')
      },
      {
        "text": "Create an account",
        "href": url_for('.create_new_supplier')
      },
      {
        "text": "DUNS number"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Enter your DUNS number</h1>


    <form method="POST" action="{{ url_for('.duns_number') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="dmspeak">
        <p class="govuk-body">The Digital Marketplace uses your DUNS number to check if your business already has a supplier account.</p>
        <p class="govuk-body">If you registered your business with Companies House, you will automatically have been allocated a unique DUNS number.</p>
      </div>
        <p class="govuk-body-m">You can either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="https://www.dnb.co.uk/duns-number/lookup.html" rel="external">find your DUNS number</a> on the
            Dun &amp; Bradstreet website</li>
          <li><a class="govuk-link" href="https://www.dnb.co.uk/duns-number/lookup/request-a-duns-number.html" rel="external">apply for
            a DUNS number</a> if you don&rsquo;t have one</li>
        </ul>

      {% with question = "Your company DUNS number",
              name = "duns_number",
              value = form.duns_number.data,
              error = errors.get("duns_number", {}).get("message", None),
              question_advice = question_advice,
              hint = "This is a 9 digit number" %}
        {% include "toolkit/forms/textbox.html" %}
      {% endwith %}

      {{ govukButton({
        "text": "Continue",
      }) }}
    </form>
  </div>
</div>
{% endblock %}
