{% extends "_base_page.html" %}

{% block page_title %}Create a supplier account – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for('.become_a_supplier'),
        "label": "Become a supplier"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

<div class="start-page">
  <div class="grid-row">
    <div class="column-two-thirds dmspeak">
      {% with heading = "Create a supplier account", smaller = True %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}
  
      <div>
        <p class="lead">You must provide:</p>
    
        <ul class="govuk-list govuk-list--bullet">
          <li>a company name and company details that buyers may use to contact you</li>
          <li>your own details to create a login</li>
        </ul>
        
        <p>It will take about 5 minutes to create your account.</p>
      </div>
  
      <h2 class="heading-xmedium">If your company isn’t registered with Companies&nbsp;House</h2>
      <div>
        <p>If your company isn’t <a href="https://beta.companieshouse.gov.uk/" rel="external">registered with Companies House</a>,
           you may need to <a href="https://www.dnb.co.uk/duns-number/lookup/request-a-duns-number.html" rel="external">apply for a DUNS number</a>
           before you can create a supplier account.
        </p>

        <p>
          It could take 3 to 5 days to get your DUNS number.
        </p>
      </div>
      <br />
      <a href='{{ url_for(".duns_number") }}' class="button-save" role="button">Start</a>
    </div>
  </div>
</div>
{% endblock %}
