{% extends "_base_page.html" %}

{% block pageTitle %}
  Activate your account - Create a supplier account – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Become a supplier",
        "href": url_for('.become_a_supplier')
      },
      {
        "text": "Create an account",
        "href": url_for('.create_new_supplier')
      },
      {
        "text": "Activate your account"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Activate your account</h1>

      <div class="dmspeak">
        <p class="govuk-body">An email has been sent to {{ email_address }}.</p>
        <p class="govuk-body">You must click on the link in the email to activate your account.</p>
        <br />
        <p class="govuk-body">
          You will be asked to create a password for your account.
          You won’t be able to view your company’s supplier account details without this password.
        </p>
      </div>
    </div>
  </div>

{% endblock %}
