{% extends "_base_page.html" %}

{% block pageTitle %}
  Activate your account - Create a supplier account – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Become a supplier",
        "href": url_for('.become_a_supplier')
      },
      {
        "text": "Create an account",
        "href": url_for('.create_new_supplier')
      },
      {
        "text": "Activate your account"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Activate your account</h1>

      <p class="govuk-body">We’ve sent an email to: ‘{{ email_address }}’.</p>

      <p class="govuk-body">Use the link in the email to activate your account and set your password.</p>
    </div>
  </div>
{% endblock %}
