{% extends "suppliers/layout.html" %}
{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}DUNS number – Create a supplier account – Digital Marketplace{% endblock %}

{% block beforeContent %}
{{
  govukBreadcrumbs({
    'items': [
      {
        'href': '/',
        'text': 'Digital Marketplace'
      },
      {
        'href': url_for('.become_a_supplier'),
        'text': 'Become a supplier'
      },
      {
        'href': url_for('.create_new_supplier'),
        'text': 'Create an account'
      }
    ]
  })
}}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors.get("duns_number", {}).get("message", None) == 'DUNS number already used' %}
    {{
      govukErrorSummary({
        'titleText': "A supplier account already exists with that DUNS number",
        'descriptionHtml': 'If you no longer have your account details, or if you think this may be an error, email <a class="govuk-link" href="mailto:{support_email_address}?subject=DUNS%20number%20question" title="Please contact {support_email_address}">{support_email_address}</a>'.format(support_email_address=support_email_address)|safe
      })
    }}
    {% endif %}

    <h1 class="govuk-heading-l">Enter your DUNS number</h1>

    <form method="POST" action="{{ url_for('.duns_number') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <p class="govuk-body">If you registered your business with Companies House, you will automatically have been given a unique DUNS number.</p>
      <p class="govuk-body">The Digital Marketplace uses this to check if your business already has a supplier account.</p>
      <p class="govuk-body">You can either:</p>
      <ul class="govuk-list govuk-list-bullet">
        <li><a class="govuk-link" href="https://www.dnb.co.uk/duns-number/lookup.html" rel="external">find your DUNS number</a> on the
          Dun &amp; Bradstreet website</li>
        <li><a class="govuk-link" href="https://www.dnb.co.uk/duns-number/lookup/request-a-duns-number.html" rel="external">apply for
          a DUNS number</a> if you don&rsquo;t have one</li>
      </ul>

      {{
        govukInput({
          'id': 'input-duns_number',
          'name': 'duns_number',
          'label': {
            'text': 'DUNS number',
            'classes': 'govuk-!-margin-top-9 govuk-label--s'
          },
          'classes': 'govuk-input--width-10',
          'value': form.duns_number.data,
          'hint': {
            'text': 'This is a 9 digit number'
          }
        })
      }}

      {{
        govukButton({
          'text': 'Save and continue'
        })
      }}
    </form>
  </div>
</div>
{% endblock %}
