{% extends "_base_page.html" %}

{% block page_title %}Activate your account - Create a supplier account – Digital Marketplace{% endblock %}

{% block breadcrumb %}
{%
  with items = [
    {
    "link": "/",
    "label": "Digital Marketplace"
    }
  ]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}

{% block main_content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% with heading = "Create login", smaller = True %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}
      
      <div class="dmspeak">
        <p>An email has been sent to {{ email_address }}.</p>
        <p>You must click on the link in the email to activate your account.</p>
        <br />
        <p>
          You will be asked to create a password for your account.
          You won’t be able to view your company’s supplier account details without this password.
        </p>
      </div>
    </div>
  </div>

{% endblock %}
