{% extends "suppliers/layout.html" %}
{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}

{% block pageTitle %}Create login — Create a supplier account – Digital Marketplace{% endblock %}

{% block beforeContent %}
{{
  govukBreadcrumbs({
    'items': [
      {
        'href': '/',
        'text': 'Digital Marketplace'
      },
      {
        'href': url_for('.become_a_supplier'),
        'text': 'Become a supplier'
      },
      {
        'href': url_for('.create_new_supplier'),
        'text': 'Create an account'
      }
    ]
  })
}}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors %}
      {{
        govukErrorSummary({
          'titleText': lede or 'There is a problem',
          'descriptionText': description,
          'errorList': govuk_errors(errors)
        })
      }}
    {% endif %}

    <h1 class="govuk-heading-l">Create login</h1>

    <ul class="govuk-list">
      <li>You’ll use this to sign in to your company’s supplier account.</li>
      <li>It won’t be visible on the Digital Marketplace.</li>
      <li>You can add other email addresses to your supplier account later.</li>
    </ul>

    <form method="POST" action="{{ url_for('.create_your_account') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

      {{
        govukInput({
          'id': 'input-email_address',
          'name': 'email_address',
          'type': 'email',
          'label': {
            'text': 'Your email address',
            'classes': 'govuk-label--s'
          },
          'classes': 'govuk-!-width-two-thirds',
          'value': email_address,
          'errorMessage': govuk_error(errors.get("email_address", {}))
        })
      }}

      {{
        govukButton({
          'text': 'Save and continue'
        })
      }}
    </form>
  </div>
</div>

{% endblock %}
