{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block page_title %}Create login — Create a supplier account – Digital Marketplace{% endblock %}

{% block breadcrumb %}
{%
  with items = [
    {
    "link": "/",
    "label": "Digital Marketplace"
    }
  ]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}

{% block main_content %}
<div class="grid-row">
  <div class="column-two-thirds">
    {% with heading = "Create login", smaller = True %}
      {% include "toolkit/page-heading.html" %}
    {% endwith %}
    
    <div class="dmspeak">
       <p>You’ll use this to sign in to your company’s supplier account.</p>
       <p>It won’t be visible on the Digital Marketplace.</p>
       <p>You can add other email addresses to your supplier account later.</p>
    </div>
    <form method="POST" action="{{ url_for('.submit_create_your_account') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      {%
        with
          question = "Your email address",
          name = "email_address",
          value = email_address,
          error = form.email_address.errors[0]
      %}
        {% include "toolkit/forms/textbox.html" %}
      {% endwith %}
      {%
        with
          type = "save",
          label = "Continue"
      %}
      {% include "toolkit/button.html" %}
      {% endwith %}
    </form>
  </div>
</div>

{% endblock %}
