{% extends "_base_page.html" %}

{% block pageTitle %}
  Your company details – Create a supplier account – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Become a supplier",
        "href": url_for('.become_a_supplier')
      },
      {
        "text": "Create an account",
        "href": url_for('.create_new_supplier')
      },
      {
        "text": "Your company details"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Your company details</h1>

      <div class="dmspeak">
        <p class="govuk-body">This information is what buyers will see on the Digital Marketplace.</p>
      </div>

      <form method="POST" action="{{ url_for('.company_details') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {%
          with
            question = "Company name",
            name = "company_name",
            value = form.company_name.data,
            autocomplete = "new-supplier-organisation",
            error = errors.get("company_name", {}).get("message", None),
            hint = "This is how buyers will see your company’s name on the Digital&nbsp;Marketplace"|safe
        %}
        {% include "toolkit/forms/textbox.html" %}
        {% endwith %}

        {%
          with
            question = "Contact name",
            name = "contact_name",
            value = form.contact_name.data,
            error = errors.get("contact_name", {}).get("message", None),
            hint = "This should be the name of the person you want buyers to contact"
        %}
        {% include "toolkit/forms/textbox.html" %}
        {% endwith %}

        {%
          with
            question = "Contact email address",
            name = "email_address",
            value = form.email_address.data,
            error = errors.get("email_address", {}).get("message", None),
            hint = "This is the email buyers will use to contact you"
        %}
        {% include "toolkit/forms/textbox.html" %}
        {% endwith %}

        {%
          with
            question = "Contact phone number",
            name = "phone_number",
            value = form.phone_number.data,
            error = errors.get("phone_number", {}).get("message", None),
            hint = "This is the phone number buyers will use to contact you"
        %}
        {% include "toolkit/forms/textbox.html" %}
        {% endwith %}
        {{ govukButton({
          "text": "Continue",
        }) }}
      </form>
    </div>
  </div>
</div>

{% endblock %}
