{% extends "_base_page.html" %}
{% block page_title %}Your account – Digital Marketplace{% endblock %}

{% block body_classes %}dashboard{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": marketplace_home,
        "label": "Home"
      },
      {
        "label": "Dashboard"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  {% with messages = get_flashed_messages(with_categories=true, category_filter=["error", "success"]) %}
    {% for category, message in messages %}
      {%
        with
        message = message,
        type = "destructive" if category == 'error' else "success"
      %}
        {% include "toolkit/notification-banner.html" %}
      {% endwith %}
    {% endfor %}
  {% endwith %}

  {% if 'account-created' in get_flashed_messages(category_filter=["flag"]) %}
  <div class="grid-row" data-analytics="trackPageView" data-url="/sellers/vpv/?account-created=true">
  {% else %}
  <div class="grid-row">
  {% endif %}
    <div class="column-two-thirds">
      {% with
        context = current_user.email_address,
        heading = current_user.supplier_name
      %}
        {% include 'toolkit/page-heading.html' %}
      {% endwith %}
    </div>
  </div>

  {% include 'suppliers/_contributors.html' %}
  {% include 'suppliers/_account.html' %}

{% endblock %}
