{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}
{% block pageTitle %}
  Your company details – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {% with items = [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
    ]
  %}
    {% if currently_applying_to %}
      {{ govukBreadcrumbs({"items": items + [
        {
          "text": "Apply to " + currently_applying_to.name,
          "href": url_for(".framework_dashboard", framework_slug=currently_applying_to.slug)
        },
        {
          "text": "Your company details"
        }
      ]}) }}
    {% else %}
      {{ govukBreadcrumbs({"items": items + [{"text": "Your company details"}]}) }}
    {% endif %}
  {% endwith %}
{% endblock %}


{% block mainContent %}
  <div class='govuk-grid-row'>
    <div class='govuk-grid-column-full{% if currently_applying_to or (supplier_company_details_complete and not supplier_company_details_confirmed) %} padding-bottom-small{% endif %}'>
      <h1 class="govuk-heading-l">Your company details</h1>

{{ summary.heading("What buyers will see", id="what_buyers_will_see") }}
{{ summary.top_link('Edit', url_for('.edit_what_buyers_will_see')) }}
{% call(item) summary.mapping_table(
  caption='What buyers will see',
  field_headings=[
    'Label',
    'Value',
    'Optional'
  ],
  field_headings_visible=False
) %}
  {% call summary.row() %}
    {{ summary.field_name('Contact name') }}
    {{ summary.text(supplier.contact.contactName) }}
    {{ summary.text("") }}
  {% endcall %}
  {% call summary.row() %}
    {{ summary.field_name('Contact email') }}
    {{ summary.text(supplier.contact.email) }}
    {{ summary.text("") }}
  {% endcall %}
  {% call summary.row() %}
    {{ summary.field_name('Contact phone number') }}
    {{ summary.text(supplier.contact.phoneNumber) }}
    {{ summary.text("") }}
  {% endcall %}
  {% call summary.row() %}
    {{ summary.field_name('Summary') }}
    {{ summary.text(supplier.description) }}
    {% call summary.field(action=True) %}
      {% if not supplier.description %}
        Optional
      {% endif %}
    {% endcall %}
  {% endcall %}
{% endcall %}

{{ summary.heading("Company details for your framework applications", id="registration_information") }}
{% call(item) summary.mapping_table(
  caption='Registration information',
  field_headings=[
    'Label',
    'Value',
    'Edit'
  ],
  field_headings_visible=False
) %}
{% call summary.row() %}
  {{ summary.field_name('Registered company name') }}
  {% if supplier.registeredName %}
    {{ summary.text(supplier.registeredName) }}
    {{ summary.edit_link(label="Edit", link=url_for(".edit_supplier_registered_name"), hidden_text="Registered company name") }}
  {% else %}
    {{ summary.link(link_title="Answer required", link=url_for(".edit_supplier_registered_name"), hidden_text="for registered company name") }}
    {{ summary.text("") }}
  {% endif %}
{% endcall %}

{% set postcode = supplier.contact.get("postcode") %}
{% set street_address_line_1 = supplier.contact.get("address1") %}
{% set locality = supplier.contact.get("city") %}
{% call summary.row() %}
  {{ summary.field_name('Registered company address') }}
  {% if postcode and street_address_line_1 and locality and supplier.registrationCountry %}
    {% call summary.field() %}
      {%
        with
        without_spacing = true,
        postcode = postcode,
        street_address = True,
        street_address_line_1 = street_address_line_1,
        locality = locality,
        country = country_name
      %}
        {% include "toolkit/contact-details.html" %}
      {% endwith %}
    {% endcall %}
    {{ summary.edit_link(label="Edit", link=url_for(".edit_registered_address"), hidden_text="Registered company address") }}
  {% else %}
    {{ summary.link(link_title="Answer required", link=url_for(".edit_registered_address"), hidden_text=" for registered company address") }}
    {{ summary.text("") }}
  {% endif %}
{% endcall %}

{% call summary.row() %}
  {{ summary.field_name('Registration number') }}
  {% if supplier.companiesHouseNumber %}
    {{ summary.text(supplier.companiesHouseNumber) }}
    {{ summary.edit_link(label="Edit", link=url_for(".edit_supplier_registration_number"), hidden_text="Registration number") }}
  {% elif supplier.otherCompanyRegistrationNumber %}
    {{ summary.text(supplier.otherCompanyRegistrationNumber) }}
    {{ summary.edit_link(label="Edit", link=url_for(".edit_supplier_registration_number"), hidden_text="Registration number") }}
  {% else %}
    {{ summary.link(link_title="Answer required", link=url_for(".edit_supplier_registration_number"), hidden_text="for registration number") }}
    {{ summary.text("") }}
  {% endif %}
{% endcall %}

{% call summary.row() %}
  {{ summary.field_name('Trading status') }}
  {% if supplier.tradingStatus %}
    {{ summary.text(supplier.tradingStatus|capitalize_first) }}
    {{ summary.edit_link(label="Edit", link=url_for(".edit_supplier_trading_status"), hidden_text="Trading status") }}
  {% else %}
    {{ summary.link(link_title="Answer required", link=url_for(".edit_supplier_trading_status"), hidden_text="for trading status") }}
    {{ summary.text("") }}
  {% endif %}
{% endcall %}

{% call summary.row() %}
  {{ summary.field_name('Company size') }}
  {% if supplier.organisationSize %}
    {{ summary.text(supplier.organisationSize|capitalize_first) }}
    {{ summary.edit_link(label="Edit", link=url_for(".edit_supplier_organisation_size"), hidden_text="Company size") }}
  {% else %}
    {{ summary.link(link_title="Answer required", link=url_for(".edit_supplier_organisation_size"), hidden_text="for company size") }}
    {{ summary.text("") }}
  {% endif %}
{% endcall %}

{% call summary.row() %}
  {{ summary.field_name('DUNS number') }}
   {% if supplier.dunsNumber %}
    {{ summary.text(supplier.dunsNumber) }}
    {{ summary.edit_link(label="Edit", link=url_for(".edit_supplier_duns_number"), hidden_text="DUNS number") }}
  {% else %}
    {{ summary.link(link_title="Answer required", link=url_for(".edit_supplier_duns_number"), hidden_text="for DUNS number") }}
    {{ summary.text("") }}
  {% endif %}
{% endcall %}

{% endcall %}

    </div>
  </div>

  {% if supplier_company_details_confirmed == False or unconfirmed_open_supplier_framework_names|length > 0 %}
    {% if supplier_company_details_complete %}
    <br>
    <div class='govuk-grid-row'>
      <div class='govuk-grid-column-two-thirds'>
        <form method="POST" action="{{ url_for('.confirm_supplier_details') }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          {% if supplier_company_details_confirmed == False %}
          <p class="govuk-body">Once you confirm your information you'll need to contact support to correct a mistake in your:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>registered company name</li>
            <li>registration number</li>
            <li>DUNS number</li>
          </ul>
          {% else %}
          <p class="govuk-body">You must confirm that your company details are correct for your {{ pluralize(unconfirmed_open_supplier_framework_names|length, 'application', 'applications') }} to {{
            unconfirmed_open_supplier_framework_names|smartjoin }}.</p>
          {% endif %}

          {{ govukButton({
            "text": "Save and confirm",
          }) }}
        </form>
      </div>
    </div>
    {% elif currently_applying_to %}
    <div class='govuk-grid-row'>
      <div class='govuk-grid-column-two-thirds'>
        <p class="govuk-body">You must complete your company details to make an application.</p>
      </div>
    </div>
    {% endif %}
  {% endif %}

  {% if currently_applying_to %}
  <div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds'>
    {%
       with
       url = url_for(".framework_dashboard", framework_slug=currently_applying_to.slug),
       text = "Return to your {} application".format(currently_applying_to.name),
       bigger = false
     %}
       {% include "toolkit/secondary-action-link.html" %}
    {% endwith %}
    </div>
  </div>
  {% endif %}
{% endblock %}
