{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}
{% block page_title %}Supplier details – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": "Your account"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}


{% block main_content %}
{%
  with
    heading = "Company details",
    smaller = true
%}
  {% include "toolkit/page-heading.html" %}
{% endwith %}

{{ summary.heading("What buyers will see", id="what_buyers_will_see") }}
{{ summary.top_link('Change', url_for('.edit_what_buyers_will_see')) }}
{% call(item) summary.mapping_table(
  caption='What buyers will see',
  field_headings=[
    'Label',
    'Value',
    'Optional'
  ],
  field_headings_visible=False
) %}
  {% call summary.row() %}
    {{ summary.field_name('Contact name') }}
    {{ summary.text(supplier.contact.contactName) }}
    {{ summary.text("") }}
  {% endcall %}
  {% call summary.row() %}
    {{ summary.field_name('Contact email') }}
    {{ summary.text(supplier.contact.email) }}
    {{ summary.text("") }}
  {% endcall %}
  {% call summary.row() %}
    {{ summary.field_name('Contact phone number') }}
    {{ summary.text(supplier.contact.phoneNumber) }}
    {{ summary.text("") }}
  {% endcall %}
  {% call summary.row() %}
    {{ summary.field_name('Summary') }}
    {{ summary.text(supplier.description) }}
    {% call summary.field(action=True) %}
      {% if not supplier.description %}
        Optional
      {% endif %}
    {% endcall %}
  {% endcall %}
{% endcall %}

{{ summary.heading("Company details for your framework applications", id="registration_information") }}
{% call(item) summary.mapping_table(
  caption='Registration information',
  field_headings=[
    'Label',
    'Value',
    'Change'
  ],
  field_headings_visible=False
) %}
{% call summary.row() %}
  {{ summary.field_name('Registered company name') }}
  {% if supplier.registeredName %}
    {{ summary.text(supplier.registeredName) }}
    {{ summary.edit_link(label="Change", link=url_for(".edit_supplier_registered_name"), hidden_text="Registered company name") }}
  {% else %}
    {{ summary.link(link_title="Answer required", link=url_for(".edit_supplier_registered_name"), hidden_text="for registered company name") }}
    {{ summary.text("") }}
  {% endif %}
{% endcall %}

{% set postcode = supplier.contact.get("postcode") %}
{% set street_address_line_1 = supplier.contact.get("address1") %}
{% set locality = supplier.contact.get("city") %}
{% call summary.row() %}
  {{ summary.field_name('Registered company address') }}
  {% if postcode and street_address_line_1 and locality and supplier.registrationCountry %}
    {% call summary.field() %}
      {%
        with
        without_spacing = true,
        postcode = postcode,
        street_address = True,
        street_address_line_1 = street_address_line_1,
        locality = locality,
        country = country_name
      %}
        {% include "toolkit/contact-details.html" %}
      {% endwith %}
    {% endcall %}
    {{ summary.edit_link(label="Change", link=url_for(".edit_registered_address"), hidden_text="Registered company address") }}
  {% else %}
    {{ summary.link(link_title="Answer required", link=url_for(".edit_registered_address"), hidden_text=" for registered company address") }}
    {{ summary.text("") }}
  {% endif %}
{% endcall %}

{% call summary.row() %}
  {{ summary.field_name('Registration number') }}
  {% if supplier.companiesHouseNumber %}
    {{ summary.text(supplier.companiesHouseNumber) }}
    {{ summary.edit_link(label="Change", link=url_for(".edit_supplier_registration_number"), hidden_text="Registration number") }}
  {% elif supplier.otherCompanyRegistrationNumber %}
    {{ summary.text(supplier.otherCompanyRegistrationNumber) }}
    {{ summary.edit_link(label="Change", link=url_for(".edit_supplier_registration_number"), hidden_text="Registration number") }}
  {% else %}
    {{ summary.link(link_title="Answer required", link=url_for(".edit_supplier_registration_number"), hidden_text="for registration number") }}
    {{ summary.text("") }}
  {% endif %}
{% endcall %}

{% call summary.row() %}
  {{ summary.field_name('Trading status') }}
  {% if supplier.tradingStatus %}
    {{ summary.text(supplier.tradingStatus|capitalize_first) }}
    {{ summary.edit_link(label="Change", link=url_for(".edit_supplier_trading_status"), hidden_text="Trading status") }}
  {% else %}
    {{ summary.link(link_title="Answer required", link=url_for(".edit_supplier_trading_status"), hidden_text="for trading status") }}
    {{ summary.text("") }}
  {% endif %}
{% endcall %}

{% call summary.row() %}
  {{ summary.field_name('Company size') }}
  {% if supplier.organisationSize %}
    {{ summary.text(supplier.organisationSize|capitalize_first) }}
    {{ summary.edit_link(label="Change", link=url_for(".edit_supplier_organisation_size"), hidden_text="Company size") }}
  {% else %}
    {{ summary.link(link_title="Answer required", link=url_for(".edit_supplier_organisation_size"), hidden_text="for company size") }}
    {{ summary.text("") }}
  {% endif %}
{% endcall %}

{% call summary.row() %}
  {{ summary.field_name('VAT number') }}
  {% if supplier.vatNumber %}
    {{ summary.text(supplier.vatNumber) }}
    {{ summary.edit_link(label="Change", link=url_for(".edit_supplier_vat_number"), hidden_text="VAT number") }}
  {% else %}
    {{ summary.link(link_title="Answer required", link=url_for(".edit_supplier_vat_number"), hidden_text="for VAT number") }}
    {{ summary.text("") }}
  {% endif %}
{% endcall %}

  {% if supplier.dunsNumber %}
    {% call summary.row() %}
      {{ summary.field_name('DUNS number') }}
      {{ summary.text(supplier.dunsNumber) }}
      {{ summary.edit_link(label="Change", link=url_for(".edit_supplier_duns_number"), hidden_text="DUNS number") }}
    {% endcall %}
  {% endif %}

{% endcall %}

{% if currently_applying_to %}
  <p>You must complete your company details to make an application.</p>
  {%
    with
    url = url_for(".framework_dashboard", framework_slug=currently_applying_to.slug),
    text = "Return to your {} application".format(currently_applying_to.name),
    bigger = false
  %}
    {% include "toolkit/secondary-action-link.html" %}
  {% endwith %}
{% endif %}

{% endblock %}
