{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}
{% block page_title %}Supplier details – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": "Your account"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}


{% block main_content %}
{%
  with
    heading = "Supplier details",
    smaller = true
%}
  {% include "toolkit/page-heading.html" %}
{% endwith %}


{{ summary.top_link('Edit', url_for('.edit_supplier')) }}
{% call(item) summary.mapping_table(
  caption='Supplier details',
  field_headings=[
    'Label',
    'Value'
  ],
  field_headings_visible=False
) %}
  {% call summary.row() %}
    {{ summary.field_name('Contact name') }}
    {{ summary.text(supplier.contact.contactName) }}
  {% endcall %}
  {% call summary.row() %}
    {{ summary.field_name('Contact email') }}
    {{ summary.text(supplier.contact.email) }}
  {% endcall %}
  {% call summary.row() %}
    {{ summary.field_name('Contact phone number') }}
    {{ summary.text(supplier.contact.phoneNumber) }}
  {% endcall %}
  {% call summary.row() %}
    {{ summary.field_name('Registered office address') }}
    {% call summary.field() %}
      {%
        with
        without_spacing = true,
        postcode = supplier.contact.get("postcode"),
        street_address = True,
        street_address_line_1 = supplier.contact.get("address1"),
        locality = supplier.contact.get("city")
      %}
        {% include "toolkit/contact-details.html" %}
      {% endwith %}
    {% endcall %}
  {% endcall %}
  {% call summary.row() %}
    {{ summary.field_name('Supplier summary') }}
    {{ summary.text(supplier.description) }}
  {% endcall %}
{% endcall %}

{{ summary.heading("Registration information", id="registration_information") }}
{{ summary.description("This is used to process your applications and manage your participation on frameworks.") }}
{% call(item) summary.mapping_table(
  caption='Registration information',
  field_headings=[
    'Label',
    'Value'
  ],
  field_headings_visible=False
) %}

  {% if supplier.registeredName %}
    {% call summary.row() %}
      {{ summary.field_name('Registered company name') }}
      {{ summary.text(supplier.registeredName) }}
    {% endcall %}
  {% endif %}

  {% if supplier.companiesHouseNumber %}
    {% call summary.row() %}
      {{ summary.field_name('Companies House number') }}
      {{ summary.text(supplier.companiesHouseNumber) }}
    {% endcall %}
  {% endif %}

  {% if supplier.registrationCountry and not supplier.companiesHouseNumber %}
    {% call summary.row() %}
      {{ summary.field_name('Where your business was established') }}
      {{ summary.text(country_name) }}
    {% endcall %}
  {% endif %}

  {% if supplier.otherCompanyRegistrationNumber and not supplier.companiesHouseNumber and country_name != 'United Kingdom' %}
    {% call summary.row() %}
      {{ summary.field_name('Registration number') }}
      {{ summary.text(supplier.otherCompanyRegistrationNumber) }}
    {% endcall %}
  {% endif %}

  {% if supplier.dunsNumber %}
    {% call summary.row() %}
      {{ summary.field_name('DUNS number') }}
      {{ summary.text(supplier.dunsNumber) }}
    {% endcall %}
  {% endif %}

  {% if supplier.vatNumber %}
    {% call summary.row() %}
      {{ summary.field_name('VAT number') }}
      {{ summary.text(supplier.vatNumber) }}
    {% endcall %}
  {% endif %}

  {% if supplier.tradingStatus %}
    {% call summary.row() %}
      {{ summary.field_name('Trading status') }}
      {{ summary.text(supplier.tradingStatus|capitalize_first) }}
    {% endcall %}
  {% endif %}

  {% if supplier.organisationSize %}
    {% call summary.row() %}
      {{ summary.field_name('Company size') }}
      {{ summary.text(supplier.organisationSize|capitalize_first) }}
    {% endcall %}
  {% endif %}

{% endcall %}
{% endblock %}
