{% extends "_base_page.html" %}

{% block page_title %}DUNS number – Create a supplier account – Digital Marketplace{% endblock %}

{% block breadcrumb %}
{%
  with items = [
    {
      "link": "/",
      "label": "Digital Marketplace"
    }
  ]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}

{% block main_content %}

{% if form.duns_number.errors[0] == 'DUNS number already used' %}
<div class="validation-masthead" role="group" aria-labelledby="validation-masthead-heading">
    <h1 class="validation-masthead-heading" id="validation-masthead-heading">
        A supplier account already exists with that DUNS number
    </h1>
    <p class="validation-masthead-description">
        If you no longer have your account details, or if you think this may be an error, email <a href="mailto:enquiries@digitalmarketplace.service.gov.uk?subject=DUNS%20number%20question" title="Please contact enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a>
    </p>
</div>
{% endif %}

<div class="single-question-page">
  {%
  with
      heading = "DUNS number",
      smaller = True
  %}
  {% include "toolkit/page-heading.html" %}
  {% endwith %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="POST" action="{{ url_for('.submit_duns_number') }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          {% set question_advice %}
            <p>If you registered your business with Companies House, you will automatically have been given a unique DUNS number.</p>
            <p>The Digital Marketplace uses this to check if your business already has a supplier account.</p>
            <p><a href="https://www.dnb.co.uk/duns-number/lookup.html" rel="external">Find your DUNS number</a> on the Dun &amp; Bradstreet website.</p>
            <p>You can <a href="https://www.dnb.co.uk/duns-number/lookup/request-a-duns-number.html" rel="external">apply for a DUNS number</a> if you don’t have one.</p>
          {% endset %}
          {%
            with
              question = "DUNS number",
              name = "duns_number",
              value = form.duns_number.data,
              error = form.duns_number.errors[0],
              question_advice = question_advice
          %}
            {% include "toolkit/forms/textbox.html" %}
          {% endwith %}

          {%
            with
              type = "save",
              label = "Continue"
          %}
          {% include "toolkit/button.html" %}
          {% endwith %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
