{% extends "_base_page.html" %}

{% block page_title %}DUNS number – Create new supplier – Digital Marketplace{% endblock %}

{% block breadcrumb %}
{%
  with items = [
    {
      "link": "/",
      "label": "Digital Marketplace"
    }
  ]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}

{% block main_content %}

{% if form.duns_number.errors[0] == 'DUNS number already used' %}
<div class="validation-masthead" role="group" aria-labelledby="validation-masthead-heading">
    <h1 class="validation-masthead-heading" id="validation-masthead-heading">
        A supplier account already exists with that DUNS number
    </h1>
    <p class="validation-masthead-description">
        If you no longer have your account details, or if you think this may be an error, please contact <a href="mailto:enquiries@digitalmarketplace.service.gov.uk?subject=DUNS%20number%20question" title="Please contact enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a>
    </p>
</div>
{% endif %}

<div class="single-question-page">
  {%
  with
  heading = "DUNS number"
  %}
  {% include "toolkit/page-heading.html" %}
  {% endwith %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="POST" action="{{ url_for('.submit_duns_number') }}">
          {{ form.csrf_token }}
          {%
            with
              question = "DUNS number",
              name = "duns_number",
              value = form.duns_number.data,
              error = form.duns_number.errors[0],
              question_advice =
              'The Digital Marketplace uses your head office’s 9&#8209;digit DUNS number to see if you’re already a supplier on the G&#8209;Cloud framework.
              \n\n<a href="http://www.dnb.co.uk/dandb-duns-number" rel="external">Find out how to get a DUNS number</a>
              '
          %}
            {% include "toolkit/forms/textbox.html" %}
          {% endwith %}

          {%
            with
              type = "save",
              label = "Continue"
          %}
          {% include "toolkit/button.html" %}
          {% endwith %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
