{% extends "_base_page.html" %}

{% set page_name = "Trading status" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}{{ page_name }} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Your company details",
        "href": url_for('.supplier_details')
      },
      {
        "text": page_name
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="{{ url_for('.edit_supplier_trading_status') }}" novalidate>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

      {{ govukRadios({
        "idPrefix": "input-" + form.trading_status.name,
        "name": form.trading_status.name,
        "hint": {
          "text": "This information will be used to find out about the types of companies on frameworks.",
        },
        "fieldset": {
          "legend": {
            "text": form.trading_status.label.text,
            "classes": "govuk-fieldset__legend--l",
            "isPageHeading": true,
          }
        },
        "errorMessage": {
            "text": errors.get(form.trading_status.name, {}).get('message', None)
          } if errors,
        "items": form.trading_status.govuk_options,
      }) }}

      {{ govukButton({
        "text": "Save and return",
      }) }}

      <p class="govuk-body"><a class="govuk-link" href="{{ url_for('.supplier_details') }}">Return to company details</a></p>
    </form>
  </div>
</div>

{% endblock %}
