{% extends "_base_page.html" %}

{% set page_name = "Company registration number" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}{{ page_name }} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Your company details",
        "href": url_for('.supplier_details')
      },
      {
        "text": page_name,
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="{{ url_for('.edit_supplier_registration_number') }}" novalidate>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

      {% set companiesHouseNumberHtml %}
      {{ govukInput({
        "id": form.companies_house_number.id,
        "name": form.companies_house_number.name,
        "label": {
          "text": "Companies House number"
        },
        "hint": {
          "html": "<a target='_blank' rel='noopener noreferrer' class='govuk-link' href='https://find-and-update.company-information.service.gov.uk/search/companies'>Find your 8 digit Companies House number (opens in new tab)</a>"|safe,
        },
        "value": form.companies_house_number.data if form.companies_house_number.data,
        "errorMessage": {
          "text": errors.get(form.companies_house_number.name, {}).get('message', None)
        } if errors and form.companies_house_number.name in errors,
      }) }}
      {% endset -%}

      {% set otherCompanyRegistrationNumberHtml %}
      {{ govukInput({
        "id": form.other_company_registration_number.id,
        "name": form.other_company_registration_number.name,
        "label": {
          "text": "Enter a number that can be used to identify your business and provide details of the organisation that issued it."
        },
        "hint": {
          "text": "For example, ‘0123456789, Unique Taxpayer Reference, HMRC, UK’",
        },
        "value": form.other_company_registration_number.data if form.other_company_registration_number.data,
        "errorMessage": {
          "text": errors.get(form.other_company_registration_number.name, {}).get('message', None)
        } if errors and form.other_company_registration_number.name in errors,
      }) }}
      {% endset -%}

      {{ govukRadios({
        "idPrefix": "input-" + form.has_companies_house_number.name,
        "name": form.has_companies_house_number.name,
        "fieldset": {
          "legend": {
            "text": form.has_companies_house_number.label.text,
            "classes": "govuk-fieldset__legend--l",
            "isPageHeading": true,
          }
        },
        "errorMessage": {
            "text": errors.get(form.has_companies_house_number.name, {}).get('message', None)
          } if errors and form.has_companies_house_number.name in errors,
        "items": [
          {
            "value": "Yes",
            "text": "Yes",
            "conditional": {"html": companiesHouseNumberHtml},
            "checked": form.has_companies_house_number.data == "Yes",
          },
          {
            "value": "No",
            "text": "No",
            "conditional": {"html": otherCompanyRegistrationNumberHtml},
            "checked": form.has_companies_house_number.data == "No",
          },
        ]
      }) }}

      {{ govukButton({
        "text": "Save and return",
      }) }}

      <p class="govuk-body"><a class="govuk-link" href="{{ url_for('.supplier_details') }}">Return to company details</a></p>
    </form>
  </div>
</div>

{% endblock %}
