{% extends "_base_page.html" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Registered company name – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Your company details",
        "href": url_for('.supplier_details')
      },
      {
        "text": "Registered company name"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="POST" action="{{ url_for('.edit_supplier_registered_name') }}" novalidate>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

      {{ govukInput({
        "label": {
          "text": form.registered_company_name.label.text,
          "classes": "govuk-label--l",
          "attributes": {"id": form.registered_company_name.name},
          "isPageHeading": true
        },
        "hint": {
          "text": "This could be different to your trading name."
        },
        "id": "input-" + form.registered_company_name.name,
        "name": form.registered_company_name.name,
        "errorMessage": errors.registered_company_name.errorMessage if errors.registered_company_name.errorMessage,
        "value": form.registered_company_name.data if form.registered_company_name.data
      })}}

      {{ govukButton({
        "text": "Save and return",
      }) }}

      <p class="govuk-body"><a class="govuk-link" href="{{ url_for('.supplier_details') }}">Return to company details</a></p>
    </form>
  </div>
</div>

{% endblock %}
