{% extends "_base_page.html" %}
{% import "macros/forms.html" as forms %}

{% block page_title %}Edit seller – Digital Marketplace{% endblock %}

{% block body_classes %}form-page{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": "Your account"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div class="grid-row">
    <div class="column-one-whole">
      {% with
        context = "Edit seller information",
        heading = current_user.supplier_name
      %}
        {% include 'toolkit/page-heading.html' %}
      {% endwith %}
    </div>
  </div>

  {% if error %}
  <div class="validation-masthead" aria-labelledby="validation-masthead-heading">
    <h3 class="validation-masthead-heading" id="validation-masthead-heading">
      {{ error }}
    </h3>
  </div>
  {% endif %}
  {% if supplier_form.errors or contact_form.errors %}
      <div class="validation-masthead" aria-labelledby="validation-masthead-heading">
          <h3 class="validation-masthead-heading" id="validation-masthead-heading">
              There was a problem with the details you gave for:
          </h3>
          {% if supplier_form.errors %}
          <ul>
          {% for field_name, field_errors in supplier_form.errors|dictsort %}
            {% for error in field_errors %}
            <li><a href="#{{ field_name }}" class="validation-masthead-link">{{ error }}</a>
            {% endfor %}
          {% endfor %}
          </ul>
          {% endif %}
      </div>
  {% endif %}

  <form action="{{ url_for('.update_supplier') }}" method="post" enctype="multipart/form-data">

  {{ form.csrf_token }}

  <div class="grid-row">
    <div class="column-two-thirds">
      {{ forms.question_textarea('summary', 'Seller summary', supplier_form.summary.data, '', errors=supplier_form.summary.errors, max_length_in_words=50) }}
    </div>
  </div>

  {%
    with
    type = "save",
    role = "button",
    label = "Save and return"
  %}
    {% include "toolkit/button.html" %}
  {% endwith %}
  <p>
    <a href="{{ '/supplier/{}'.format(current_user.supplier_code) }}">Return without saving</a>
  </p>
  </form>

{% endblock %}
