{% extends "_base_page.html" %}
{% import "toolkit/forms/macros/forms.html" as forms %}

{% block pageTitle %}
  What buyers will see – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Your company details",
        "href": url_for('.supplier_details')
      },
      {
        "text": "What buyers will see"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">What buyers will see</h1>

      <div class="dmspeak">
        <p class="govuk-body">This information will be visible on the Digital Marketplace.</p>
        <p class="govuk-body">You can change it at any time.</p>
      </div>
    </div>
  </div>

  <form action="{{ url_for('.edit_what_buyers_will_see') }}" method="post">

  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ form.contactName }}
      {{ form.email }}
      {{ form.phoneNumber }}
      {{ form.description }}

    </div>
  </div>

  {{ govukButton({
    "text": "Save and return",
  }) }}
  <p class="govuk-body">
    <a class="govuk-link" href="{{ url_for('.supplier_details') }}">Return to company details</a>
  </p>
  </form>

{% endblock %}
