{% extends "toolkit/layouts/_base_page.html" %}

{% block page_title %}Organisation size – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {% with items = [
    {
      "link": "/",
      "label": "Digital Marketplace"
    },
    {
       "link": url_for('.dashboard'),
       "label": "Your account"
    },
    {
      "link": url_for('.supplier_details'),
      "label": "Company details"
    },
  ] %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  {% include 'toolkit/forms/validation.html' %}

<div class="single-question-page">
  <div class="grid-row">
    <div class="column-two-thirds">
      {% with heading = "What size is your organisation?", smaller = True %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}

      <form method="POST" action="{{ url_for('.edit_supplier_organisation_size') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ form.organisation_size }}

        {% with type = "save",
                label = "Save and return" %}
          {% include "toolkit/button.html" %}
        {% endwith %}

        <p><a href="{{ url_for('.supplier_details') }}">Return to company details</a></p>
      </form>
    </div>
  </div>
</div>

{% endblock %}
