{% extends "_base_page.html" %}

{% block pageTitle %}
  Registered company name – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Your company details",
        "href": url_for('.supplier_details')
      },
      {
        "text": "Registered company name"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
<div class="single-question-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Registered company name</h1>

      <form method="POST" action="{{ url_for('.edit_supplier_registered_name') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {%
          with
          name = "registered_company_name",
          question = "Registered company name",
          value = form.registered_company_name.data,
          error = errors.get("registered_company_name", {}).get("message", None),
          question_advice = "This could be different to your trading name."
        %}
          {% include "toolkit/forms/textbox.html" %}
        {% endwith %}

        {{ govukButton({
          "text": "Save and return",
        }) }}

        <p class="govuk-body"><a class="govuk-link" href="{{ url_for('.supplier_details') }}">Return to company details</a></p>
      </form>
    </div>
  </div>
</div>

{% endblock %}
