{% extends "_base_page.html" %}

{% block pageTitle %}
  Sign up for Digital Marketplace email alerts – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Become a supplier",
        "href": url_for('.become_a_supplier')
      },
      {
        "text": "Sign up for Digital Marketplace email alerts"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sign up for Digital Marketplace email alerts</h1>
  <div class="dmspeak">
      <p class="govuk-body">
        We’ll let you know when applications to sell your services will open.
      </p>
      <p class="govuk-body">
        You do not need to subscribe if you already have a supplier account.
      </p>
    </div>
    <form method="POST" action="">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {%
          with
            question = "Your email address",
            name = "email_address",
            value = form.email_address.data,
            error = errors.get("email_address", {}).get("message", None)
        %}
          {% include "toolkit/forms/textbox.html" %}
        {% endwith %}

        {{ govukButton({
          "text": "Subscribe",
        }) }}
    </form>
  </div>
</div>
{% endblock %}
