{% extends "_base_page.html" %}
{% import "macros/toolkit_forms.html" as forms %}
{% from "macros/assurance.html" import assurance_question %}

{% block page_title %}{{ section.name }} – Digital Marketplace{% endblock %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% with
        heading = section.name,
        smaller = true
      %}
        {% include 'toolkit/page-heading.html' %}
      {% endwith %}

    </div>
  </div>

  {% if errors %}
    {% with errors = errors.values() %}
      {% include 'toolkit/forms/validation.html' %}
    {% endwith %}
  {% endif %}

  <form method="post" enctype="multipart/form-data">

    <div class="grid-row">
      <div class="column-two-thirds">

          {% for question in section.questions %}
            {% if errors and errors[question.id] %}
              {{ forms[question.type](question, service_data, errors) }}
            {% else %}
              {{ forms[question.type](question, service_data, {}) }}
            {% endif %}
            {% if question.assuranceApproach %}
              <div class='assurance-question'>
                {{ assurance_question(
                  name=question.id,
                  service_data=service_data,
                  type=question.assuranceApproach,
                  errors=errors if errors else {}
                ) }}
              </div>
            {% endif %}
          {% endfor %}

          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          {% block save_button %}{% endblock %}

          {% block return_to_service_link %}
            <a href="{% block return_to_service %}{% endblock %}">Return to service summary</a>
          {% endblock %}

      </div>
    </div>

  </form>
{% endblock %}
