{% extends "_base_page.html" %}

{% block page_title %}{{ service_data.serviceName or service_data.lotName }} – Digital Marketplace{% endblock %}

{% block main_content %}
  <div class="grid-row">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'error' %}
            <div class="banner-destructive-without-action">
          {% else %}
            <div class="banner-success-without-action">
          {% endif %}
              <p class="banner-message">
          {% if 'remove_last_attempted' in message %}
                You must offer one of the {{ message.remove_last_attempted.lower() }} to be eligible.<br>
                If you don&rsquo;t want to offer {{ (service_data.get('serviceName', service_data['lotName'])).lower() }}, 
                delete this service.
                <span data-analytics="trackPageView" data-url="{{message.virtual_pageview_url}}"></span>
            {% elif category == 'service_deleted' %}
                <strong>{{message.service_name}}</strong> was deleted
            {% elif category == 'service_updated' %}
                You&#x2019;ve edited your service. The changes are now live on the Digital Marketplace.
            {% else %}
                {{ message }}
            {% endif %}
              </p>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
      
    {% if confirm_remove %}
      <form method="post" action='{{ url_for(".remove_subsection", framework_slug=framework.slug, lot_slug=service_data.lot, service_id=service_id, section_id=request.args.get("section_id"), question_slug=confirm_remove, confirm=True) }}'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {%
          with
          action = "<button class=\"button-destructive banner-action\" type=\"submit\">Yes &ndash; remove {}</button>".format(sections.get_question_by_slug(confirm_remove).label.lower() ) | safe,
          message = "Are you sure you want to remove {}?".format(sections.get_question_by_slug(confirm_remove).label.lower() ) | safe,
          type = "destructive"
        %}
          {% include "toolkit/notification-banner.html" %}
        {% endwith %}
      </form>
    {% endif %}

    {% block before_heading %}{% endblock %}
    <div class="column-two-thirds">
      {% with
        heading = service_data.get('serviceName', service_data['lotName']),
        smaller = true
      %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}
    </div>
    {% block before_sections %}{% endblock %}
    <div class="column-one-whole">
      {% import "toolkit/summary-table.html" as summary %}
      {% for section in sections %}
        {{ summary.heading(section.name, id=section.slug) }}
        {% if section.editable %}
          {% block edit_link scoped %}{% endblock %}
        {% endif %}
        {% if section.summary_page_description %}
          {{ summary.description(section.summary_page_description) }}
        {% endif %}
        {% call(question) summary.list_table(
          section.questions,
          caption=section.name,
          field_headings=[
            "Service attribute name",
            "Service attribute",
            "Add or Edit"
          ] if section.edit_questions else [
            "Service attribute name",
            "Service attribute",
          ],
          field_headings_visible=False
        ) %}
          {% call summary.row() %}
            {{ summary.field_name(question.label) }}
            {% if question.is_empty %}
              {% if framework and framework.status == 'open' and section.edit_questions %}
                {% if one_service_limit %}
                  {% if question.empty_message %}
                    {% call summary.field() %}
                      <span class="summary-item-field-answer-required">{{ question.empty_message }}</span>
                    {% endcall %}
                  {% endif %}
                {% else %}
                  {{ summary.link('Answer question', url_for(".edit_service_submission", framework_slug=framework.slug, lot_slug=service_data.lot, service_id=service_id, section_id=section.id, question_slug=question.slug)) }}
                {% endif %}
              {% endif %}
            {% else %}
              {{ summary[question.type](question.value, question.assurance) }}
            {% endif %}
            {% if framework.status == 'open' %}
              {% if section.edit_questions and not question.is_empty %}
                {% if one_service_limit %}
                  {{ summary.remove_link('Remove', url_for(".remove_subsection", framework_slug=framework.slug, lot_slug=service_data.lot, service_id=service_id, section_id=section.id, question_slug=question.slug)) }}
                {% endif %}
                {{ summary.edit_link('Edit', url_for(".edit_service_submission", framework_slug=framework.slug, lot_slug=service_data.lot, service_id=service_id, section_id=section.id, question_slug=question.slug)) }}
              {% elif section.edit_questions and one_service_limit %}
                {% if one_service_limit %}
                  {% call summary.field() %}
                  {% endcall %}
                {% endif %}
                {{ summary.edit_link('Add', url_for(".edit_service_submission", framework_slug=framework.slug, lot_slug=service_data.lot, service_id=service_id, section_id=section.id, question_slug=question.slug)) }}
              {% else %}
                {% call summary.field(action=True) %}
                  {{ 'Optional' if question.get('optional') else '' }}
                {% endcall %}
              {% endif %}
            {% endif %}
          {% endcall %}
        {% endcall %}
      {% endfor %}
    </div>
      {% block after_sections %}{% endblock %}
  </div>
{% endblock %}
