{% extends "_base_page.html" %}

{% block page_title %}{{ service_data.serviceName or service_data.lotName }} – Digital Marketplace{% endblock %}

{% block main_content %}
  <div class="grid-row">
    {% block before_heading %}{% endblock %}
    <div class="column-two-thirds">
      {% with
        heading = service_data.get('serviceName', service_data['lotName']),
        smaller = true
      %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}
    </div>
    {% block before_sections %}{% endblock %}
    <div class="column-one-whole">
      {% import "toolkit/summary-table.html" as summary %}
      {% for section in sections %}
        {{ summary.heading(section.name) }}
        {% if section.editable %}
          {% block edit_link scoped %}{% endblock %}
        {% endif %}
        {% call(question) summary.list_table(
          section.questions,
          caption=section.name,
          field_headings=[
            "Service attribute name",
            "Service attribute",
            "Add or Edit"
          ] if section.edit_questions else [
            "Service attribute name",
            "Service attribute",
          ],
          field_headings_visible=False
        ) %}
          {% call summary.row(complete=not question.answer_required) %}
            {% if question.answer_required %}
              {{ summary.field_name(question.label) }}
              {% call summary.field() %}
                {% if framework and framework.status == 'open' %}
                  <a href="{{ url_for(".edit_service_submission", framework_slug=framework.slug, lot_slug=service_data.lot, service_id=service_id, section_id=section.id) }}">Answer required</a>
                {% else %}
                  Not answered
                {% endif %}
              {% endcall %}
              {% if section.edit_questions %}
                {{ summary.edit_link('Edit', '#') }}
              {% endif %}
            {% else %}
              {{ summary.field_name(question.label) }}
              {{ summary[question.type](question.value, question.assurance) }}
              {% if section.edit_questions %}
                {{ summary.edit_link('Add', '#') }}
              {% endif %}
            {% endif %}
          {% endcall %}
        {% endcall %}
      {% endfor %}
      {% block after_sections %}{% endblock %}
    </div>
  </div>
{% endblock %}
