{% extends "_base_page.html" %}

{% block pageTitle %}
  {{ service_data.serviceName or service_data.lotName }} – Digital Marketplace
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    {% if confirm_remove %}
      <form method="post" action='{{ url_for(".remove_subsection", framework_slug=framework.slug, lot_slug=service_data.lot, service_id=service_id, section_id=request.args.get("section_id"), question_slug=confirm_remove, confirm=True) }}'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {%
          with
          action = govukButton({
            "text": "Yes – remove {}".format(sections.get_question_by_slug(confirm_remove).label.lower()),
            "classes": "govuk-button--warning app-banner-action",
          }),
          message = "Are you sure you want to remove {}?".format(sections.get_question_by_slug(confirm_remove).label.lower() ) | safe,
          type = "destructive"
        %}
          {% include "toolkit/notification-banner.html" %}
        {% endwith %}
      </form>
    {% endif %}

    {% block before_heading %}{% endblock %}
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ service_data.get('serviceName', service_data['lotName']) }}</h1>
    </div>
    {% block before_sections %}{% endblock %}
    <div class="govuk-grid-column-full">
      {% import "toolkit/summary-table.html" as summary %}
      {% for section in sections %}
        {{ summary.heading(section.name, id=section.slug) }}
        {% if section.editable %}
          {% block edit_link scoped %}{% endblock %}
        {% endif %}
        {% if section.summary_page_description %}
          {{ summary.description(section.summary_page_description) }}
        {% endif %}
        {% call(question) summary.list_table(
          section.questions,
          caption=section.name,
          field_headings=[
            "Service attribute name",
            "Service attribute",
            "Add or Edit"
          ] if section.edit_questions else [
            "Service attribute name",
            "Service attribute",
          ],
          field_headings_visible=False
        ) %}
          {% call summary.row() %}
            {% block summary_row scoped %}{% endblock %}
          {% endcall %}
        {% endcall %}
      {% endfor %}
    </div>
      {% block after_sections %}{% endblock %}
  </div>
{% endblock %}
