{% if service_data.status != 'disabled' %}
  <form action="{{ url_for('.update_service_status', service_id=service_id ) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      {% include "toolkit/forms/selection-buttons.html" %}
    <button type="submit" class="button-save">Save and return</button>
  </form>
{% endif %}
{% if service_data.status == 'disabled' %}
  <div class="question">
    <h2 class="question-heading service-status-removed">
      This service has been removed
    </h2>
    <p class="hint">
      If you don't know why this service has been removed, contact
      <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a>
    </p>
  </div>
{% endif %}
