{% if service_data.status == 'published' %}
  <div class="edit-service-status-panel">
    <h2>Remove this service</h2>
    <p>If you remove a service, it won’t be available to buy on the Digital Marketplace
      and it won’t appear in search results.</p>
    <p>Your service page will be updated to include a message showing users that the service
      is no longer available to buy.</p>
    <p>You’ll need to email
      <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a>
       to reinstate your service.</p>
    <form action="{{ url_for('.remove_service', service_id=service_id ) }}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {%
          with
          type = "destructive",
          label = "Remove service"
        %}
          {% include "toolkit/button.html" %}
        {% endwith %}
    </form>
  </div>
{% endif %}
