{% extends "_base_page.html" %}
{% from 'macros/_breadcrumbs.html' import breadcrumb %}

{% block breadcrumb %}
  {{ breadcrumb() }}
{% endblock %}

{% block main_content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading page-heading-with-context">
        <p class="context">{{ current_user.email_address }}</p>
        <h1>{{ current_user.supplier_name }}</h1>
      </header>
    </div>
  </div>
  <table class="summary-item-body">
    <thead class="summary-item-field-headings">
      <tr>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Framework
        </th>
        <th scope="col">
          Lot
        </th>
        <th scope="col">
          Status
        </th>
      </tr>
    </thead>
    <tbody>
    {% for service in services %}
      <tr class="summary-item-row">
        <td class="summary-item-field-name">
          <a href="https://www.digitalmarketplace.service.gov.uk/service/{{ service.id.lower() }}">
            {{ service.serviceName }}
          </a>
        </td>
        <td class="summary-item-field">
          {{ service.frameworkName}}
        </td>
        <td class="summary-item-field">
          {{ service.lot}}
        </td>
        <td class="summary-item-field service-status-{{ service.status }}">
          {{ service.status|title }}
        </td>
        <td class="summary-item-action-field">
          <a href="{{ url_for('.services', service_id=service.id) }}">Edit</a>
        </td>
      </tr>
    {% else %}
      <h2 class="summary-item-heading first-summary-item-heading">
        No services
      </h2>
      <p class="hint summary-item-no-content">
        You don't have any services on the Digital Marketplace
      </p>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
