{% extends "services/_base_edit_section_page.html" %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": current_user.supplier_name
      },
      {
        "link": url_for(".framework_dashboard"),
        "label": "Apply to G-Cloud 7"
      },
      {
        "link": url_for(".view_service_submission", service_id=service_id),
        "label": service_data['serviceName'] or 'New service'
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block save_button %}
  {% if request.args.get('return_to_summary') %}
    {%
      with
      label="Save and return to service",
      type="save"
    %}
    {% include "toolkit/button.html" %}
    {% endwith %}
  {% else %}
    {%
      with
      label="Save and continue",
      type="save"
    %}
    {% include "toolkit/button.html" %}
    {% endwith %}
  {% endif %}
{% endblock %}

{% block return_to_service %}{{ url_for(".view_service_submission", service_id=service_id) }}{% endblock %}
