{% extends "services/_base_edit_section_page.html" %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Your " + service_data["frameworkName"] + " services",
        "href": url_for(".list_services", framework_slug=service_data["frameworkSlug"])
      },
      {
        "text": service_data["serviceName"],
        "href": url_for(".edit_service", framework_slug=service_data["frameworkSlug"], service_id=service_id)
      },
      {
        "text": section.name
      }
    ]
  }) }}
{% endblock %}

{% block save_button %}
  {{ govukButton({
    "text": "Save and return",
  }) }}
{% endblock %}

{% block return_to_service %}{{ url_for(".edit_service", framework_slug=service_data["frameworkSlug"], service_id=service_id) }}{% endblock %}
