{% extends "services/_base_edit_section_page.html" %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": "Your account"
      },
      {
        "link": url_for(".list_services"),
        "label": "Current services"
      },
      {
        "link": url_for(".edit_service", service_id=service_id),
        "label": service_data["serviceName"]
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block save_button %}
  {%
    with
    label="Save and return to service",
    type="save"
  %}
    {% include "toolkit/button.html" %}
  {% endwith %}
{% endblock %}

{% block return_to_service %}{{ url_for(".edit_service", service_id=service_id) }}{% endblock %}
