{% extends "services/_base_edit_section_page.html" %}

{% block breadcrumb %}
  {% set your_services_text %}
    Your {{ service_data["frameworkName"] }} services
  {% endset %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": "Your account"
      },
      {
        "link": url_for(".list_services", framework_slug=service_data["frameworkSlug"]),
        "label": your_services_text
      },
      {
        "link": url_for(".edit_service", framework_slug=service_data["frameworkSlug"], service_id=service_id),
        "label": service_data["serviceName"]
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block save_button %}
  {%
    with
    label="Save and return",
    type="save"
  %}
    {% include "toolkit/button.html" %}
  {% endwith %}
{% endblock %}

{% block return_to_service %}{{ url_for(".edit_service", framework_slug=service_data["frameworkSlug"], service_id=service_id) }}{% endblock %}
