{% extends "services/_base_edit_section_page.html" %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": "Your account"
      },
      {
        "link": url_for(".framework_dashboard", framework_slug=framework.slug),
        "label": "Apply to " + framework.name
      },
      {
        "link": url_for(".framework_submission_lots", framework_slug=framework.slug),
        "label": "Services"
      },
      {
        "link": url_for(".framework_submission_services", framework_slug=framework.slug, lot_slug=service_data.lot),
        "label": service_data.lotName
      },
      {
        "link": url_for(".view_service_submission", framework_slug=framework.slug, lot_slug=service_data.lot, service_id=service_id),
        "label": service_data.get('serviceName', service_data['lotName'])
      } if not one_service_limit else {}
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block save_button %}

  {% if next_section_name and not return_to_summary %}
    {%
      with
      label="Save and continue",
      name = "continue_to_next_section",
      type="save"
    %}
      {% include "toolkit/button.html" %}
    {% endwith %}

    <p class="next-page-message">
      Next: {{ next_section_name }}
    </p>

    {%
    with
      type = "secondary",
      label = "Save and return to service overview",
      name = "return_to_overview"
    %}
      {% include "toolkit/button.html" %}
    {% endwith %}

  {% else %}
    {%
      with
      label="Save and continue",
      type="save",
      name = "return_to_overview"
    %}
      {% include "toolkit/button.html" %}
    {% endwith %}
  {% endif %}

{% endblock %}
{% block return_to_service_link %} {% endblock %}
