{% extends "_base_page.html" %}

{% block page_title %}Current services – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": current_user.supplier_name
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  {% if updated_service_id %}
    <div class="grid-row">
    <div class="column-one-whole">
      <div class="banner-success-without-action">
        <p class="banner-message">
          <a href="{{ url_for('.update_service_status', service_id=updated_service_id ) }}">{{ updated_service_name }}</a>
           is now {{ 'public' if updated_service_status == 'published' else 'private' }}
        </p>
      </div>
    </div>
    </div>
  {% endif %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% with
        context = current_user.email_address,
        heading = current_user.supplier_name
      %}
        {% include 'toolkit/page-heading.html' %}
      {% endwith %}
    </div>
  </div>
  <table class="summary-item-body">
    <thead class="summary-item-field-headings">
      <tr>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Framework
        </th>
        <th scope="col">
          Lot
        </th>
        <th scope="col">
          Status
        </th>
      </tr>
    </thead>
    <tbody>
    {% for service in services %}
      <tr class="summary-item-row">
        <td class="summary-item-field-name-wider">
          <a href="https://www.digitalmarketplace.service.gov.uk/service/{{ service.id.lower() }}">
            {{ service.serviceName }}
          </a>
        </td>
        <td class="summary-item-field">
          {{ service.frameworkName}}
        </td>
        <td class="summary-item-field">
          {{ service.lot}}
        </td>
        <td class="summary-item-field service-status-{{ service.status }}">
          {% if service.status == "published" %}
            Public
          {% elif service.status == "enabled" %}
            Private
          {% elif service.status == "disabled" %}
            Removed
          {% else %}
            {{ service.status|title }}
          {% endif %}
        </td>
        {% if 'EDIT_SERVICE_PAGE' is active_feature %}
        <td class="summary-item-action-field">
          <a href="{{ url_for('.edit_service', service_id=service.id) }}">
            {{ 'Details' if service.status == 'disabled' else 'Edit' }}
          </a>
        </td>
        {% endif %}
      </tr>
    {% else %}
      <h2 class="summary-item-heading first-summary-item-heading">
        No services
      </h2>
      <p class="hint summary-item-no-content">
        You don't have any services on the Digital Marketplace
      </p>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
