{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block page_title %}Current services – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": "Your account"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% set heading %}
        Your {{ framework.name }} services
      {% endset %}
      {% with smaller=true %}
        {% include 'toolkit/page-heading.html' %}
      {% endwith %}
    </div>
  </div>

  {% set empty_message %}
    You don’t have any {{ framework.name }} services on the Digital Marketplace
  {% endset %}
  {% call(item) summary.list_table(
    services,
    caption='Current services',
    field_headings=[
      'Name',
      'Lot',
      summary.hidden_field_heading("Status")
    ],
    field_headings_visible=True,
    empty_message=empty_message
  ) %}
    {% call summary.row() %}
      {{ summary.service_link(
          item.serviceName or item.lotName,
          url_for('.edit_service', framework_slug=item.frameworkSlug, service_id=item.id)
      ) }}

      {{ summary.text(item.lotName or item.lot) }}

      {% call summary.field(action=True) %}
        {% if item.status == "published" %}
          Live
        {% else %}
          Removed
        {% endif %}
      {% endcall %}
    {% endcall %}
  {% endcall %}
{% endblock %}
