{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}
{% import "macros/submission.html" as submission %}

{% block pageTitle %}
  Current services – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Your " + framework.name + " services"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Your {{ framework.name }} services</h1>
    </div>
  </div>

  {{ summary.heading("Draft services") }}
  {% if framework.status == 'open' %}
    {{ summary.top_link("Add a service", url_for(".start_new_draft_service", framework_slug=framework.slug, lot_slug=lot.slug)) }}
  {% elif framework.status == 'pending' %}
    <p class="hint">These services were not completed</p>
  {% endif %}
  {% if drafts %}
    <p>You have {{ g12_recovery.time_remaining }} left to finish your application. You need to mark your draft services as complete to finish your application.</p>
  {% endif %}
  {% call(draft) summary.list_table(
    drafts,
    caption="Draft services",
    empty_message="You haven’t added any services yet." if framework.status == 'open' else "You didn’t add any services.",
    field_headings=[
        "Service name",
        "Progress"
    ],
    field_headings_visible=False
  ) %}
    {% call summary.row() %}
      {{ summary.service_link(draft.serviceName,
                              url_for(".view_service_submission", framework_slug=framework.slug, lot_slug=draft.lot, service_id=draft.id)) }}
      {% if draft.unanswered_required %}
        {{ summary.text(submission.multiline_string(
          submission.unanswered_required_text(draft.unanswered_required, draft.unanswered_optional),
          submission.unanswered_optional_text(draft.unanswered_required, draft.unanswered_optional)
        )) }}
      {% else %}
        <td class="summary-item-field">
        <strong class="app-text--can-be-marked-as-complete">
          {{ submission.can_be_completed_text(draft.unanswered_required, "open") }}

        </strong>
        </td>
      {% endif %}
    {% endcall %}
  {% endcall %}

  {{ summary.heading("Complete services") }}
  {% if complete_drafts %}
    <p>Your completed draft services will be automatically submitted in {{ g12_recovery.time_remaining }}. You may edit them until then.</p>
  {% endif %}
  {% call(draft) summary.list_table(
    complete_drafts,
    caption="Complete services",
    empty_message="You haven’t marked any services as complete yet." if framework.status == 'open' else "You didn’t mark any services as complete.",
    field_headings=[
        "Service name"
    ],
    field_headings_visible=False
  ) %}
    {% call summary.row() %}
      {{ summary.service_link(
          draft.serviceName,
          url_for(".view_service_submission", framework_slug=framework.slug, lot_slug=draft.lot, service_id=draft.id)
      ) }}
    {% endcall %}
  {% endcall %}

  {{ summary.heading("Live services") }}
  {% set empty_message %}
    You don’t have any {{ framework.name }} services on the Digital Marketplace
  {% endset %}
  {% call(item) summary.list_table(
    services,
    caption='Current services',
    field_headings=[
      'Name',
      'Lot',
      summary.hidden_field_heading("Status")
    ],
    field_headings_visible=True,
    empty_message=empty_message
  ) %}
    {% call summary.row() %}
      {{ summary.service_link(
          item.serviceName or item.lotName,
          url_for('.edit_service', framework_slug=item.frameworkSlug, service_id=item.id)
      ) }}

      {{ summary.text(item.lotName or item.lot) }}

      {% call summary.field(action=True) %}
        {% if item.status == "published" %}
          Live
        {% else %}
          Removed
        {% endif %}
      {% endcall %}
    {% endcall %}
  {% endcall %}
{% endblock %}
