{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block pageTitle %}
  Current services – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Your " + framework.name + " services"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  {% include "partials/g12_recovery_information.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Your {{ framework.name }} services</h1>
    </div>
  </div>

  {% set empty_message %}
    You don’t have any {{ framework.name }} services on the Digital Marketplace
  {% endset %}
  {% call(item) summary.list_table(
    services,
    caption='Current services',
    field_headings=[
      'Name',
      'Lot',
      summary.hidden_field_heading("Status")
    ],
    field_headings_visible=True,
    empty_message=empty_message
  ) %}
    {% call summary.row() %}
      {{ summary.service_link(
          item.serviceName or item.lotName,
          url_for('.edit_service', framework_slug=item.frameworkSlug, service_id=item.id)
      ) }}

      {{ summary.text(item.lotName or item.lot) }}

      {% call summary.field(action=True) %}
        {% if item.status == "published" %}
          Live
        {% else %}
          Removed
        {% endif %}
      {% endcall %}
    {% endcall %}
  {% endcall %}
{% endblock %}
