{% extends "_base_page.html" %}

{% block pageTitle %}
  Copy your {{ source_framework.name }} services – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Apply to " + framework.name,
        "href": url_for(".framework_dashboard", framework_slug=framework.slug)
      },
      {
        "text": "Services",
        "href": url_for(".framework_submission_lots", framework_slug=framework.slug)
      },
      {
        "text": lot.name,
        "href": url_for(".framework_submission_services", framework_slug=framework.slug, lot_slug=lot.slug)
      },
      {
        "text": "Copy your {} services".format(source_framework.name)
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  {% if lot.oneServiceLimit %}

    {% include "partials/service_warning.html" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="POST" action="{{ url_for('.previous_services', framework_slug=framework.slug, lot_slug=lot.slug) }}" novalidate>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

          {{ govukRadios({
            "idPrefix": "input-" + form.copy_service.name,
            "name": form.copy_service.name,
            "hint": {
              "text": form.copy_service.description,
            },
            "items": [
              {"text": "Yes", "value": "yes"},
              {"text": "No", "value": "no"},
            ],
            "fieldset": {
              "legend": {
                "text": form.copy_service.label.text,
                "classes": "govuk-fieldset__legend--l",
                "isPageHeading": true,
              }
            },
            "errorMessage": {
                "text": errors.get(form.copy_service.name, {}).get('message', None)
              } if errors,

          }) }}

          {{ govukButton({
            "text": "Save and continue",
            "attributes": {
              "data-analytics": "trackEvent",
              "data-analytics-category": "Copy services",
              "data-analytics-action": "Copy one lot service",
              "data-analytics-label": lot.slug,
            },
          }) }}
        </form>
      </div>
    </div>
  {% else %}
    {% include "partials/service_warning.html" %}

<h1 class="govuk-heading-l">Previous {{ lot.name|lower }} services</h1>
    {{ govukButton({
    'text': 'Add all your services',
    'href': url_for('.confirm_copy_all_previous_services', framework_slug=framework.slug, lot_slug=lot.slug),
    "attributes": {
        "data-name": 'add-all-services'
        }
    }) }}

{% if previous_services_still_to_copy|length > 1 %}
    {% endif %}
      {% set ns = namespace(service_rows = []) %}
      {% for service in previous_services_still_to_copy %}
          {% set service_link %}
            <a href="{{ url_for(".edit_service", framework_slug=source_framework.slug, service_id=service.id) }}">{{ service.serviceName }}</a>
          {% endset %}
          {% set add_button %}
            <form method="post" action="{{ url_for('.copy_previous_service', framework_slug=framework.slug, lot_slug=service.lot, service_id=service.id) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token_value or csrf_token() }}" />
                {{ govukButton({
                          "html": 'Add<span class="govuk-visually-hidden"> {} to {}</span>'.format(service.serviceName, framework.name),
                          "classes": "govuk-button--secondary govuk-!-margin-0",
                          "attributes": {
                            "data-analytics": "trackEvent",
                            "data-analytics-category": "Copy services",
                            "data-analytics-action": "Copy individual",
                            "data-analytics-label": "ID: {}".format(service.id),
                          },
                        }) }}
            </form>
          {% endset %}

          {% set row = ns.service_rows.append(
          [
          {'html': service_link},
          {'html': add_button}
          ]

          ) %}
      {% endfor %}
      {{ govukTable({
        'caption': "Your services from {}".format(source_framework.name),
        'captionClasses': "govuk-table__caption--m",
        'head': [
        {'text': "Service name"},
        {'html': '<span class="govuk-visually-hidden">Add to ' + framework.name + '</span>'}
        ],
        'rows': ns.service_rows,
        }) }}

    <hr class="govuk-section-break govuk-section-break--m">

    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state"
         href="{{ url_for('.framework_submission_services', framework_slug=framework.slug, lot_slug=lot.slug) }}"
      >
      Back to services
      </a>
    </p>

  {% endif %}

{% endblock %}
