{% extends "services/_base_service_page.html" %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Your " + service_data["frameworkName"] + " services",
        "href": url_for(".list_services", framework_slug=service_data["frameworkSlug"])
      },
      {
        "text": service_data.get('serviceName', service_data['lotName'])
      }
    ]
  }) }}
{% endblock %}

{% block before_heading %}
  <div class="govuk-grid-column-full">
    {% if service_data.status != 'published' and service_unavailability_information %}
      {%
        with
        message = "If you don’t know why this service was removed or you want to reinstate it, contact <a class='govuk-link' href='mailto:{support_email_address}'>{support_email_address}</a>.".format(support_email_address=support_email_address) | safe,
        type = "temporary-message",
        heading = "This service was removed on {}".format(service_unavailability_information.createdAt|dateformat)
      %}
        {% include "toolkit/notification-banner.html" %}
      {% endwith %}
    {% elif remove_requested and service_data.frameworkFamily != "digital-outcomes-and-specialists" %}
      <div class="banner-destructive-with-action">
        <p class="banner-message">
          Are you sure you want to remove your service?
        </p>
        <p class="banner-message">
          When you remove a service, you can only reinstate it by emailing <a class="govuk-link" href='mailto:{{ support_email_address }}'>{{ support_email_address }}</a>.
        </p>
        <form action="{{ url_for('.remove_service', framework_slug=service_data['frameworkSlug'], service_id=service_id ) }}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="hidden" name="remove_confirmed" value="true" />
          {{ govukButton({
            "text": "Remove service",
            "classes": "govuk-button--warning app-banner-action",
          }) }}
        </form>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block before_sections %}
  {% if service_data.frameworkFamily != "digital-outcomes-and-specialists" %}
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body govuk-!-margin-bottom-6">
        <a class="govuk-link" href="/g-cloud/services/{{service_id}}">
          View service page on the Digital Marketplace
        </a>
      </p>

      <p class="govuk-body">
        You can edit how you describe your service but you can’t change the service itself or how it works.
      </p>

    </div>
  {% endif %}
{% endblock %}

{% block edit_link %}
  {{ summary.top_link("Edit", url_for(".edit_section", framework_slug=service_data["frameworkSlug"], service_id=service_id, section_id=section.id, hidden_text=section.name)) }}
{% endblock %}

{% block summary_row %}
  {% if section.editable or not question.is_empty %}
    {{ summary.field_name(question.label) }}
    {% if question.is_empty %}
      {# We need to call this (even if with nothing) to add the final column to the row, otherwise the row
         terminates early and the line separators between rows do not span the entire width of the table. #}
      {% call summary.field() %}
        <span class="summary-item-field-answer-required" align="left">{{ question.empty_message }}</span>
      {% endcall %}
    {% else %}
      {{ summary[question.type](question.value) }}
    {% endif %}
  {% endif %}
{% endblock %}

{% block after_sections %}
  {% if service_data.status == 'published' and not remove_requested and service_data.frameworkFamily != "digital-outcomes-and-specialists" %}
    <div class="govuk-grid-column-two-thirds">
      <div class="edit-service-status-panel">
        <h2>Remove this service</h2>
        <p class="govuk-body">If you remove a service, it won’t be available to buy on the Digital Marketplace
          and it won’t appear in search results.</p>
        <p class="govuk-body">Your service page will be updated to include a message showing users that the service
          is no longer available to buy.</p>
        <p class="govuk-body">You’ll need to email
          <a class="govuk-link" href="mailto:{{ support_email_address }}">{{ support_email_address }}</a>
           to reinstate your service.</p>
        <form action="{{ url_for('.remove_service', framework_slug=service_data["frameworkSlug"], service_id=service_id ) }}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          {{ govukButton({
            "text": "Remove service",
            "classes": "govuk-button--warning",
          }) }}
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}
