{% extends "services/_base_service_page.html" %}

{% block page_title %}{{ service_data.lotName }} submission summary – Digital Marketplace{% endblock %}

{% import "macros/submission.html" as submission %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": "Your account"
      },
      {
        "link": url_for(".framework_dashboard", framework_slug=framework.slug),
        "label": "Apply to " + framework.name
      },
      {
        "link": url_for(".framework_submission_lots", framework_slug=framework.slug),
        "label": "Services"
      },
      {
        "link": url_for(".framework_submission_services", framework_slug=framework.slug, lot_slug=service_data.lot),
        "label": service_data.lotName
      } if not lot.oneServiceLimit else {}
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
  {% if service_data.status == 'submitted' and declaration_status != 'complete' and framework.status == 'open' %}
    <div class="wrapper">
      {%
        with
        message = 'You need to make the supplier declaration at ' + url_for('.framework_supplier_declaration', framework_slug=framework.slug) + ' before ' + service_data.get('serviceName', service_data['lotName'])|lower + ' can be submitted',
        type = 'warning'
      %}
        {% include 'toolkit/notification-banner.html' %}
      {% endwith %}
    </div>
  {% endif %}

  {% if framework.status == 'pending' %}
    <div class="wrapper">
      <aside role="complementary" class="temporary-message" aria-labelledby="temporary-message-heading">
        {% if service_data.status == 'submitted' %}
          <h2 class="temporary-message-heading" id="temporary-message-heading">
            This service was submitted
          </h2>
          <p class="temporary-message-message">
            If your application is successful, it will be available on the Digital Marketplace when {{ framework.name }} goes live.
          </p>
        {% else %}
          <h2 class="temporary-message-heading" id="temporary-message-heading">
            This service was not submitted
          </h2>
          <p class="temporary-message-message">
            It wasn't marked as complete at the deadline.
          </p>
        {% endif %}
      </aside>
    </div>

  {% endif %}
{% endblock %}

{% block before_sections %}

<div class="column-one-third align-with-heading">
  <p class='last-edited hint'>
    Last edited:
    {{ last_edit.createdAt|datetimeformat }}
    by {{ last_edit.userName }}
  </p>
  {% if framework.status == 'open' %}
    {% if not lot.oneServiceLimit and (unanswered_required or unanswered_optional) %}
      <p class="last-edited">
        {{ submission.multiline_string(
          submission.unanswered_required_text(unanswered_required, unanswered_optional),
          submission.unanswered_optional_text(unanswered_required, unanswered_optional)
        ) }}
      </p>
    {% endif %}
    {% if service_data.status == 'submitted' and declaration_status == 'complete' %}
      <span class="service-status-published">This service is marked as complete and will be submitted at {{ dates.framework_close_date }}</span>
    {% endif %}
    {% if service_data.status == 'not-submitted' and can_mark_complete and framework.status == 'open' %}
      {% include "partials/complete_service.html" %}
    {% endif %}
  {% elif framework.status == 'pending' %}
    {% if unanswered_required or unanswered_optional %}
      <p class="last-edited">
        {{ submission.multiline_string(
          submission.unanswered_required_text(unanswered_required, unanswered_optional),
          submission.unanswered_optional_text(unanswered_required, unanswered_optional)
        ) }}
      </p>
    {% endif %}
  {% endif %}
  {% if service_data.status == 'not-submitted' and not can_mark_complete and framework.status == 'open' %}
  <p>
    Once you’ve entered all the required information, you can mark the service as complete.
  </p>
  {% endif %}
  </div>
{% endblock %}

{% block before_heading %}
  {% if delete_requested %}
    <div class="column-one-whole">
      <form action="{{ url_for('.delete_draft_service', framework_slug=framework.slug, lot_slug=service_data.lot, service_id=service_id ) }}" method="POST">
        {{ form.csrf_token }}
        <input type="hidden" name="delete_confirmed" value="true" />
        <div class="banner-destructive-with-action">
          <p class="banner-message">
            Are you sure you want to delete {{ service_data.lotName.lower() if lot.oneServiceLimit else 'this {}'.format(lot.unitSingular) }}?
          </p>
          <button type="submit" class="button-destructive banner-action">Yes, delete</button>
        </div>
      </form>
    </div>
  {% endif %}
{% endblock %}


{% block edit_link %}
  {% if framework.status == 'open' %}
    {{ summary.top_link("Edit", url_for(".edit_service_submission", framework_slug=framework.slug, lot_slug=service_data.lot, service_id=service_id, section_id=section.id)) }}
  {% endif %}
{% endblock %}


{% block after_sections %}
  {% if not delete_requested %}
    <div class="grid-row">
      <div class="column-two-thirds">
        &nbsp;
      </div>
      <div class="column-one-third delete-draft-button">
        {% if service_data.status == 'not-submitted' and can_mark_complete and framework.status == 'open' %}
          <div class="space-underneath">
            {% include "partials/complete_service.html" %}
          </div>
        {% endif %}
        {% if framework.status == 'open' %}
        <form action="{{ url_for('.delete_draft_service', framework_slug=framework.slug, lot_slug=service_data.lot, service_id=service_id ) }}" method="POST">
          {{ form.csrf_token }}
          {% with
            type = "destructive",
            label = "Delete"
          %}
            {% include "toolkit/button.html" %}
          {% endwith %}
        </form>
        {% endif %}
      </div>
      {% if lot.oneServiceLimit %}
        {% set back_to_service_url = url_for(".framework_submission_lots", framework_slug=framework.slug) %}
        {% set back_to_service_link_text = 'Back to application' %}
      {% else %}
        {% set back_to_service_url = url_for(".framework_submission_services", framework_slug=framework.slug, lot_slug=service_data.lot) %}
        {% set back_to_service_link_text = 'Back to {}'.format(service_data['lotName']|lower) %}
      {% endif %}
      <div class="column-two-thirds">
          {%
            with
            url = back_to_service_url,
            text = back_to_service_link_text
          %}
            {% include "toolkit/secondary-action-link.html" %}
          {% endwith %}
      </div>
    </div>
  {% endif %}
{% endblock %}
