{% extends "services/_base_service_page.html" %}
{% import 'macros/answers.html' as answers %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": current_user.supplier_name
      },
      {
        "link": url_for(".framework_dashboard"),
        "label": "Apply to G-Cloud 7"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block edit_link %}
  {{ summary.top_link("Edit", url_for(".edit_service_submission", service_id=service_id, section_id=section.id)) }}
{% endblock %}

{% block after_sections %}
<form action="{{ url_for('.delete_draft_service', service_id=service_id ) }}" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  {%
  with
  type = "destructive",
  label = "Delete this service"
  %}
  {% include "toolkit/button.html" %}
  {% endwith %}
</form>
{% endblock %}
