{% extends "services/_base_service_page.html" %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": current_user.supplier_name
      },
      {
        "link": url_for(".list_services"),
        "label": "Services"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block before_sections %}
  {% if error %}
    <div class="column-one-whole">
      {% with
        lede = error,
        errors = {}
      %}
        {% include "toolkit/forms/validation.html" %}
      {% endwith %}
    </div>
  {% endif %}
    <div class="column-two-thirds">
      {% include "services/_edit-status.html" %}
    </div>
{% endblock %}

{% block edit_link %}
  {{ summary.top_link("Edit", url_for(".edit_section", service_id=service_id, section_id=section.id)) }}
{% endblock %}
