{% extends "services/_base_service_page.html" %}

{% import "macros/submission.html" as submission %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": "Your account"
      },
      {
        "link": url_for(".framework_dashboard"),
        "label": "Apply to G-Cloud 7"
      },
      {
        "link": url_for(".framework_services"),
        "label": "Services"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
  {% if service_data.status == 'submitted' and declaration_status != 'complete' %}
    <div class="wrapper">
      {%
        with
        message = 'You need to <a href="' + url_for('.framework_supplier_declaration', section_id='g_cloud_7_essentials') + '">make the supplier&nbsp;declaration</a> before this service can be submitted',
        type = 'warning'
      %}
        {% include 'toolkit/notification-banner.html' %}
      {% endwith %}
    </div>
  {% endif %}
{% endblock %}

{% block before_sections %}

<div class="column-one-third align-with-heading">
  <p>
    <strong>Last edited</strong>
  </p>
  <p class="last-edited">
    {{ last_edit.createdAt|datetimeformat }}
    by {{ last_edit.userName }}
  </p>
  {% if unanswered_required or unanswered_optional %}
    <p class="last-edited">
      {{ submission.multiline_string(
        submission.unanswered_required_text(unanswered_required, unanswered_optional),
        submission.unanswered_optional_text(unanswered_required, unanswered_optional)
      ) }}
    </p>
  {% endif %}
  {% if service_data.status == 'submitted' and declaration_made %}
    <span class="service-status-published">This service is complete and will be automatically submitted at 3pm&nbsp;BST, 6 October</span>
  {% endif %}
  {% if service_data.status == 'not-submitted' and unanswered_required == 0 %}
    {% include "partials/complete_service.html" %}
  {% elif unanswered_required > 0 %}
    <p class="move-to-complete-hint">When you have added all the required information, you can mark the service as complete.</p>
  {% endif %}
</div>
{% endblock %}

{% block before_heading %}
  {% if delete_requested %}
    <div class="column-one-whole">
      <form action="{{ url_for('.delete_draft_service', service_id=service_id ) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="delete_confirmed" value="true" />
        <div class="banner-destructive-with-action">
          <p class="banner-message">
            Are you sure you want to delete this service?
          </p>
          <button class="button-destructive banner-action">Yes, delete &ldquo;{{ service_data['serviceName'] }}&rdquo;</button>
        </div>
      </form>
    </div>
  {% endif %}
{% endblock %}

{% block edit_link %}
  {{ summary.top_link("Edit", url_for(".edit_service_submission", service_id=service_id, section_id=section.id, return_to_summary=1)) }}
{% endblock %}

{% block after_sections %}
  {% if not delete_requested %}
    <div class="grid-row">
      <div class="column-two-thirds">
        &nbsp;
      </div>
      <div class="column-one-third delete-draft-button">
        {% if service_data.status == 'not-submitted' and unanswered_required == 0 %}
          <div class="space-underneath">
            {% include "partials/complete_service.html" %}
          </div>
        {% endif %}
        <form action="{{ url_for('.delete_draft_service', service_id=service_id ) }}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          {% with type = "destructive", label = "Delete this service" %}
            {% include "toolkit/button.html" %}
          {% endwith %}
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}
