docopt==0.4.0
git+https://github.com/madzak/python-json-logger.git@v0.1.3#egg=python-json-logger==v0.1.3
git+https://github.com/alphagov/digitalmarketplace-utils.git@15.0.0#egg=digitalmarketplace-utils==15.0.0
