// FIXME: Temporary, remove once we are using govuk-frontend grids
//
// This is needed to push down the page content but more specifically page
// headings.
//
// Previously CSS would adjust top and bottom margins/padding. We should try
// spacing by pushing content down and not worrying about what is above it.

#content {
    @include govuk-responsive-margin(7, "top");
}
