/*
 * On the services submissions page, we use a table with action links.
 * We want to style all the action links to be right-aligned.
 */

.dm-action-link {
    text-align: right;
}

/*
 * On /frameworks/<framework_slug>/submissions we override the table width
 * in order to make the multiple tables on the page look consistent.
 * The GOV.UK Design System width overrides default to 100%, so on small screens,
 * the override ends up making things go wonky.
 * This overrides THAT override.
 */

 .dm-table {
    .govuk-\!-width-one-third {
        width: 33.33% !important;
    }
 }

/*
 * GOV UK table caption modifiers are only available in govuk-frontend v3.12
 * We use this modifier on our previous services table, so we can add our
 * own override.
 * @TODO: When we have updated to govuk-frontend v3.12, we should remove
 * this.
 */
.govuk-table__caption--m {
    @include govuk-font($size: 24, $weight: bold);
    margin-bottom: govuk-spacing(3);
}
