{% if supplier_is_on_framework and framework.status in ['standstill', 'live'] and supplier_framework.agreementReturned %}
<div>
  <h2 class="govuk-heading-m">Legal documents</h2>

  {% if framework.frameworkAgreementVersion %}
    {# e-signature frameworks don't use signed_agreement_document_name but supplier_framework.agreementReturned check above should be sufficient #}
    {% if signed_agreement_document_name or framework['isESignatureSupported']  %}
        {% if countersigned_agreement_file %}
          <p class="govuk-body">
            {% if framework['isESignatureSupported'] %}
            Your signed {{ contract_title | lower }} forms a complete legal contract.
            {% else %}
            Your original and counterpart signature pages, and the standard framework
            agreement, form a complete, legal contract.
            {% endif %}
          </p>
        {% else %}
          <p class="govuk-body">
              {% if framework['isESignatureSupported'] %}
              Your signed {{ contract_title | lower }} will be sent to Crown Commercial Service (<abbr title="Crown Commercial Service">CCS</abbr>) to be countersigned.
              We'll email you when the countersigned agreement is available.
              You'll need to wait for <abbr title="Crown Commercial Service">CCS</abbr> to countersign your agreement before you can sell services.
              {% else %}
              Your framework agreement signature page has been sent to
              the Crown Commercial Service (<abbr title="Crown Commercial Service">CCS</abbr>).
              They’ll check and countersign the agreement, or contact you if there’s a
              problem. You don’t need to wait for <abbr title="Crown Commercial Service">CCS</abbr> to
              countersign your agreement before you start selling services.
              {% endif %}
          </p>
        {% endif %}
    {% endif %}

    {% if not countersigned_agreement_file %}
      {{ govukSummaryList({
        "attributes": { "aria-label": "Agreement details" },
        "rows": [
          {
            "key": {
              "text": "Person who signed"
            },
            "value": {
              "html": '<p class="govuk-body">' + supplier_framework.agreementDetails.signerName + '</p>
                      <p class="govuk-body">' + supplier_framework.agreementDetails.signerRole + '</p>'
            }
          },
          {
            "key": {
              "text": "Submitted by"
            },
            "value": {
              "html": '<p class="govuk-body">' + supplier_framework.agreementDetails.uploaderUserName + '</p>
                      <p class="govuk-body">' + supplier_framework.agreementDetails.uploaderUserEmail + '</p>
                      <p class="govuk-body">' + supplier_framework.agreementReturnedAt|datetimeformat + '</p>'
            }
          },
          {
            "key": {
              "text": "Countersignature"
            },
            "value": {
              "text": 'Waiting for CCS to countersign'
            }
          }
        ]
      })}}
    {% endif %}
  {% endif %}
  
  {% if framework_urls.framework_agreement_url %}
    {# newer frameworks should have the final agreement published as a web page #}
    <p class="govuk-body">
      <a class="govuk-link" href="{{ framework_urls.framework_agreement_url }}">
        Read the standard {{ contract_title | lower }}
      </a>
    </p>
  {% elif communications_files.final_agreement.last_modified %}
    {# older frameworks will still have to point to a file that came from the old supplier pack #}
    {{dmAttachment({
      "link": {
        "classes": "govuk-!-font-size-19",
        "href": url_for('.download_supplier_file', filepath=communications_files.final_agreement.filename, framework_slug=framework.slug),
        "text": "Download the standard framework agreement",
      },
      "headingTag": "h3",
      "contentType": "application/pdf",
      "alternativeFormatContactEmail": "info@crowncommercial.gov.uk"
    })}}
  {% endif %}
  {% if signed_agreement_document_name %}
    {{dmAttachment({
      "link": {
        "classes": "govuk-!-font-size-19",
        "href": url_for('.download_agreement_file', framework_slug=framework.slug, document_name=signed_agreement_document_name),
        "text": "Download your ‘original’ framework agreement signature page" if framework.frameworkAgreementVersion else "Download your signed framework agreement",
      },
      "headingTag": "h3",
      "contentType": "application/pdf",
      "alternativeFormatContactEmail": "info@crowncommercial.gov.uk",
      "description": {
        "text": "The agreement signed by your company"
      }
    })}}
  {% endif %}
  {% if countersigned_agreement_file %}
    {% set signed_message %}
      {% if framework.frameworkAgreementVersion %}
        {% if framework['isESignatureSupported'] %}
          Download your signed {{ contract_title }}
        {% else %}
          Download your ‘counterpart’ framework agreement signature page
        {% endif %}
      {% else %}
        Download your countersigned framework agreement
      {% endif %}
    {% endset %}
    {{dmAttachment({
      "link": {
        "classes": "govuk-!-font-size-19",
        "href": url_for('.download_agreement_file', framework_slug=framework.slug, document_name=countersigned_agreement_file),
        "text": signed_message,
      },
      "headingTag": "h3",
      "contentType": "application/pdf",
      "alternativeFormatContactEmail": "info@crowncommercial.gov.uk",
      "description": {
        "text": "This agreement is signed by the Crown Commercial Service." if framework['isESignatureSupported'] else "The agreement signed by the Crown Commercial Service."
      }
    })}}
  {% endif %}
  {% if countersigned_agreement_file and not framework.frameworkAgreementVersion %}
    {{dmAttachment({
      "link": {
        "classes": "govuk-!-font-size-19",
        "href": url_for('.download_agreement_file', framework_slug=framework.slug, document_name=result_letter_filename),
        "text": "Download your application result letter",
      },
      "headingTag": "h3",
      "contentType": "application/pdf",
      "alternativeFormatContactEmail": "info@crowncommercial.gov.uk"
    })}}
  {% endif %}
  {% for variation in framework.variations %}
    {{dmAttachment({
      "link": {
        "classes": "govuk-!-font-size-19",
        "href": url_for('.view_contract_variation', framework_slug=framework.slug, variation_slug=variation),
        "text": "View the signed contract variation" if (framework.variations[variation].get('countersignedAt') and supplier_framework.agreedVariations.get(variation).agreedAt) else 'Read the proposed contract variation',
      },
      "headingTag": "h3",
      "contentType": "application/pdf",
      "alternativeFormatContactEmail": "info@crowncommercial.gov.uk"
    })}}
  {% endfor %}
  {% if communications_files.final_call_off.last_modified %}
    {{dmAttachment({
      "link": {
        "classes": "govuk-!-font-size-19",
        "href": url_for('.download_supplier_file', filepath=communications_files.final_call_off.filename, framework_slug=framework.slug),
        "text": "Download the call-off contract template",
      },
      "headingTag": "h3",
      "contentType": "application/pdf",
      "alternativeFormatContactEmail": "info@crowncommercial.gov.uk"
    })}}
  {% endif %}
  {% if not countersigned_agreement_file %}
    <p class="govuk-body">
      You can start selling your {{ framework.name }} services on the Digital Marketplace from {{ framework.frameworkLiveAt }}.
    </p>
  {% endif %}
</div>
{% endif %}
