{% if framework.status in ['standstill', 'live'] and application_made and not countersigned_agreement_file %}
  {% if not (framework.frameworkAgreementVersion and supplier_is_on_framework) %}
  <li class="browse-list-item">
    <a class="browse-list-item-link" href="{{ url_for('.download_agreement_file', framework_slug=framework.slug, document_name='result-letter.pdf') }}" download>
      <span>Download your application {% if supplier_is_on_framework %}award{% else %}result{% endif %} letter (.pdf)</span>
    </a>
    {% if supplier_is_on_framework %}
      <p>This letter is a record of your successful {{ framework.name }} application.</p>
    {% else %}
      <p>This letter informs you if your {{ framework.name }} application has been successful.</p>
    {% endif %}

  </li>
  {% endif %}

  {% if supplier_is_on_framework and not supplier_framework.agreementReturned %}
  <li class="browse-list-item">
    <a class="browse-list-item-link" href="{{ url_for('.framework_agreement', framework_slug=framework.slug) }}">
      <span>Sign and return your framework agreement</span>
    </a>
    <p>Your agreement will need to be signed by both you and the Crown Commercial Service before you can sell {{framework.name}} services.</p>
  </li>
  {% endif %}
{% endif %}

{% if framework.status == 'open' %}
<li class="browse-list-item">
  <a class="browse-list-item-link"
     href="{{ url_for('.supplier_details') }}">
    <h2>1. Enter your company details</h2>
  </a>
  {% if not application_company_details_confirmed %}
  <div class="browse-list-item-status-quiet">
    <p class="browse-list-item-status-title">You must {% if supplier_company_details_complete %}confirm{% else %}add{% endif %} your organisation’s details</p>
  </div>
  {% else %}
  {% if declaration_status == 'complete' and counts.complete %}
  <div class="browse-list-item-status-happy">
  {% else %}
    <div class="browse-list-item-status-default">
  {% endif %}
    <p class="browse-list-item-status-title">
      <strong>Your company details were saved</strong>
    </p>
  </div>
  {% endif %}
</li>

<li class="browse-list-item">
  {% if not application_company_details_confirmed %}
    <h2>2. Make supplier declaration</h2>
    <p class="instruction-list-item-box inactive">Can't start yet</p>
  {% else %}
    {% if declaration_status == 'unstarted' %}
    <a class="browse-list-item-link" href="{{ url_for('.framework_start_supplier_declaration', framework_slug=framework.slug) }}">
      <h2>2. Make supplier declaration</h2>
    </a>
    {% else %}
    <a class="browse-list-item-link" href="{{ url_for('.framework_supplier_declaration_overview', framework_slug=framework.slug) }}">
      <h2>2. Edit supplier declaration</h2>
    </a>
    {% endif %}
    <p class="browse-list-item-body">
      Confirm eligibility, agree to the application terms and provide supplier&nbsp;information.
    </p>
    {% if declaration_status == 'unstarted' and not counts.complete %}
      <div class="browse-list-item-status-quiet">
        <p class="browse-list-item-status-title">You need to make the supplier declaration</p>
      </div>
    {% elif declaration_status == 'started' and not counts.complete %}
      <div class="browse-list-item-status-quiet">
        <p class="browse-list-item-status-title">You need to finish making the supplier declaration</p>
      </div>
    {% elif declaration_status == 'unstarted' and counts.complete %}
      <div class="browse-list-item-status-angry">
        <p class="browse-list-item-status-title">
          <strong>No services will be submitted because you haven’t made the supplier declaration</strong>
        </p>
      </div>
    {% elif declaration_status == 'started' and counts.complete %}
      <div class="browse-list-item-status-angry">
        <p class="browse-list-item-status-title">
          <strong>No services will be submitted because you haven’t finished making the supplier declaration</strong>
        </p>
      </div>
    {% elif declaration_status == 'complete' %}
      {% if counts.complete and application_company_details_confirmed %}
        <div class="browse-list-item-status-happy">
      {% else %}
        <div class="browse-list-item-status-default">
      {% endif %}
        <p class="browse-list-item-status-title">
          <strong>You’ve made the supplier declaration</strong>
        </p>
      </div>
    {% endif %}
  {% endif %}
</li>

<li class="browse-list-item">
  {% if not application_company_details_confirmed %}
    <h2>3. Add, edit and complete services</h2>
    <p class="instruction-list-item-box inactive">Can't start yet</p>
  {% else %}
    <a class="browse-list-item-link" href="{{ url_for('.framework_submission_lots', framework_slug=framework.slug) }}">
      <h2>3. Add, edit and complete services</h2>
    </a>
    {% if framework_advice.use_of_service_data %}
    <div class="browse-list-item-body use-of-service-data">
      {{ framework_advice.use_of_service_data }}
    </div>
    {% endif %}
  
    {% if not counts.complete %}
      {% if not counts.draft %}
    <div class="browse-list-item-status-quiet">
      <p class="browse-list-item-status-title">You need to add and complete services</p>
    </div>
      {% else %}
    <div class="browse-list-item-status-quiet">
      <p class="browse-list-item-status-title">No services marked as complete</p>
    </div>
      {% endif %}
    {% else %}
      {% if declaration_status == 'complete' %}
    <div class="browse-list-item-status-happy">
      <p class="browse-list-item-status-title">You’re submitting</p>
      {% else %}
    <div class="browse-list-item-status-default">
      <p class="browse-list-item-status-title">You’ve completed:</p>
      {% endif %}
      <ul class="browse-list-item-status-list">
        {% for lot in completed_lots %}
          {% if lot.one_service_limit %}
        <li>
            {{lot.name|lower}}
        </li>
          {% else %}
        <li>
          {{ lot.complete_count }}
          {{ lot.unitSingular if (1 == lot.complete_count) else lot.unitPlural }} in
          {{ lot.name|lower }}
        </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% endif %}
</li>
{% endif %}
