<h2 class="govuk-heading-m">1.      The Appointment</h2>


<p>
    This section includes terms about the Supplier appointment.</p>

<p class="govuk-heading-s">1.1       Appointment</p>

<p>Under the terms of this Framework Agreement (RM1557.12) and the Supplier’s Application, the Minister for the Cabinet Office, represented by the Crown Commercial Service (CCS), 9th Floor, The Capital, Old Hall Street, Liverpool, L3 9PP, appoints:</p>



<p>company: {{ company_details['registered_name'] }}</p>



<p>
    registered address: {{ [company_details.address.get('street_address_line_1'), company_details.address.get('locality'), company_details.address.get('postcode')] | join(', ') }}
</p>



<p>company number: {{  company_details['registration_number'] }}</p>



<p>(the ‘Supplier’), as a Framework Agreement Supplier of G-Cloud Services who can be considered for Call-Off Contracts as outlined in the Contract Notice in the Official Journal of the European Union reference RM1557.12 (OJEU Contract Notice).</p>



<p>1.2       Appointment is to: {{ completed_lots | join(', ')}}</p>



<p>1.3       Appointment starts at: 28 September 2020</p>



<p>1.4       Appointment ends at: 23:59 on 27 September 2021 (unless this Framework Agreement is extended by CCS or Ends early).</p>



<p>1.5       Framework Agreement extension: Up to 12 months, by CCS giving written notice to Suppliers.</p>



<p>1.6       Framework Agreement term: From and including the date at 1.3 above (Appointment starts at) to and including the date at 1.4 above (Appointment ends at).</p>



<p>1.7       Call-Off Contract length: Up to 24 months plus 2 optional extension periods of up to 12 months each.</p>



<p>1.8       The Parties agree that they have read this Framework Agreement and by signing below agree to be bound by its terms.</p>

<p>1.9       All sections, including the Invitation to Tender (known as the Invitation to Apply on the Digital Marketplace) and Schedules to this Framework Agreement are expressly part of this Framework Agreement.</p>

<p>1.10     CCS will pay £1 to the Supplier to perform its obligations under this Framework Agreement, receipt of which is acknowledged by the Supplier signing this Framework Agreement.</p>

<p>1.11     The finalised Framework Agreement includes an electronically signed Framework Agreement. It is electronically signed by the Supplier when they made the legal declaration confirming their agreement to the G-Cloud 12 Framework Agreement, and countersigned by the Crown Commercial Service.</p>