<div>
  <div>
    <h2 id="guidance" class="govuk-heading-m">Guidance</h2>

    {% if communications_files.invitation.last_modified %}
    <p class="govuk-body">
      <a class="govuk-link" href="{{ url_for('.download_supplier_file', filepath=communications_files.invitation.filename, framework_slug=framework.slug) }}">
        Download the invitation to apply
      </a>
    </p>
    {% endif %}

    <p class="govuk-body">
      <a class="govuk-link" href="{{ framework_urls.supplier_guide_url }}">
        Read about how to 
        {% if supplier_framework.agreementReturned %}
          sell your services
        {% else %}
          apply
        {% endif %}
      </a>
    </p>
  </div>
{#
  For framework states prior to 'pending' 'supplier_is_on_framework' will be false for everyone so links will be shown.
  Passes and fails are set some time during 'pending' but we want to continue to show the links to *all* suppliers
  up until the start of standstill.
  After that they are hidden from successful suppliers and replaced by '_agreement_returned_legal.html' content.
#}
{% if framework.status == 'pending' or not supplier_is_on_framework %}
  <div>
    <h2 id="legal-documents" class="govuk-heading-m">Legal documents</h2>

    {% if communications_files.final_agreement.last_modified %}
    {{dmAttachment({
      "link": {
        "classes": "govuk-!-font-size-19",
        "href": url_for('.download_supplier_file', filepath=communications_files.final_agreement.filename, framework_slug=framework.slug),
        "text": "Download the framework agreement",
      },
      "headingTag": "h3",
      "contentType": "application/pdf",
      "lastUpdated": {
        "datetime": communications_files.final_agreement.last_modified,
        "text": communications_files.final_agreement.last_modified|dateformat
      },
      "alternativeFormatContactEmail": "info@crowncommercial.gov.uk",
      "description": {
        "html": 'Read the agreement between the Crown Commercial Service (<abbr title="Crown Commercial Service">CCS</abbr>) and suppliers.'
      }
    })}}
    {% elif communications_files.proposed_agreement.last_modified %}
    {{dmAttachment({
      "link": {
        "classes": "govuk-!-font-size-19",
        "href": url_for('.download_supplier_file', filepath=communications_files.proposed_agreement.filename, framework_slug=framework.slug),
        "text": "Download the proposed framework agreement",
      },
      "headingTag": "h3",
      "contentType": "application/pdf",
      "lastUpdated": {
        "datetime": communications_files.proposed_agreement.last_modified,
        "text": communications_files.proposed_agreement.last_modified|dateformat
      },
      "alternativeFormatContactEmail": "info@crowncommercial.gov.uk",
      "description": {
        "html": 'Read the proposed agreement between the Crown Commercial Service (<abbr title="Crown Commercial Service">CCS</abbr>) and suppliers.'
      }
    })}}
    {% endif %}

    {% if communications_files.final_call_off.last_modified %}
    {{dmAttachment({
      "link": {
        "classes": "govuk-!-font-size-19",
        "href": url_for('.download_supplier_file', filepath=communications_files.final_call_off.filename, framework_slug=framework.slug),
        "text": "Download the ‘call-off’ contract",
      },
      "headingTag": "h3",
      "contentType": "application/pdf",
      "lastUpdated": {
        "datetime": communications_files.final_call_off.last_modified,
        "text": communications_files.final_call_off.last_modified|dateformat
      },
      "alternativeFormatContactEmail": "info@crowncommercial.gov.uk",
      "description": {
        "text": 'Read the contract between a buyer and a supplier.'
      }
    })}}
    {% elif communications_files.proposed_call_off.last_modified %}
    {{dmAttachment({
      "link": {
        "classes": "govuk-!-font-size-19",
        "href": url_for('.download_supplier_file', filepath=communications_files.proposed_call_off.filename, framework_slug=framework.slug),
        "text": "Download the proposed ‘call-off’ contract",
      },
      "headingTag": "h3",
      "contentType": "application/pdf",
      "lastUpdated": {
        "datetime": communications_files.proposed_call_off.last_modified,
        "text": communications_files.proposed_call_off.last_modified|dateformat
      },
      "alternativeFormatContactEmail": "info@crowncommercial.gov.uk",
      "description": {
        "text": 'Read the proposed contract between a buyer and a supplier.'
      }
    })}}
    {% endif %}
  </div>
{% endif %}
  <div>
    <h2 id="communications" class="govuk-heading-m">Communications</h2>

    {% if framework.status == "open" and framework.clarificationQuestionsOpen %}
    <p class="govuk-body">
      You can review and ask clarification questions about this
      framework until {{ framework.clarificationsCloseAt }}.
    </p>
    {% endif %}

    <p class="govuk-body">
      <a class="govuk-link" href="{{ url_for('.framework_updates', framework_slug=framework.slug) }}">
        View communications and
        {% if framework.status == "open" and framework.clarificationQuestionsOpen %}ask{% endif %}
        clarification questions
      </a>
      {% if communications_files.supplier_updates.last_modified %}
      <span class="govuk-hint">
        Last updated
        <time datetime="{{ communications_files.supplier_updates.last_modified }}">
          {{ communications_files.supplier_updates.last_modified|dateformat }}
        </time>
      </span>
      {% endif %}
    </p>
  </div>
{% if communications_files.reporting_template.last_modified %}
  <div>
  <h2 id="reporting" class="govuk-heading-m">Reporting</h2>
    {{dmAttachment({
      "link": {
        "classes": "govuk-!-font-size-19",
        "href": url_for('.download_supplier_file', filepath=communications_files.reporting_template.filename, framework_slug=framework.slug),
        "text": "Download the reporting template",
      },
      "headingTag": "h3",
      "alternativeFormatContactEmail": "info@crowncommercial.gov.uk",
      "description": {
        "text": 'You’ll need to send monthly ‘management information’ about the contracts you’ve been working on to CCS.'
      }
    })}}
  </div>
{% endif %}
</div>
