<div id="session-timeout-warning" class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    <p class="govuk-body">You must save these answers {{ "by {}".format(session_timeout) if session_timeout else "within one hour" }}.</p>
    <p class="govuk-body">
      If you don’t save, your session will time out for security reasons.
      You’ll lose any information you’ve entered on this page.
    </p>
  </strong>
</div>
