{% if framework.status in ['pending', 'standstill'] and application_made %}
<li class="browse-list-item">
  <h2>You submitted:</h2>
  <ul class="list-bullet">
    {% for lot in completed_lots %}
      {% if lot.one_service_limit %}
        <li>{{ lot.name }}</li>
      {% else %}
        <li>
          {{ lot.complete_count }} {{ lot.name }}
          {{ lot.unitSingular if (1 == lot.complete_count) else lot.unitPlural }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <a href="{{ url_for('.framework_submission_lots', framework_slug=framework.slug) }}">
    View submitted services
  </a>
</li>
{% endif %}
