{% extends "_base_page.html" %}

{% block page_title %}{{ framework.name }} Framework Agreement – Digital Marketplace{% endblock %}

{% block breadcrumb %}
{%
with items = [
    {
        "link": "/",
        "label": "Digital Marketplace",
    },
    {
        "link": url_for(".dashboard"),
        "label": "Your account",
    },
    {
        "link": url_for(".framework_dashboard", framework_slug=framework.slug),
        "label": "Your {} application".format(framework.name),
    }
]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}

{% block main_content %}
  {% if supplier_framework.agreementReturned %}
  {% with
     heading = "Your document has been uploaded",
     messages = [
      "You’ll be notified once your framework agreement has been countersigned by the Crown Commercial Service."
     ]
    %}
      {% include "toolkit/temporary-message.html" %}
    {% endwith %}
  {% endif %}

    <div class='column-two-thirds large-paragraph'>
        {% with
            heading = "Sign your " + framework.name + " framework agreement",
            smaller = True,
            with_breadcrumb = True
        %}
            {% include "toolkit/page-heading.html" %}
        {% endwith %}
    </div>

    <div class='column-two-thirds large-paragraph'>
        <div class="padding-bottom-small">
            <p>Your agreement will need to be signed by both you and the Crown Commercial Service (CCS) 
                before you can sell {{ framework.name }} services.</p>
        </div>

        <div class="padding-bottom framework-agreement-section-first">
            <h2>1. Download your framework agreement</h2>
            {% with
                items = [
                    {
                    "file_type": "PDF",
                    "link": url_for('.download_agreement_file', framework_slug=framework.slug, document_name='framework-agreement.pdf'),
                    "title": "Download framework agreement (PDF, 216KB)"
                    },
                ]
            %}
            {% include "toolkit/documents.html" %}
            {% endwith %}
        </div>
        
        <div class="padding-bottom framework-agreement-section">
            <h2>2. Read your framework agreement</h2>
            <p>If you have a question about your framework agreement, <a href="{{ url_for('.framework_updates', framework_slug=framework.slug) }}">contact CCS</a>.</p>
        </div>

        <div class="padding-bottom framework-agreement-section">
            <h2>3. Sign your framework agreement</h2>
            <p class="lead-in">To digitally sign your framework agreement, you need to:</p>
            <ol>
              <li>Use <strong>Adobe Reader</strong> to open your {{ framework.name }} framework agreement. 
                    You can download it for free from the <a rel="external" href="https://get.adobe.com/uk/reader/">Adobe Acrobat Reader</a> website.</li>

                <li>Go to page 15 and click the signature box under the title ‘Signed duly authorised for and on behalf of the supplier’.</li>

                <li>Use an existing digital ID or create a new one.</li>

                <li>Enter your name, email and organisation details.</li>

                <li>Enter and confirm your new password. </li>

                <li>Enter your password and click ‘Sign’.</li>

                <li>Save your document to add your digital ID to the signature box.</li>

            </ol>
            <p class="lead-in">
                If you can’t digitally sign your framework agreement:
            </p>
            <ol>
                <li>Print and sign page 16.</li>
                <li>Scan the page and save as PDF, JPG or PNG.</li>
            </ol>
            <p>
                Please don’t send paper copies to the CCS.
            </p>
        </div>
        
        <div class="padding-bottom framework-agreement-section">
            <form method="post" enctype="multipart/form-data" action="{{ url_for(".upload_framework_agreement", framework_slug=framework.slug) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <h2>4. Upload your signed framework agreement</h2>
                {% if supplier_framework.agreementReturned %}
                    {%
                    with
                    question = "Upload your signed framework agreement",
                    value = "Document uploaded {}".format(last_modified),
                    file_type = "PDF",
                    name = "agreement",
                    error = upload_error
                    %}
                    {% include "toolkit/forms/upload.html" %}
                    {% endwith %}
                {% else %}
                    {%
                    with
                    question = "Upload your signed framework agreement",
                    file_type = "PDF",
                    name = "agreement",
                    name = "agreement",
                    error = upload_error
                    %}
                    {% include "toolkit/forms/upload.html" %}
                    {% endwith %}
                {% endif %}
    
                {%
                with
                type = "save",
                label = "Send document to CCS"
                %}
                {% include "toolkit/button.html" %}
                {% endwith %}
            </form>
        </div>
        
        <a href="{{url_for('.framework_dashboard', framework_slug=framework.slug)}}">Return to your {{ framework.name }} application</a>
    </div>
{% endblock %}
