{% extends "_base_page.html" %}

{% block page_title %}{{ framework.name }} Framework Agreement – Digital Marketplace{% endblock %}

{% block breadcrumb %}
{%
with items = [
    {
        "link": "/",
        "label": "Digital Marketplace",
    },
    {
        "link": url_for(".dashboard"),
        "label": "Your account",
    },
    {
        "link": url_for(".framework_dashboard", framework_slug=framework.slug),
        "label": "Your {} application".format(framework.name),
    }
]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}

{% block main_content %}
  {% if supplier_framework.agreementReturned %}
    {% with
      heading = "Your document has been uploaded",
      messages = [
        "You’ll be notified once your framework agreement has been countersigned by the Crown Commercial Service."
      ]
    %}
      {% include "toolkit/temporary-message.html" %}
    {% endwith %}
  {% endif %}

  <div class='grid-row'>
    <div class='column-two-thirds large-paragraph'>
        {% with
            heading = "Sign your " + framework.name + " framework agreement",
            smaller = True,
            with_breadcrumb = True
        %}
            {% include "toolkit/page-heading.html" %}
        {% endwith %}
    </div>

    <div class='column-two-thirds large-paragraph'>
        <div class="padding-bottom-small">
            <p>Your agreement will need to be signed by both you and the Crown Commercial Service (CCS)
                before you can sell {{ framework.name }} services.</p>
        </div>


        <form method="post" enctype="multipart/form-data" action="{{ url_for(".upload_framework_agreement", framework_slug=framework.slug) }}">
          {{ form.csrf_token }}

          {% if supplier_framework.agreementReturned %}
            {% set upload_value = "Document uploaded {}".format(supplier_framework.agreementReturnedAt)  %}
          {% else %}
            {% set upload_value = "" %}
          {% endif %}

          {%
            with
            items = [
              {
                "body": "Download your framework agreement",
                "documents": [
                    {
                        "title": "Download framework agreement",
                        "link": (url_for('.download_agreement_file', framework_slug=framework.slug, document_name=agreement_filename)),
                        "file_type": "PDF",
                        "download": 'True'
                    }
                ]
              },
              {
                "body": "Read your framework agreement",
                "top": "If you have a question about your framework agreement, contact CCS."
              },
              {
                "body": "Sign your framework agreement",
                "sublist_collection": [
                  {
                    "lead_in": "To digitally sign your framework agreement, you need to:",
                    "sublists": [
                      {
                          "body": "Use <strong>Adobe Reader</strong> to open your Digital Outcomes and Specialists framework agreement. You can download it for free from the <a class='external-link-default' href='https://get.adobe.com/uk/reader/' rel='external'>Adobe Reader</a> Website."
                      },
                      {
                          "body": "Go to page 5 and click the first signature box."
                      },
                      {
                          "body": "Use an existing digital ID or create a new one."
                      },
                      {
                          "body": "Enter your name, email and organisation details."
                      },
                      {
                          "body": "Enter and confirm your new password. Enter your password and click ‘Sign’."
                      },
                      {
                          "body": "Save your document to add your digital ID to the signature box."
                      },
                      {
                          "body": "Send your signed framework agreement to CCS by uploading it below."
                      }
                    ]
                  },
                  {
                    "lead_in": "If you can’t digitally sign your framework agreement:",
                    "sublists": [
                      {
                        "body": "Print and sign page 5."
                      },
                      {
                        "body": "Scan the page and save as PDF, JPG or PNG."
                      },
                      {
                        "body": "Send your signed framework agreement to CCS by uploading it below."
                      }
                    ]
                  },
                ],
                "bottom": "Please don't send paper copies to CCS.",
              },
              {
                "body": "Upload your signed framework agreement",
                "uploads": [
                          {
                              "value": upload_value,
                              "name": "agreement",
                              "file_type": "PDF",
                              "error": upload_error
                          }
                          ]
              }
            ],
            verbose = true
          %}
            {% include "toolkit/instruction-list.html" %}
          {% endwith %}


          {%
          with
          type = "save",
          label = "Send document to CCS"
          %}
          {% include "toolkit/button.html" %}
          {% endwith %}
        </form>

        <a href="{{url_for('.framework_dashboard', framework_slug=framework.slug)}}">Return to your {{ framework.name }} application</a>
    </div>
  </div>
{% endblock %}
