{% extends "_base_page.html" %}

{% block page_title %}Review your contract – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace",
      },
      {
        "link": url_for(".dashboard"),
        "label": "Your account",
      },
      {
        "link": url_for(".framework_dashboard", framework_slug=framework.slug),
        "label": "Your " + framework.name + " application"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    {%
      with
      heading = "Check the details you’ve given before returning the signature page for %s" | format(supplier_framework.declaration.nameOfOrganisation),
      smaller = True
    %}
      {% include "toolkit/page-heading.html" %}
    {% endwith %}
  </div>
</div>

{% if form.errors %}
  {%
    with
      errors = form_errors
  %}
    {% include 'toolkit/forms/validation.html' %}
  {% endwith %}
{% endif %}

<div>
  {% import "toolkit/summary-table.html" as summary %}
  {% call(item) summary.mapping_table(
    caption='Supplier information',
    field_headings=[
      'Label',
      'Value',
      'Action'
    ],
    field_headings_visible=False
  ) %}
    {% call summary.row() %}
      {{ summary.field_name('Person who signed') }}
      {% call summary.field() %}
        <p>{{ supplier_framework.agreementDetails.signerName }}</p><p>{{ supplier_framework.agreementDetails.signerRole }}</p>
      {% endcall %}
      {{ summary.edit_link("Edit", url_for('.signer_details', framework_slug=framework.slug)) }}
    {% endcall %}
    {% call summary.row() %}
      {{ summary.field_name('Signature page') }}
      {% if session.signature_page %}
        {{ summary.field_name(session.signature_page) }}
      {% else %}
        {{ summary.field_name( "Uploaded {}".format(signature_page.last_modified|datetimeformat) if signature_page else None) }}
      {% endif %}
      {{ summary.edit_link("Change", url_for('.signature_upload', framework_slug=framework.slug)) }}
    {% endcall %}
  {% endcall %}
</div>

<div class="single-question-page authorisation-form-wrapper">
<div class="grid-row">
  <div class="column-two-thirds">

     <div class="dmspeak">
      <p>Returning the signature page will notify the Crown Commercial Service and the primary contact you gave in your {{ framework.name }} application, {{ supplier_framework.declaration.primaryContact }} at {{ supplier_framework.declaration.primaryContactEmail }}.</p>

      <p>You’ll also receive an email to confirm that the signature page has been returned.</p>
    </div>

    <form method="POST" action="{{ url_for('.contract_review', framework_slug=framework.slug) }}">
        {{ form.csrf_token }}
        {%
          with
          type = "checkbox",
          name = "authorisation",
          question = form.authorisation.label,
          options = [{
              "label": form.authorisation.description,
          }],
          error=form.authorisation.errors[0]
        %}
          {% include "toolkit/forms/selection-buttons.html" %}
        {% endwith %}

        {%
          with
            type = "save",
            label = "Return signed signature page"
        %}
          {% include "toolkit/button.html" %}
        {% endwith %}
    </form>

  </div>
</div>
</div>

{% endblock %}
