{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block pageTitle %}
  Apply to {{ framework.name }} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Your " + framework.name + " application",
        "href": url_for(".framework_dashboard", framework_slug=framework.slug)
      },
      {
        "text": framework.name + " framework agreement"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-grid-row framework-dashboard">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ framework.name }} framework agreement</h1>

      <div class="summary-item-lede">
        <p class="govuk-body">Your application was successful. You must return a signed framework agreement signature page before you can sell services on the Digital Marketplace.</p>
      </div>

      <div>
        {{ summary.heading(supplier_registered_name) }}
        {% call(item) summary.list_table(
          lots,
          caption="Lot application status table",
          field_headings=[
            "Lot name",
            "Application status"
          ],
          field_headings_visible=False
        ) %}
          {% call summary.row() %}
            {{ summary.text(item.name) }}
            {{ summary.text(item.result) }}
          {% endcall %}
        {% endcall %}
      </div>

      <div>
        <h2 class="summary-item-heading">What you need to do</h2>
      </div>

    </div>
  </div>
{% endblock %}
