{% extends "_base_page.html" %}

{% block pageTitle %}
  Review your contract – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Your " + framework.name + " application",
        "href": url_for(".framework_dashboard", framework_slug=framework.slug)
      },
      {
        "text": "Review your contract"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  {% include 'toolkit/forms/validation.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ 'Check the details you’ve given before returning the signature page for {}'.format(supplier_registered_name) }}</h1>
  </div>
</div>

<div>
  {% import "toolkit/summary-table.html" as summary %}
  {% call(item) summary.mapping_table(
    caption='Supplier information',
    field_headings=[
      'Label',
      'Value',
      'Action'
    ],
    field_headings_visible=False
  ) %}
    {% call summary.row() %}
      {{ summary.field_name('Person who signed') }}
      {% call summary.field() %}
        <p class="govuk-body">{{ agreement.signedAgreementDetails.signerName }}</p><p class="govuk-body">{{ agreement.signedAgreementDetails.signerRole }}</p>
      {% endcall %}
      {{ summary.edit_link("Edit", url_for('.signer_details', framework_slug=framework.slug, agreement_id=agreement.id), hidden_text="person who signed") }}
    {% endcall %}
    {% call summary.row() %}
      {{ summary.field_name('Signature page') }}
      {% if session.signature_page %}
        {{ summary.field_name(session.signature_page) }}
      {% else %}
        {{ summary.field_name( "Uploaded {}".format(signature_page.last_modified|datetimeformat) if signature_page else None) }}
      {% endif %}
    {% endcall %}
  {% endcall %}
</div>

<div class="single-question-page authorisation-form-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

     <div class="dmspeak">
      <p class="govuk-body">Returning the signature page will notify the Crown Commercial Service and the primary contact you gave in your {{ framework.name }} application, {{ supplier_framework.declaration.primaryContact }} at {{ supplier_framework.declaration.primaryContactEmail }}.</p>

      <p class="govuk-body">You’ll also receive an email to confirm that the signature page has been returned.</p>
    </div>

    <form method="POST" action="{{ url_for('.contract_review', framework_slug=framework.slug, agreement_id=agreement.id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ form.authorisation }}

        {{ govukButton({
          "text": "Return signed signature page",
        }) }}
    </form>

  </div>
</div>
</div>

{% endblock %}
