{% extends "_base_page.html" %}

{% block page_title %}Apply to G-Cloud 7 – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace",
      },
      {
        "link": url_for(".dashboard"),
        "label": "Your account",
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  {% with
     heading = "Apply to G-Cloud 7",
     smaller = True,
     with_breadcrumb = True
  %}
    {% include "toolkit/page-heading.html" %}
  {% endwith %}

  <div class="grid-row">
    <div class="column-two-thirds ">
      <div class="framework-deadline">
        <h2 id="framework-deadline">
          Deadline 2 October 2015
        </h2>
        <p>
          0 services will be submitted
        </p>
        <p class="framework-notification">
          <strong>No services will be submitted if supplier declaration is incomplete</strong>
        </p>
      </div>
      <div class="framework-declaration">
        <h3 class="browse-list-item-link">
          <a href='{{ url_for('.framework_supplier_declaration') }}'>Make supplier declaration</a>
        </h3>
        <p class="browse-list-item-body">
          Legal declaration required to supply G-Cloud 7 services
        </p>
      </div>
    </div>
    <aside role="complementary" class="column-one-third framework-help">
      <p>
        <a href="#" class="clarification-link">Read updates or ask clarification questions</a>
      </p>
      {%
        with
        items = [
          {
            "file_type": "ZIP",
            "link": "#",
            "title": "Download supplier pack"
          }
        ]
      %}
        {% include "toolkit/documents.html" %}
      {% endwith %}
    </aside>
  </div>

  <div class="grid-row">
    <div class="column-one-whole">
      <h2 class="summary-item-heading">Services</h2>
      <p class="summary-item-top-level-action">
        <a href="{{ url_for('.start_new_draft_service') }}">Add a service</a>
      </p>
      <table class="summary-item-body">
        <thead></thead>
        <tbody class="summary-item-body">
          <tr class="summary-item-row">
            <td class="summary-item-field-name">
              <span class="hint">You haven't added any services yet.</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
