{% extends "_base_page.html" %}

{% block page_title %}Apply to {{ framework.name }} – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace",
      },
      {
        "link": url_for(".dashboard"),
        "label": "Your account",
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  {% if framework.status == 'open' %}
    {% with
       heading = "Apply to " + framework.name,
       smaller = True,
       with_breadcrumb = True
    %}
      {% include "toolkit/page-heading.html" %}
    {% endwith %}
  {% else %}
    {% with
      heading = "Your " + framework.name + " application",
      smaller = True,
      with_breadcrumb = True
    %}
      {% include "toolkit/page-heading.html" %}
    {% endwith %}
  {% endif %}
  {% if framework.status == 'open' %}
  <aside role="complementary" class="framework-application-status" aria-label="G-Cloud status">
    Deadline <strong>{{ deadline|safe }}</strong>
  </aside>
  <nav role="navigation">
  {% elif framework.status == 'pending' %}
    <div class="summary-item-lede">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h2 class="summary-item-heading">{{ framework.name }} is closed for applications</h2>
          {% if application_made %}
            <p>You made your supplier declaration and submitted {{ counts.complete }} {{ 'service' if counts.complete == 1 else 'services' }} for consideration.</p>
            <p>A letter informing you whether your application was successful or not will be posted on your G-Cloud 7 updates page by Monday, 9 November 2015.</p>
          {% else %}
            <p>You didn't submit an application.</p>
          {% endif %}
        </div>
      </div>
    </div>
  {% elif framework.status == 'standstill' %}
    <div class="summary-item-lede">
      <div class="grid-row">
        <div class="column-two-thirds">
          {% if application_made %}
            <p>You made your supplier declaration and submitted {{ counts.complete }} {{ 'service' if counts.complete == 1 else 'services' }}.</p>
          {% else %}
            <p>You didn't submit an application.</p>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
    <ul class="browse-list">

      {% if framework.status == 'standstill' and application_made %}
        <li class="browse-list-item framework-application-section">
          <div class="grid-row">
            <div class="column-two-thirds">
              <a class="browse-list-item-link" href="{{ url_for('.download_agreement_file', framework_slug=framework.slug, document_name='result-letter.pdf') }}" download>
                <span>Download your application result letter (.pdf)</span>
              </a>
              <p>This letter informs you if your {{ framework.name }} application has been successful.</p>
            </div>
          </div>
        </li>
        {% if supplier_is_on_framework %}
        <li class="browse-list-item framework-application-section">
          <div class="grid-row">
            <div class="column-two-thirds">
              <a class="browse-list-item-link" href="{{ url_for('.framework_agreement', framework_slug=framework.slug) }}">
                <span>Sign and return your framework agreement</span>
              </a>
              <p>Your agreement will need to be signed by both you and the Crown Commercial Service before you can sell {{framework.name}} services.</p>
            </div>
          </div>
        </li>
        {% endif %}
      {% endif %}

      {% if framework.status == 'open' %}
        <li class="browse-list-item framework-application-section">
          <div class="grid-row">
            <div class="column-two-thirds">
              {% if not counts.draft %}
                <div class="framework-section-validation-bar-good">
              {% endif %}
                <a class="browse-list-item-link" href="{{ url_for('.framework_submission_lots', framework_slug=framework.slug) }}">
                  <span>
                    Add, edit and delete services
                  </span>
                </a>
              {% if not counts.draft %}
                </div>
              {% endif %}
            </div>
            <div class="column-two-thirds">
              {% if not counts.complete and not counts.draft %}
                <div class="framework-section-status-neutral">
                  <p>
                    You need to add and complete services
                  </p>
                </div>
              {% endif %}

              {% if counts.draft and not counts.complete %}
                <div class="framework-section-status-neutral">
                  You have
                  {{ counts.draft }} draft
                  {{ 'service' if counts.draft == 1 else 'services' }}
                  that won’t be submitted
                </div>
              {% endif %}

              {% if counts.complete and declaration_status != 'complete' %}
                <div class="framework-section-status-neutral">
                  You have {{ counts.complete }} complete
                  {{ 'service' if counts.complete == 1 else 'services' }}
                  and {{ counts.draft }} draft
                  {{ 'service' if counts.draft == 1 else 'services' }}
                </div>
              {% endif %}

              {% if counts.complete and declaration_status == 'complete' %}
                {% if not counts.draft %}
                  <div class="framework-section-status-good">
                {% endif %}
                <p>
                  <strong><span class="big-number">{{ counts.complete }}</span> complete
                   {{ 'service' if counts.complete == 1 else 'services' }} will be submitted at the deadline</strong>
                </p>
                {% if not counts.draft %}
                  </div>
                {% endif %}
                {% if counts.draft %}
                  <p class="framework-section-status-neutral">
                    {{ counts.draft }} draft {{ 'service' if counts.draft == 1 else 'services' }} won’t be submitted
                  </p>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </li>
      {% elif framework.status in ['pending', 'standstill'] and application_made %}
        <li class="browse-list-item framework-application-section">
          <div class="grid-row">
            <div class="column-two-thirds">
              <a href="{{ url_for('.framework_submission_lots', framework_slug=framework.slug) }}">View services</a>
            </div>
            <div class="column-two-thirds">
              <div class="framework-section-status-neutral">
                <p>{{ counts.draft }} draft
                {{ 'service' if counts.draft == 1 else 'services' }} {{ 'was' if counts.draft == 1 else 'were' }} not submitted</p>
                <p>{{ counts.complete }} complete
                {{ 'service' if counts.complete == 1 else 'services' }} {{ 'was' if counts.complete == 1 else 'were' }} submitted</p>
              </div>
            </div>
          </div>
        </li>
      {% endif %}

      {% if framework.status == 'open' %}
        <li class="browse-list-item framework-application-section">
          {% if declaration_status != 'complete' and counts.complete %}
            <div class="framework-section-validation-bar">
          {% endif %}
          <div class="grid-row">
            <div class="column-two-thirds">
              <a class="browse-list-item-link" href="{{ url_for('.framework_supplier_declaration', framework_slug=framework.slug, section_id=first_page_of_declaration) }}">
                {% if declaration_status == 'unstarted' %}
                  <span>Make supplier declaration</span>
                {% else %}
                  <span>Edit supplier declaration</span>
                {% endif %}
              </a>
              <p class="browse-list-item-body">
                Agree to the terms of the bid, provide supplier information and
                confirm&nbsp;eligibility.
              </p>
              {% if declaration_status == 'unstarted' and not counts.complete %}
                <div class="framework-section-status-neutral">
                  <p>
                    You need to make the supplier declaration
                  </p>
                </div>
              {% elif declaration_status == 'started' and not counts.complete %}
                <div class="framework-section-status-neutral">
                  <p>
                    You need to finish making the supplier declaration
                  </p>
                </div>
              {% elif declaration_status == 'unstarted' and counts.complete %}
                <div class="framework-section-status-bad">
                  <p>
                    <strong>No services will be submitted because you haven’t made the
                    supplier declaration</strong>
                  </p>
                </div>
              {% elif declaration_status == 'started' and counts.complete %}
                <div class="framework-section-status-bad">
                  <p>
                    <strong>No services will be submitted because you haven’t finished making the
                    supplier declaration</strong>
                  </p>
                </div>
              {% elif declaration_status == 'complete' %}
                <div class="framework-section-status-good">
                  <p>
                    <strong>You’ve made the supplier declaration</strong>
                  </p>
                </div>
              {% endif %}
            </div>
          </div>
          {% if declaration_status != 'complete' and counts.complete %}
            </div>
          {% endif %}
        </li>
      {% endif %}

      {% if framework.status == 'open' %}
        <li class="browse-list-item framework-application-section">
          <div class="grid-row">
            <div class="column-two-thirds">
              <h2>About {{ framework.name }}</h2>
              <ul>
                <li>
                  <a href="{{ url_for('.download_supplier_file', framework_slug=framework.slug, filepath='g-cloud-7-supplier-pack.zip') }}"><span>Download guidance and legal documentation (.zip)</span></a>
                  {% if last_modified.supplier_pack %}
                    <div class="hint">Last updated <time datetime="{{ last_modified.supplier_pack }}">{{ last_modified.supplier_pack|dateformat }}</time></div>
                  {% endif %}
                </li>
                <li>
                  <a href="{{ url_for('.framework_updates', framework_slug=framework.slug) }}">
                    <span>
                    {% if 'G7_CLARIFICATIONS_CLOSED' is active_feature %}
                      Read updates and clarification question responses
                    {% else %}
                      Read updates and ask clarification questions
                    {% endif %}
                    </span></a>
                  {% if last_modified.supplier_updates %}
                    <div class="hint">Last updated <time datetime="{{ last_modified.supplier_updates }}">{{ last_modified.supplier_updates|dateformat }}</time></div>
                  {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </li>
      {% else %}
        <li class="browse-list-item framework-application-section">
          <div class="grid-row">
            <div class="column-two-thirds">
              <a href="{{ url_for('.download_supplier_file', filepath='g-cloud-7-supplier-pack.zip', framework_slug=framework.slug) }}"><span>Download guidance and legal documentation (.zip)</span></a>
              {% if last_modified.supplier_pack %}
                <div class="hint">Last updated <time datetime="{{ last_modified.supplier_pack }}">{{ last_modified.supplier_pack|dateformat }}</time></div>
              {% endif %}
            </div>
          </div>
        </li>
        <li class="browse-list-item framework-application-section">
          <div class="grid-row">
            <div class="column-two-thirds">
              <a href="{{ url_for('.framework_updates', framework_slug=framework.slug) }}">
                <span>
                {% if 'G7_CLARIFICATIONS_CLOSED' is active_feature %}
                  Read updates and clarification question responses
                {% else %}
                  Read updates and ask clarification questions
                {% endif %}
                </span></a>
              {% if last_modified.supplier_updates %}
                <div class="hint">Last updated <time datetime="{{ last_modified.supplier_updates }}">{{ last_modified.supplier_updates|dateformat }}</time></div>
              {% endif %}
                </li>
            </div>
          </div>
      </li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}
