{% extends "_base_page.html" %}
{% import "macros/toolkit_forms.html" as forms %}

{% block page_title %}G-Cloud 7 supplier declaration – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": current_user.supplier_name
      },
      {
        "link": url_for(".framework_dashboard"),
        "label": "Apply to G-Cloud 7"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {% if message == 'supplier_declaration_saved' %}
      <div class="banner-success-without-action">
        <p class="banner-message">
          Updates to your supplier declaration so far have been saved
        </p>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}

  {% if errors %}
    {% with errors = errors.values() %}
      {% include 'toolkit/forms/validation.html' %}
    {% endwith %}
  {% endif %}

  {% with
    heading = "Make supplier declaration"
  %}
    {% include 'toolkit/page-heading.html' %}
  {% endwith %}
  <p>
    You must complete this declaration for your services to be eligible for G-Cloud 7 submission.
  </p>
  <form method="post" class="supplier-declaration">

    {% set question_index = [first_question_index] %}
      {% with
        heading = section.name,
        smaller = true
      %}
        {% include 'toolkit/page-heading.html' %}
      {% endwith %}
      {% for question in section.questions %}
        {% set _ = question_index.append(question_index.pop() + 1) %}
        {% if errors and errors[question.id] %}
          {{ forms[question.type](question, service_data, errors, question_number=question_index[0]) }}
        {% else %}
          {{ forms[question.type](question, service_data, {}, question_number=question_index[0]) }}
        {% endif %}
      {% endfor %}

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% if is_last_page %}
      {%
        with
        label="Make declaration",
        type="save"
      %}
        {% include "toolkit/button.html" %}
      {% endwith %}
      <p class="last-edited move-to-complete-hint">
        You can edit the declaration until the application deadline.
      </p>
    
    {% else %}
      {%
        with
        label="Save and continue",
        type="save"
      %}
        {% include "toolkit/button.html" %}
      {% endwith %}
    {% endif %}

    <a href="{{ url_for('.framework_dashboard') }}">Return to G-Cloud 7 application</a>

  </form>
{% endblock %}
