{% extends "_base_page.html" %}

{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/label/macro.njk" import govukLabel %}

{% block pageTitle %}
  {{ framework.name }} supplier declaration – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Apply to " + framework.name,
        "href": url_for(".framework_dashboard", framework_slug=framework.slug)
      },
      {
        "text": "Your declaration overview",
        "href": url_for(".framework_supplier_declaration_overview", framework_slug=framework.slug)
      },
      {
        "text": section.name
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  {% if name_of_framework_that_section_has_been_prefilled_from %}
    {{ dmBanner({
        "title": "Answers on this page are from an earlier declaration and need review.",
    }) }}
  {% endif %}

  <form method="post" enctype="multipart/form-data" class="supplier-declaration" action="#" {# remove any fragment identifier as validation messages are at the top #}>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include 'frameworks/_session_timeout.html' %}

            <h1 class="govuk-heading-l">{{ section.name }}</h1>

            {% if section.description %}
              <div class="section-description">
                {{ section.description|question_references(get_question) }}
              </div>
            {% endif %}


            {{ render(form_html) }}

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

            {% if next_section %}
              {# If there is a next page show the 'continue' button' #}
              {{ govukButton({
                "text": "Save and continue"
              }) }}

              {# If there is a next page show the 'next page' info #}
              <p class="next-page-message">
                Next: {{ next_section.name }}
              </p>

            {% endif %}

            {# Always show the 'save and return' button but if there is a next page make it secondary #}
            {{ govukButton({
              "text": "Save and return to declaration overview",
              "name": "save_and_return_to_overview",
              "value": "1",
              "classes": "govuk-button--secondary" if next_section else "",
            }) }}

          </div>
      </div>
  </form>
{% endblock %}
