{% extends "_base_page.html" %}
{% import "macros/toolkit_forms.html" as forms %}

{% block page_title %}G-Cloud 7 supplier declaration – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".dashboard"),
        "label": current_user.supplier_name
      },
      {
        "link": url_for(".framework_dashboard"),
        "label": "Apply to G-Cloud 7"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

  {% if errors %}
    {% with errors = errors.values() %}
      {% include 'toolkit/forms/validation.html' %}
    {% endwith %}
  {% endif %}

  {% with
    heading = "Make supplier declaration"
  %}
    {% include 'toolkit/page-heading.html' %}
  {% endwith %}
  <p>
    You must complete this declaration for your services to be eligible for G-Cloud 7 submission.
  </p>
  <form method="post" class="supplier-declaration">

    {% set question_index = [0] %}
    {% for section in sections %}
      {% with
        heading = section.name,
        smaller = true
      %}
        {% include 'toolkit/page-heading.html' %}
      {% endwith %}
      {% for question in section.questions %}
        {% set _ = question_index.append(question_index.pop() + 1) %}
        {% if errors and errors[question.id] %}
          {{ forms[question.type](question, service_data, errors, question_number=question_index[0]) }}
        {% else %}
          {{ forms[question.type](question, service_data, {}, question_number=question_index[0]) }}
        {% endif %}
      {% endfor %}
    {% endfor %}

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {%
      with
      label="Submit",
      type="save"
    %}
      {% include "toolkit/button.html" %}
    {% endwith %}

    <a href="/suppliers">Return to G-Cloud 7 application</a>

  </form>
{% endblock %}
