{% extends "_base_page.html" %}

{% block pageTitle %}
  {% block page_title_inner %}
    Reusing answers from an earlier declaration
  {% endblock %} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Apply to " + current_framework.name,
        "href": url_for(".framework_dashboard", framework_slug=current_framework.slug)
      },
      {
        "text": "Reusing answers from an earlier declaration"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ self.page_title_inner() }}</h1>

      <p class="govuk-body">In {{ old_framework_application_close_date|nbsp }}, your organisation completed a declaration for {{ old_framework.name }}.</p>
      <p class="govuk-body">You can reuse some of the answers from that declaration.</p>
      <p class="govuk-body">You’ll need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>review the answers you gave before and make sure they’re still correct</li>
        <li>provide some new answers for this declaration</li>
      </ul>

      <form method="POST" action="{{ url_for(".reuse_framework_supplier_declaration_post", framework_slug=current_framework.slug) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="old_framework_slug" value="{{ old_framework.slug }}"/>

        {{ form.reuse }}

        {{ govukButton({
          "text": "Save and continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
