{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}
{% import "macros/submission.html" as submission %}

{% block pageTitle %}
  {{ lot.name }} services – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Apply to " + framework.name,
        "href": url_for(".framework_dashboard", framework_slug=framework.slug)
      },
      {
        "text": "Your " + framework.name + " services",
        "href": url_for(".framework_submission_lots", framework_slug=framework.slug)
      },
      {
        "text": lot.name + " services"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}

  {% if framework.status == 'open' %}
    {% include "partials/service_warning.html" %}
  {% endif %}

  <h1 class="govuk-heading-l">{{ lot.name }} services</h1>

  {% if framework.status == 'pending' %}
    <div class="summary-item-lede">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="summary-item-heading">{{ framework.name }} is closed for applications</h2>
          <p class="govuk-body">
            {% if declaration_status == 'complete' %}
              You made your supplier declaration and submitted {{ complete_drafts|length }} complete {{ 'service' if complete_drafts|length == 1 else 'services' }}.
            {% else %}
              You completed {{ complete_drafts|length }} {{ 'service' if complete_drafts|length == 1 else 'services' }}.
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  {% endif %}

  {% if framework.status == 'open' and previous_framework %}
    <p class="govuk-body">
      <a class="govuk-link" href="{{ url_for('.previous_services', framework_slug=framework.slug, lot_slug=lot.slug) }}">
        View and add your services from {{ previous_framework.name|nbsp }}
      </a>
    </p>
  {% endif %}

  {{ summary.heading("Draft services") }}
  {% if framework.status == 'open' %}
    {{ summary.top_link("Add a service", url_for(".start_new_draft_service", framework_slug=framework.slug, lot_slug=lot.slug)) }}
  {% elif framework.status == 'pending' %}
    <p class="hint">These services were not completed</p>
  {% endif %}
  {% call(draft) summary.list_table(
    drafts,
    caption="Draft services",
    empty_message="You haven’t added any services yet." if framework.status == 'open' else "You didn’t add any services.",
    field_headings=[
        "Service name",
        "Progress",
        "Make a copy"
    ],
    field_headings_visible=False
  ) %}
    {% call summary.row() %}
      {{ summary.service_link(draft.serviceName,
                              url_for(".view_service_submission", framework_slug=framework.slug, lot_slug=draft.lot, service_id=draft.id)) }}

      {% if framework.status == 'open' %}
        {{ summary.text(submission.multiline_string(
          submission.can_be_completed_text(draft.unanswered_required, framework.status),
          submission.unanswered_required_text(draft.unanswered_required, draft.unanswered_optional),
          submission.unanswered_optional_text(draft.unanswered_required, draft.unanswered_optional)
        )) }}
        {% call summary.field(action=True) %}
          <form method="post" action="{{ url_for('.copy_draft_service', framework_slug=framework.slug, lot_slug=draft.lot, service_id=draft.id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token_value or csrf_token() }}" />
            {{ govukButton({
              "text": "Make a copy",
              "classes": "govuk-!-margin-0",
            }) }}
          </form>
        {% endcall %}
      {% else %}
        {{ summary.text() }}
        {{ summary.text() }}
      {% endif %}
    {% endcall %}
  {% endcall %}

  {% if framework.status == 'open' %}
    {{ summary.heading("Complete services") }}
  {% elif framework.status == 'pending' or 'standstill' %}
    {% if declaration_status == 'complete' %}
      {{ summary.heading("Submitted services") }}
    {% else %}
      {{ summary.heading("Completed services") }}
    {% endif %}
  {% endif %}
  {% call(draft) summary.list_table(
    complete_drafts,
    caption="Complete services",
    empty_message="You haven’t marked any services as complete yet." if framework.status == 'open' else "You didn’t mark any services as complete.",
    field_headings=[
        "Service name",
        "Progress",
        "Make a copy"
    ],
    field_headings_visible=False
  ) %}
    {% call summary.row() %}
      {{ summary.service_link(
          draft.serviceName,
          url_for(".view_service_submission", framework_slug=framework.slug, lot_slug=draft.lot, service_id=draft.id)
      ) }}
      {% if framework.status == 'open' %}
        {% call summary.field(action=True) %}
          <form method="post" action="{{ url_for('.copy_draft_service', framework_slug=framework.slug, lot_slug=draft.lot, service_id=draft.id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token_value or csrf_token() }}" />
            {{ govukButton({
              "text": "Make a copy",
              "classes": "govuk-!-margin-0",
            }) }}
          </form>
        {% endcall %}
      {% else %}
        {{ summary.text() }}
      {% endif %}
    {% endcall %}
  {% endcall %}

  <hr class="govuk-section-break govuk-section-break--m">

  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state"
       href="{{ url_for('.framework_submission_lots', framework_slug=framework.slug) }}"
    >
      Back to application
    </a>
  </p>

{% endblock %}
