{% extends "_base_page.html" %}
{% import "macros/submission.html" as submission %}

{% block pageTitle %}
  {{ lot.name }} services – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Apply to " + framework.name,
        "href": url_for(".framework_dashboard", framework_slug=framework.slug)
      },
      {
        "text": "Your " + framework.name + " services",
        "href": url_for(".framework_submission_lots", framework_slug=framework.slug)
      },
      {
        "text": lot.name + " services"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}

  {% if framework.status == 'open' %}
    {% include "partials/service_warning.html" %}
  {% endif %}

  <h1 class="govuk-heading-l">{{ lot.name }} services</h1>
{{ govukButton({
      "text": "Add a service",
      "href": url_for(".start_new_draft_service", framework_slug=framework.slug, lot_slug=lot.slug)
 }) }}
  {% if framework.status == 'pending' %}
    <div class="summary-item-lede">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="summary-item-heading">{{ framework.name }} is closed for applications</h2>
          <p class="govuk-body">
            {% if declaration_status == 'complete' %}
              You made your supplier declaration and submitted {{ complete_drafts|length }} complete {{ 'service' if complete_drafts|length == 1 else 'services' }}.
            {% else %}
              You completed {{ complete_drafts|length }} {{ 'service' if complete_drafts|length == 1 else 'services' }}.
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  {% endif %}

  {% if framework.status == 'open' and previous_framework %}
    <p class="govuk-body">
      <a class="govuk-link" href="{{ url_for('.previous_services', framework_slug=framework.slug, lot_slug=lot.slug) }}">
        View and add your services from {{ previous_framework.name|nbsp }}
      </a>
    </p>
  {% endif %}

  <h2 class="govuk-heading-m">Draft services</h2>
  {% if framework.status == 'open' %}
  {% set ns = namespace(draft_rows = []) %}
  {% for draft in drafts %}
    {% set service_link %}
    <a class="govuk-link" href="{{ url_for('.view_service_submission', framework_slug=framework.slug, lot_slug=draft.lot, service_id=draft.id) }}">{{ draft.serviceName }}</a>
    {% endset %}
    {% set make_copy_button %}
        {% set button_html %}
          Make a copy<span class="govuk-visually-hidden"> of {{ draft.serviceName }}</span>
        {% endset %}
    <form method="post" action="{{ url_for('.copy_draft_service', framework_slug=framework.slug, lot_slug=draft.lot, service_id=draft.id) }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token_value or csrf_token() }}" />
    {{ govukButton({
      "html": button_html,
      "classes": "govuk-!-margin-0",
    }) }}
    </form>
    {% endset %}

    {% set row = ns.draft_rows.append(
      [
          {"html": service_link},
          {"html": submission.multiline_string(submission.can_be_completed_text(draft.unanswered_required, framework.status),
          submission.unanswered_required_text(draft.unanswered_required, draft.unanswered_optional),
          submission.unanswered_optional_text(draft.unanswered_required, draft.unanswered_optional))},
          {"html": make_copy_button,
           "classes": 'dm-app-align-right'}
      ]
    ) %}
{% endfor %}


    {% if not drafts %}
       <p class="govuk-body">
      {{"You haven’t added any services yet." if framework.status == 'open' else "You didn’t add any services."}}
      </p>
    {% else %}
    {{ govukTable({
      'head': [
        {'text': "Service name"},
        {'text': "Progress"},
        {'html': '<span class="govuk-visually-hidden">Make a copy</span>'}
      ],
      'rows': ns.draft_rows,
      "classes": "dm-table govuk-!-margin-bottom-6",
    }) }}
    {% endif %}
  {% elif framework.status == 'pending' or framework.status == 'standstill' %}
    <p class="hint">These services were not completed</p>
    <ul class="govuk-list">
    {% for draft in drafts  %}
    <li>
      <a class="govuk-link" href="{{ url_for('.view_service_submission', framework_slug=framework.slug, lot_slug=draft.lot, service_id=draft.id) }}">{{ draft.serviceName }}</a>
    </li>
    {% endfor %}
    </ul>
  {% endif %}
  
  {% if framework.status == 'open' %}
      <h2 class="govuk-heading-m">Complete services</h2>
  {% elif framework.status == 'pending' or framework.status == 'standstill' %}
    {% if declaration_status == 'complete' %}
        <h2 class="govuk-heading-m">Submitted services</h2>
    {% else %}
        <h2 class="govuk-heading-m">Completed services</h2>
    {% endif %}
  {% endif %}

  {% if not complete_drafts %}
  {{ "You haven’t marked any services as complete yet." if framework.status == 'open' else "You didn’t mark any services as complete."  }}
  {% else %}
  {% set ns = namespace(completed_rows = []) %}
   {% if framework.status == 'open' %}
    {% for complete_draft in complete_drafts %}
    {% set service_link %}
    <a class="govuk-link" href="{{ url_for('.view_service_submission', framework_slug=framework.slug, lot_slug=draft.lot, service_id=draft.id) }}">{{ complete_draft.serviceName }}</a>
    {% endset %}
    {% set make_copy_button %}
        {% set button_html %}
            Make a copy<span class="govuk-visually-hidden"> of {{ complete_draft.serviceName }}</span>
        {% endset %}
    <form method="post" action="{{ url_for('.copy_draft_service', framework_slug=framework.slug, lot_slug=complete_draft.lot, service_id=complete_draft.id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token_value or csrf_token() }}" />
        {{ govukButton({
          "html": button_html,
          "classes": "govuk-!-margin-0",
        }) }}
    </form>
    {% endset %}
        {% set row = ns.completed_rows.append(
        [
          {"html": service_link},
          {"html": make_copy_button,
          "classes": 'dm-app-align-right'}
        ]
    ) %}
{% endfor %}
{{ govukTable({
'head': [
{'text': "Service name"},
{'html': '<span class="govuk-visually-hidden">Make a copy</span>'}
],
'rows': ns.completed_rows,
"classes": "dm-table govuk-!-margin-bottom-6",
}) }}
    {% elif framework.status == 'pending' or 'standstill' %}
    <ul class="govuk-list">
        {% for complete_draft in complete_drafts  %}
            <li>
                <a class="govuk-link" href="{{ url_for('.view_service_submission', framework_slug=framework.slug, lot_slug=complete_draft.lot, service_id=draft.id) }}">{{ complete_draft.serviceName }}</a>
            </li>
        {% endfor %}
      </ul>
    {% endif %}
{% endif %}


        <hr class="govuk-section-break govuk-section-break--m">

  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state"
       href="{{ url_for('.framework_submission_lots', framework_slug=framework.slug) }}"
    >
      Back to application
    </a>
  </p>

{% endblock %}
