{% extends "_base_page.html" %}

{% block pageTitle %}
  Signature upload – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Your " + framework.name + " application",
        "href": url_for(".framework_dashboard", framework_slug=framework.slug)
      },
      {
        "text": "Signature upload"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
<div class="single-question-page">
  <h1 class="govuk-heading-l">Upload your signed signature page</h1>

  {% if upload_error %}
    {% with errors = {
        "signature_page": {
          "question": "Upload your signed signature page",
          "input_name": "signature_page"
        }
      } %}
      {% include 'toolkit/forms/validation.html' %}
    {% endwith %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" enctype="multipart/form-data" action="{{ url_for('.signature_upload', framework_slug=framework.slug, agreement_id=agreement.id) }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          {% set value = None %}
          {% if signature_page %}
            {% if session.signature_page %}
              {% set value = "{}, uploaded {}".format(session.signature_page, signature_page.last_modified|datetimeformat) %}
            {% else %}
              {% set value = "Uploaded {}".format(signature_page.last_modified|datetimeformat) %}
            {% endif %}
          {% endif %}
          {%
            with
            question = "Upload your signed signature page",
            name = "signature_page",
            question_advice =
              "You only need to return the signed signature page.
              \n\nThe file must be saved as a PDF, JPG or PNG.",
            value=value,
            error = upload_error
          %}
            {% include "toolkit/forms/upload.html" %}
          {% endwith %}

          {{ govukButton({
            "text": "Save and continue"
          }) }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
