{% extends "_base_page.html" %}

{% block pageTitle %}
    {{ framework.name }} {{ title }} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
    {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": framework.name,
        "href": url_for(".framework_dashboard", framework_slug=framework.slug)
      },
      {
        "text": title
      }
    ]
  }) }}
{% endblock %}


{% block mainContent %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><span style="white-space:nowrap">{{ framework.name }}</span> <span style="white-space:nowrap">{{ contract_title }}</span></span>
    <h1 class="govuk-heading-xl">Supplier appointment terms</h1>
        <p class="govuk-!-font-weight-bold">
            If any of the information about your company is incorrect contact <a href="mailto:cloud_digital@crowncommercial.gov.uk">cloud_digital@crowncommercial.gov.uk</a> before signing.
        </p>
    {% with company_details=company_details, declaration=declaration %}
        {% include "frameworks/_framework_agreement_legal_text_{0}.html".format(framework_slug) %}
        <p class="govuk-clearfix">
            <a href="{{ framework_file_url }}">
            <img class="framework-agreement-thumbnail" alt="" src="{{ url_for('static', filename='images/pdf-thumbnails/{0}.png'.format(framework_slug)) }}">
                Read the {{ framework.name }} {{  contract_title }}
            </a>
            <br>
            <span class="govuk-body-s"><abbr title="{{ framework_file_metadata.file_format }}">{{ framework_file_metadata.file_extension }}</abbr>, {{ framework_file_metadata.file_size }}, {{ framework_file_metadata.page_count }} pages</span>
        </p>
    {% endwith %}
        {% if include_govuk_link %}
            {% with framework_govuk_url=framework_govuk_url %}
                {% include "frameworks/_framework_agreement_govuk_link_{0}.html".format(framework_slug) %}
            {% endwith %}
        {% endif %}
            <form method="POST" novalidate action="{{ url_for(".sign_framework_agreement", framework_slug=framework_slug) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {{ form.signerName }}
                {{ form.signerRole }}
                {{ form.signer_terms_and_conditions }}
                {{ govukButton({
                  "text": title
                }) }}
            </form>
        </div>
        </div>
{% endblock %}

