{% extends "_base_page.html" %}

{% block pageTitle %}
    {{ framework.name }} Sign agreement – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
    {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": framework.name,
        "href": url_for(".framework_dashboard", framework_slug=framework.slug)
      },
      {
        "text": "Sign agreement"
      }
    ]
  }) }}
{% endblock %}


{% block mainContent %}
    <span class="govuk-caption-xl">{{ framework.name }} {{ contract_title }}</span>
    <h1 class="govuk-heading-xl">Supplier appointment terms</h1>
    {% with company_details=company_details %}
        {% include "frameworks/_framework_agreement_legal_text_{0}.html".format(framework_slug) %}
    {% endwith %}

    <form method="POST" action="{{ url_for(".sign_framework_agreement", framework_slug=framework_slug) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {{ form.signer_name }}
        {{ form.signer_role }}
        {{ form.signer_terms_and_conditions }}
        {{ govukButton({
          "text": "Sign agreement"
        }) }}
    </form>
{% endblock %}

