{% extends "_base_page.html" %}

{% block pageTitle %}
  {% block page_title_inner %}
    Make your supplier declaration
  {% endblock %} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Apply to " + framework.name,
        "href": url_for(".framework_dashboard", framework_slug=framework.slug)
      },
      {
        "text": "Make your supplier declaration"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ self.page_title_inner() }}</h1>

      <p class="govuk-body">You must make the supplier declaration to confirm you’re eligible to provide services through {{ framework.name }}.</p>
      <p class="govuk-body">You can come back and change your answers before the application deadline at {{ framework.applicationsCloseAt | nbsp }}.</p>
      <p class="govuk-body">After the application deadline, the Crown Commercial Service will review your answers and let you know if your application has been successful.</p>
      {{ govukButton({
        "text": "Start your declaration",
        "href": url_for(".reuse_framework_supplier_declaration", framework_slug=framework.slug),
      }) }}

    </div>
  </div>

{% endblock %}
