{% extends "_base_page.html" %}

{% import "macros/submission.html" as submission %}

{% block pageTitle %}
  Your {{ framework.name }} services – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": ("Apply to " + framework.name) if framework.status == "open" else ("Your " + framework.name + " application"),
        "href": url_for(".framework_dashboard", framework_slug=framework.slug)
      },
      {
        "text": "Your " + framework.name + " services"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}

{% if framework.status == 'open' %}
  {% include "partials/service_warning.html" %}
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Your {{ framework.name }} services</h1>
      {% if framework.family == 'g-cloud' %}
        <div class="use-of-service-data">
          {% if framework.status == 'pending' and not application_made %}
            <p class="govuk-body">The services below were not submitted.</p>
          {% else %}
          <p class="govuk-body">The service information you provide here:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>will be public</li>
            <li>may be used as filters</li>
            <li>will appear on your service description page </li>
            <li>should help buyers review and compare services</li>
          </ul>
          {% endif %}
        </div>
      {% endif %}
      {{ govukButton({
        "text": "Add a service",
        "href": url_for('.choose_draft_service_lot', framework_slug=framework.slug)
      })}}
    </div>
  </div>

{% endblock %}
