{% extends "_base_page.html" %}

{% block pageTitle %}
  {{ framework.name }} updates – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Apply to " + framework.name if framework.status == "open" else ("Your " + framework.name + " application"),
        "href": url_for(".framework_dashboard", framework_slug=framework.slug)
      },
      {
        "text": framework.name + " updates"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ framework.name }} updates</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% set sections = [
        {
          "heading": "Communications",
          "empty_message": "No communications have been sent out.",
          "files": files.communications
        },
        {
          "heading": "Clarification questions and answers",
          "empty_message": "No clarification questions and answers have been posted yet.",
          "files": files.clarifications
        }
      ] %}

      {% for section in sections %}
        {% if not section.files %}
          <h2 class="govuk-heading-m">{{ section.heading }}</h2>
          <p class="govuk-body">{{ section.empty_message }}</p>
        {% else %}
        <table class="govuk-table" data-name="updates-documents">
          <caption class="govuk-table__caption govuk-heading-m">
            <span>{{ section.heading }}</span>
            {% if section.files %}
            <p class="govuk-body">
              If you use assistive technology (such as a screen reader) and need a version of these documents in a more accessible format, please email <a href="mailto:info@crowncommercial.gov.uk" target="_blank" class="govuk-link">info@crowncommercial.gov.uk</a>. Please tell us what format you need. It will help us if you say what assistive technology you use.
            </p>
            {% endif %}
          </caption>
          <tbody>
            {% for file in section.files %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ file.last_modified|dateformat }}</td>
              <td class="govuk-table__cell">
                {{dmAttachment({
                  "link": {
                    "classes": "govuk-!-font-size-16",
                    "href": url_for('.download_supplier_file', filepath=file.path, framework_slug=framework.slug),
                    "text": file.filename
                  },
                  "contentType": file.ext | upper,
                  "headingTag": 'p',
                  "thumbnailSize": "small"
                })}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}

      {% endfor %}
      <p class="hint">
        {% if framework.clarificationQuestionsOpen %}
          All clarification questions and answers will be published here regularly. You’ll receive an email when new answers are available.
        {% else %}
          The deadline for asking clarification questions has now passed.
          All clarification questions and answers will be published by {{ framework.clarificationsPublishAt }}.
          You’ll receive an email when new answers are posted.
        {% endif %}
      </p>
    </div>
  </div>

  {% if not agreement_countersigned %}
    {% if framework.clarificationQuestionsOpen %}
      <form method="post">
        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Ask a clarification question</h2>
            <p class="govuk-body">Ask a clarification question if you need a better understanding of:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>the legal documents</li>
              <li>your responsibilities as a supplier</li>
            </ul>
            <p class="govuk-body">There’s a different way to:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a class="govuk-link" href="{{ framework_urls.supplier_guide_url }}">find out about the application process and eligibility</a>
              </li>
              <li>
                <a class="govuk-link" href="{{ url_for('external.help') }}">get help if there’s a problem with your account</a>
              </li>
            </ul>

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              {%
                with
                large=true,
                name = clarification_question_name,
                hint = "Maximum 5000 characters a question.",
                error = error_message,
                value = clarification_question_value
              %}
                {% include "toolkit/forms/textbox.html" %}
              {% endwith %}
            <p class="govuk-body">You can ask clarification questions until {{ framework.clarificationsCloseAt }}.</p>
            <p class="govuk-body">Answers are published to this page around twice a week, alongside answers to questions from other suppliers.</p>
            <p class="govuk-body">All responses will be published by {{ framework.clarificationsPublishAt }}.</p>
              {{ govukButton({
                "text": "Ask a question"
              }) }}

              <a class="govuk-link govuk-!-display-block" href="{{ url_for('.framework_dashboard', framework_slug=framework.slug) }}">Return to {{ framework.name }} application</a>

            </div>
          </div>
        </form>
    {% else %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Contact us</h2>

            <p class="govuk-body">Contact the support team if <a class="govuk-link" href="{{ url_for('external.help') }}">there’s a problem with your account or to update your details</a>.</p>
            <p class="govuk-body"><a class="govuk-link" href="{{ url_for('.framework_dashboard', framework_slug=framework.slug) }}">Return to {{ framework.name }} application</a></p>

          </div>
        </div>

    {% endif %}
  {% endif %}
{% endblock %}
