{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block pageTitle %}
  {{ framework.name }} updates – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Marketplace",
        "href": "/"
      },
      {
        "text": "Your account",
        "href": url_for('.dashboard')
      },
      {
        "text": "Apply to " + framework.name if framework.status == "open" else ("Your " + framework.name + " application"),
        "href": url_for(".framework_dashboard", framework_slug=framework.slug)
      },
      {
        "text": framework.name + " updates"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}

  {% if error_message %}
    {%
      with
      errors = {
        "clarification_question_name": {
          "input_name": clarification_question_name,
          "question": "Ask a {} clarification question".format(framework.name)
        }
      },
      lede = "There was a problem with your submitted question"
    %}
      {% include "toolkit/forms/validation.html" %}
    {% endwith %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ framework.name }} updates</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full updates-document-tables">
      {% set sections = [
        {
          "heading": "Communications",
          "empty_message": "No communications have been sent out.",
          "files": files.communications
        },
        {
          "heading": "Clarification questions and answers",
          "empty_message": "No clarification questions and answers have been posted yet.",
          "files": files.clarifications
        }
      ] %}

      {% for section in sections %}
        {{ summary.heading(section.heading) }}
        {% call(item) summary.list_table(
          section.files,
          caption=section.heading,
          empty_message=section.empty_message,
          field_headings=[
            "Last modified",
            "File"
          ],
          field_headings_visible=False
        ) %}
          {% call summary.row() %}
            {{ summary.field_name(item.last_modified|dateformat) }}
            {% call summary.field() %}
              <a href="{{ url_for('.download_supplier_file', filepath=item.path, framework_slug=framework.slug) }}" class="document-link-with-icon">
                <span class='document-icon'>{{ item.ext }}<span> document:</span></span>
                {{ item.filename }}
              </a>
            {% endcall %}
          {% endcall %}
        {% endcall %}
      {% endfor %}
      <p class="hint">
        {% if framework.clarificationQuestionsOpen %}
          All clarification questions and answers will be published here regularly. You’ll receive an email when new answers are available.
        {% else %}
          The deadline for asking clarification questions has now passed.
          All clarification questions and answers will be published by {{ framework.clarificationsPublishAt }}.
          You’ll receive an email when new answers are posted.
        {% endif %}
      </p>
    </div>
  </div>

  {% if not agreement_countersigned %}
    {% if framework.clarificationQuestionsOpen %}
      <form method="post">
        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">
            {{ summary.heading("Ask a clarification question") }}
            <br />
            <p class="govuk-body">Ask a clarification question if you need a better understanding of:</p>
            <br />
            <ul class="govuk-list govuk-list--bullet">
              <li>the legal documents</li>
              <li>your responsibilities as a supplier</li>
            </ul>
            <br />
            <p class="govuk-body">There’s a different way to:</p>
            <br />
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a class="govuk-link" href="{{ framework_urls.supplier_guide_url }}">find out about the application process and eligibility</a>
              </li>
              <li>
                <a class="govuk-link" href="{{ url_for('external.help') }}">get help if there’s a problem with your account</a>
              </li>
            </ul>

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              {%
                with
                large=true,
                name = clarification_question_name,
                hint = "Maximum 5000 characters a question.",
                error = error_message,
                value = clarification_question_value
              %}
                {% include "toolkit/forms/textbox.html" %}
              {% endwith %}
            <p class="govuk-body">You can ask clarification questions until {{ framework.clarificationsCloseAt }}.</p>
            <br />
            <p class="govuk-body">Answers are published to this page around twice a week, alongside answers to questions from other suppliers.</p>
            <br />
            <p class="govuk-body">All responses will be published by {{ framework.clarificationsPublishAt }}.</p>
              {{ govukButton({
                "text": "Ask a question"
              }) }}

              <a class="govuk-link govuk-!-display-block" href="{{ url_for('.framework_dashboard', framework_slug=framework.slug) }}">Return to {{ framework.name }} application</a>

            </div>
          </div>
        </form>
    {% else %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {{ summary.heading("Contact us") }}

            <p class="govuk-body">Contact the support team if <a class="govuk-link" href="{{ url_for('external.help') }}">there’s a problem with your account or to update your details</a>.</p>
            <br />
            <p class="govuk-body"><a class="govuk-link" href="{{ url_for('.framework_dashboard', framework_slug=framework.slug) }}">Return to {{ framework.name }} application</a></p>

          </div>
        </div>

    {% endif %}
  {% endif %}
{% endblock %}
