{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/hint/macro.njk" import govukHint %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{#- a record of other elements that we need to associate with the input using
   aria-describedby – for example hints or error messages -#}
{% set describedBy = params.fieldset.describedBy if params.fieldset.describedBy else "" %}

{% if params.items | length %}
  {% set priceInputItems = params.items %}
{% else %}
  {% set priceInputItems = {
    "unit": {
      "label": "Unit",
    },
    "time": {
      "label": "Time",
    },
    "minimumPrice": {
      "label": "Minimum price",
    },
    "maximumPrice": {
      "label": "Maximum price",
    },
  } %}
{% endif %}

{% if "unit" in priceInputItems %}
  {% set priceInputUnit = priceInputItems.unit %}
  {% if priceInputUnit.items | length %}
    {% set priceInputUnitItems = priceInputUnit.items %}
  {% else %}
    {% set priceInputUnitItems = [
      {
        value: "",
        text: "",
        selected: True if "" == priceInputUnit.value else False,
      },
      {
        value: "Unit",
        text: "a unit",
        selected: True if "Unit" == priceInputUnit.value else False,
      },
      {
        value: "Licence",
        text: "a licence",
        selected: True if "Licence" == priceInputUnit.value else False,
      },
      {
        value: "User",
        text: "a user",
        selected: True if "User" == priceInputUnit.value else False,
      },
      {
        value: "Device",
        text: "a device",
        selected: True if "Device" == priceInputUnit.value else False,
      },
      {
        value: "Instance",
        text: "a instance",
        selected: True if "Instance" == priceInputUnit.value else False,
      },
      {
        value: "Server",
        text: "a server",
        selected: True if "Server" == priceInputUnit.value else False,
      },
      {
        value: "Virtual machine",
        text: "a virtual machine",
        selected: True if "Virtual machine" == priceInputUnit.value else False,
      },
      {
        value: "Transaction",
        text: "a transaction",
        selected: True if "Transaction" == priceInputUnit.value else False,
      },
      {
        value: "Megabyte",
        text: "a megabyte",
        selected: True if "Megabyte" == priceInputUnit.value else False,
      },
      {
        value: "Gigabyte",
        text: "a gigabyte",
        selected: True if "Gigabyte" == priceInputUnit.value else False,
      },
      {
        value: "Terabyte",
        text: "a terabyte",
        selected: True if "Terabyte" == priceInputUnit.value else False,
      },
    ] %}
  {% endif %}
{% endif %}

{% if "time" in priceInputItems %}
  {% set priceInputTime = priceInputItems.time %}
  {% if priceInputTime.items | length %}
    {% set priceInputTimeItems = priceInputTime.items %}
  {% else %}
    {% set priceInputTimeItems = [
      {
        value: "",
        text: "",
        selected: True if "" == priceInputTime.value else False,
      },
      {
        value: "Second",
        text: "a second",
        selected: True if "Second" == priceInputTime.value else False,
      },
      {
        value: "Minute",
        text: "a minute",
        selected: True if "Minute" == priceInputTime.value else False,
      },
      {
        value: "Hour",
        text: "a hour",
        selected: True if "Hour" == priceInputTime.value else False,
      },
      {
        value: "Day",
        text: "a day",
        selected: True if "Day" == priceInputTime.value else False,
      },
      {
        value: "Week",
        text: "a week",
        selected: True if "Week" == priceInputTime.value else False,
      },
      {
        value: "Month",
        text: "a month",
        selected: True if "Month" == priceInputTime.value else False,
      },
      {
        value: "Quarter",
        text: "a quarter",
        selected: True if "Quarter" == priceInputTime.value else False,
      },
      {
        value: "6 months",
        text: "a 6 months",
        selected: True if "6 months" == priceInputTime.value else False,
      },
      {
        value: "Year",
        text: "a year",
        selected: True if "Year" == priceInputTime.value else False,
      },
    ] %}
  {% endif %}
{% endif %}

{#- Capture the HTML so we can optionally nest it in a fieldset -#}
{% set innerHtml %}
{% if params.hint %}
  {% set hintId = params.id + "-hint" %}
  {% set describedBy = describedBy + " " + hintId if describedBy else hintId %}
  {{ govukHint({
    id: hintId,
    classes: params.hint.classes,
    attributes: params.hint.attributes,
    html: params.hint.html,
    text: params.hint.text
  }) | indent(2) | trim }}
{% endif %}
{% if params.errorMessage %}
  {% set errorId = params.id + "-error" %}
  {% set describedBy = describedBy + " " + errorId if describedBy else errorId %}
  {{ govukErrorMessage({
    id: errorId,
    classes: params.errorMessage.classes,
    attributes: params.errorMessage.attributes,
    html: params.errorMessage.html,
    text: params.errorMessage.text,
    visuallyHiddenText: params.errorMessage.visuallyHiddenText
  }) | indent(2) | trim }}
{% endif %}
  <div class="dmp-price-input"
    {%- if params.id %} id ="{{ params.id }}"{% endif %}>
    {%- for item, label, items in ((priceInputItems.unit, "Unit", priceInputUnitItems),
                                   (priceInputItems.time, "Time", priceInputTimeItems)) %}
    {% if item | length %}
    <div class="dmp-price-input__item govuk-form-group">
      {{ govukSelect({
        "label": {
          "text": item.label if item.label else label,
          "classes": "dmp-price-input__label",
        },
        "id": item.id if item.id else (params.id + "-" + item.name),
        "classes": "dmp-price-input__input "
          + ("govuk-select--error" if item.error) + (item.classes if item.classes),
        "name": (params.namePrefix + "-" + item.name) if params.namePrefix else item.name,
        "items": items,
      }) | indent(6) | trim }}
    </div>
    {% endif %}
    {% endfor %}
    {%- for item, label in ((priceInputItems.minimumPrice, "Minimum price"),
                            (priceInputItems.maximumPrice, "Maximum price")) %}
    {% if item | length %}
    <div class="dmp-price-input__item govuk-form-group">
      {{ govukInput({
        "label": {
          "text": item.label if item.label else label,
          "classes": "dmp-price-input__label",
        },
        "hint": {
          "text": item.hint if item.hint else "For example, £199.99",
          "classes": "dmp-price-input__hint",
        },
        "id": item.id if item.id else (params.id + "-" + item.name),
        "classes": "dmp-price-input__input govuk-input--width-10 "
          + ("govuk-input--error" if item.error) + (item.classes if item.classes),
        "name": (params.namePrefix + "-" + item.name) if params.namePrefix else item.name,
        "value": item.value,
        "type": "text",
        "inputmode": "decimal",
        "autocomplete": item.autocomplete,
        "pattern": item.pattern if item.pattern else "£?[0-9]+([.,][0-9]+)?",
        "attributes": item.attributes,
      }) | indent(6) | trim }}
    </div>
    {% endif %}
    {% endfor %}
  </div>
{% endset %}

<div class="govuk-form-group {%- if params.errorMessage %} govuk-form-group--error{% endif %} {%- if params.formGroup.classes %} {{ params.formGroup.classes }}{% endif %}">
{% if params.fieldset %}
  {% call govukFieldset({
    describedBy: describedBy,
    classes: params.fieldset.classes,
    attributes: params.fieldset.attributes,
    legend: params.fieldset.legend
  }) %}
  {{ innerHtml | trim | safe }}
  {% endcall %}
{% else %}
  {{ innerHtml | trim | safe }}
{% endif %}
</div>
