{% macro breadcrumb(crumbs = []) -%}
  <div id="global-breadcrumb">
    <nav>
      <ol>
        <li>
          <a href="/" alt="Back to home">Digital Marketplace</a>
        </li>
        {% for crumb in crumbs %}
          {% if crumb.link is defined %}
            <li>
              <a href="{{ crumb.link }}">{{ crumb.text }}</a>
            </li>
          {% else %}
            <li>
              {{ crumb.text }}
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </nav>
  </div>
{% endmacro -%}
