{% macro text(question_content, service_data, errors, question_number=None, get_question=None) -%}
  {%
    with
    question=question_content.question|question_references(get_question)|markdown,
    hint=(question_content.hint or '')|question_references(get_question)|markdown,
    name=question_content.id,
    value=service_data[question_content.id],
    error=errors.get(question_content.id)['message']|question_references(get_question)
  %}
    {% include "toolkit/forms/textbox.html" %}
  {% endwith %}
{%- endmacro %}

{% macro textbox_large(question_content, service_data, errors, question_number=None, get_question=None) -%}
  {%
    with
    question=question_content.question|question_references(get_question)|markdown,
    hint=(question_content.hint or '')|question_references(get_question)|markdown,
    name=question_content.id,
    value=service_data[question_content.id],
    large=True,
    max_length_in_words=question_content.max_length_in_words,
    error=errors.get(question_content.id)['message']|question_references(get_question)
  %}
    {% include "toolkit/forms/textbox.html" %}
  {% endwith %}
{%- endmacro %}

{% macro list(question_content, service_data, errors, question_number=None, get_question=None) -%}
  {%
    with
    name=question_content.id,
    number_of_items=10,
    question=question_content.question|question_references(get_question)|markdown,
    hint=(question_content.hint or '')|question_references(get_question)|markdown,
    values=service_data[question_content.id],
    id=question_content.id,
    error=errors.get(question_content.id)['message']|question_references(get_question)
  %}
    {% include "toolkit/forms/list-entry.html" %}
  {% endwith %}
{%- endmacro %}

{% macro checkboxes(question_content, service_data, errors, question_number=None, get_question=None) -%}
  {%
    with
    name=question_content.id,
    question=question_content.question|question_references(get_question)|markdown,
    hint=(question_content.hint or '')|question_references(get_question)|markdown,
    value=service_data[question_content.id],
    id=question_content.id,
    options=question_content.options,
    type='checkbox',
    error=errors.get(question_content.id)['message']|question_references(get_question),
    question_number=question_number
  %}
    {% include "toolkit/forms/selection-buttons.html" %}
  {% endwith %}
{%- endmacro %}

{% macro radios(question_content, service_data, errors, question_number=None, get_question=None) -%}
  {%
    with
    name=question_content.id,
    question=question_content.question|question_references(get_question)|markdown,
    hint=(question_content.hint or '')|question_references(get_question)|markdown,
    hint_underneath=(question_content.hint_underneath or False),
    value=service_data[question_content.id],
    id=question_content.id,
    options=question_content.options,
    type='radio',
    error=errors.get(question_content.id)['message']|question_references(get_question),
    question_number=question_number
  %}
    {% include "toolkit/forms/selection-buttons.html" %}
  {% endwith %}
{%- endmacro %}

{% macro boolean(question_content, service_data, errors, question_number=None, get_question=None) -%}
  {%
    with
    name=question_content.id,
    question=question_content.question|question_references(get_question)|markdown,
    hint=(question_content.hint or '')|question_references(get_question)|markdown,
    value=service_data[question_content.id],
    id=question_content.id,
    type='boolean',
    error=errors.get(question_content.id)['message']|question_references(get_question),
    question_number=question_number
  %}
    {% include "toolkit/forms/selection-buttons.html" %}
  {% endwith %}
{%- endmacro %}

{% macro upload(question_content, service_data, errors, question_number=None, get_question=None) -%}
  {%
    with
    question=question_content.question|question_references(get_question)|markdown,
    hint=(question_content.hint or '')|question_references(get_question)|markdown,
    name=question_content.id,
    value="Document uploaded {}".format(
      service_data[question_content.id]|parse_document_upload_time|datetimeformat
    ) if service_data[question_content.id] else service_data[question_content.id],
    error=errors.get(question_content.id)['message']|question_references(get_question),
    question_number=question_number
  %}
    {% include "toolkit/forms/upload.html" %}
  {% endwith %}
{%- endmacro %}

{% macro pricing(question_content, service_data, errors, question_number=None, get_question=None) -%}
  {%
    with
    name=question_content.id,
    question=question_content.question,
    fields=question_content.fields,
    optional_fields=question_content.optional_fields,
    minimum_price=service_data.get(question_content.fields.minimum_price),
    maximum_price=service_data.get(question_content.fields.maximum_price),
    price_unit=service_data.get(question_content.fields.price_unit),
    price_interval=service_data.get(question_content.fields.price_interval),
    hours_for_price=service_data.get(question_content.fields.hours_for_price),
    hint=(question_content.hint or '')|markdown,
    id=question_content.id,
    error=errors.get(question_content.id)['message']|question_references(get_question),
    question_number=question_number
  %}
    {% include "toolkit/forms/pricing.html" %}
  {% endwith %}
{%- endmacro %}

{% macro percentage(question_content, service_data, errors, question_number=None, get_question=None) -%}
  {%
    with
    unit_in_full="percent",
    unit_position="after",
    unit="%",
    question=question_content.question|question_references(get_question)|markdown,
    hint=(question_content.hint or '')|question_references(get_question)|markdown,
    name=question_content.id,
    value=service_data[question_content.id],
    error=errors.get(question_content.id)['message']|question_references(get_question),
    question_number=question_number
  %}
    {% include "toolkit/forms/textbox.html" %}
  {% endwith %}
{%- endmacro %}

{% macro boolean_list(question_content, service_data, errors, question_number=None, get_question=None) -%}

  {% set error = errors.get(question_content.id)['message']|question_references(get_question) %}
  {% if error %}
    <div class="validation-wrapper">
  {% endif %}
    <fieldset class="question" id="{{ question_content.id }}" style="margin: 20px 0; border-bottom: 2px #F3F3F3 solid;">
        <span class="question-heading">
          <h2 class="heading-for-a-set-of-questions" style="font-size: 28px;">{{ question_content.question }}</h2>
        </span>
      <legend>
        <span class="visually-hidden">{{ question_content.name }}</span>
      </legend>
      <span class="hint">
        <p>{{ question_content.hint }}</p>
      </span>

      {% if error %}
        <span class="validation-message" id="error-{{ question_content.id }}">
          {{ error }}
        </span>
      {% endif %}

      {% for boolean_question in question_content.boolean_list_questions %}
        {% set boolean_question_id = '{}-{}'.format(question_content.id, loop.index0) %}
        {% with
            boolean_question_content = {
              'id': boolean_question_id,
              'question': boolean_question,
            },
            data = {
              boolean_question_id: service_data[boolean_question_id]|convert_to_boolean
            }
        %}
          {{ boolean(boolean_question_content, data, {}) }}
        {% endwith %}
      {% endfor %}
    </fieldset>
  {% if error %}
    </div>
  {% endif %}
{%- endmacro %}
