{% macro text(question_content, service_data, errors) -%}
  {%
    with
    question=question_content.question,
    name=question_content.id,
    value=service_data[question_content.id],
    error=errors.get(question_content.id)['message']
  %}
    {% include "toolkit/forms/textbox.html" %}
  {% endwith %}
{%- endmacro %}

{% macro textbox_large(question_content, service_data, errors) -%}
  {%
    with
    question=question_content.question,
    name=question_content.id,
    value=service_data[question_content.id],
    large=True,
    max_length_in_words=question_content["maxLengthInWords"],
    error=errors.get(question_content.id)['message']
  %}
    {% include "toolkit/forms/textbox.html" %}
  {% endwith %}
{%- endmacro %}

{% macro list(question_content, service_data, errors) -%}
  {%
    with
    name=question_content.id,
    number_of_items=10,
    question=question_content.question,
    values=service_data[question_content.id],
    id=question_content.id,
    hint=question_content.hint,
    error=errors.get(question_content.id)['message']
  %}
    {% include "toolkit/forms/list-entry.html" %}
  {% endwith %}
{%- endmacro %}

{% macro checkboxes(question_content, service_data, errors) -%}
  {%
    with
    name=question_content.id,
    question=question_content.question,
    value=service_data[question_content.id],
    id=question_content.id,
    hint=question_content.hint,
    options=question_content.options,
    type='checkbox',
    error=errors.get(question_content.id)['message']
  %}
    {% include "toolkit/forms/selection-buttons.html" %}
  {% endwith %}
{%- endmacro %}

{% macro radios(question_content, service_data, errors) -%}
  {%
    with
    name=question_content.id,
    question=question_content.question,
    value=service_data[question_content.id],
    id=question_content.id,
    hint=question_content.hint,
    options=question_content.options,
    type='radio',
    error=errors.get(question_content.id)['message']
  %}
    {% include "toolkit/forms/selection-buttons.html" %}
  {% endwith %}
{%- endmacro %}

{% macro boolean(question_content, service_data, errors) -%}
  {%
    with
    name=question_content.id,
    question=question_content.question,
    value=service_data[question_content.id],
    id=question_content.id,
    hint=question_content.hint,
    type='boolean',
    error=errors.get(question_content.id)['message']
  %}
    {% include "toolkit/forms/selection-buttons.html" %}
  {% endwith %}
{%- endmacro %}

{% macro upload(question_content, service_data, errors) -%}
  {%
    with
    question=question_content.question,
    hint=question_content.hint,
    name=question_content.id,
    value=service_data[question_content.id],
    error=errors.get(question_content.id)['message']
  %}
    {% include "toolkit/forms/upload.html" %}
  {% endwith %}
{%- endmacro %}

{% macro pricing(question_content, service_data, errors) -%}
  {%
    with
    name=question_content.id,
    value=service_data[question_content.id],
    question=question_content.question,
    id=question_content.id,
    hint=question_content.hint,
    error=errors.get(question_content.id)['message']
  %}
    {% include "toolkit/forms/textbox.html" %}
  {% endwith %}
{%- endmacro %}
