{% if g12_recovery %}
  <div class="wrapper">
    {# TODO: replace with govukNotificationBanner #}
    {% if g12_recovery.not_submitted_drafts == 0 %}
      {%
        with
        message = 'You have marked all your services as complete. Your services will be automatically submitted on 25 February.',
        type = 'success'
      %}
        {% include 'toolkit/notification-banner.html' %}
      {% endwith %}
    {% elif g12_recovery.submitted_drafts > 0 %}
      {% with service = " service" if g12_recovery.submitted_drafts == 1 else " services" %}
        {%
          with
          message = "You have marked " + g12_recovery.submitted_drafts|string + service + " as complete. Your services will be automatically submitted on 25 February."|safe,
          type = 'success'
        %}
          {% include 'toolkit/notification-banner.html' %}
        {% endwith %}
      {% endwith %}
    {% else %}
      {%
        with
        message = 'You have ' + g12_recovery.time_remaining + ' left to finish your application.<br><br>You need to mark your services as complete to finish your application. <a href="'|safe + url_for('.list_services', framework_slug='g-cloud-12') + '">View your services.</a>'|safe,
        type = 'information'
      %}
        {% include 'toolkit/notification-banner.html' %}
      {% endwith %}
    {% endif %}
  </div>
{% endif %}
