{% if declaration_status != 'complete' %}
  {% set declaration_url = url_for('.framework_start_supplier_declaration' if declaration_status == 'unstarted' else '.framework_supplier_declaration_overview', framework_slug=framework.slug) %}
  {% set banner_content %}
    You still need to <a class="govuk-link" href="{{ declaration_url }}">make your supplier declaration</a>.
  {% endset %}

  {{ dmBanner({
    "title": "Your application is not complete",
    "html": banner_content
  })}}
{% endif %}
