{% extends "services/_base_edit_section_page_alternative.html" %}

{% block breadcrumb %}

  {%
    with items = [
      {
        "link": "/",
        "label": "Home"
      },
      {
        "link": "/{}/opportunities".format(brief.frameworkSlug),
        "label": "Opportunities"
      },
      {
        "link": "/{}/opportunities/{}".format(brief.frameworkSlug, brief.id),
        "label": "Opportunity details"
      },
      {
        "label": "Apply for opportunity"
      },
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block save_button %}
<p class="uikit-callout">
<b>Remember</b><br/>
  — Only one 1 response per seller is allowed<br/>
  — If you’re adding attachments, check they’re attached<br/>
  — You cannot edit your application after submitting<br/>
</p>
  {%
    with
    label="Submit",
    type="save",
    role="button",
    name = "return_to_overview"
  %}
    {% include "toolkit/button.html" %}
  {% endwith %}

{% endblock %}
{% block return_to_service_link %}{% endblock %}
