{% extends "briefs/_base_edit_question_page.html" %}

{% block breadcrumb %}

  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": "/{}/opportunities".format(brief.frameworkFramework),
        "label": "Supplier opportunities"
      },
      {
        "link": "/{}/opportunities/{}".format(brief.frameworkFramework, brief.id),
        "label": brief.title
      },
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block save_button %}
  {%
    with
    label="Submit application" if is_last_page else "Continue",
    type="save"
  %}
    {% include "toolkit/button.html" %}
  {% endwith %}
  {% if previous_question_url %}
    <a href="{{ previous_question_url }}">Back to previous page</a>
  {% endif %}
{% endblock %}
