{% extends "_base_page.html" %}

{% block page_title %}Not eligible for brief – Digital Marketplace{% endblock %}

{% block main_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <header class="page-heading-smaller">
      <h1>You can’t apply for this opportunity</h1>
    </header>
    {% if on_framework %}
      <p>You don’t provide this type of service on the {{ framework_name }} framework.</p>
    {% else %}
      <p>You aren’t a {{ framework_name }} supplier.</p>
    {% endif %}
    </div>
  </div>
</div>

{% endblock %}
