{% extends "govuk/govuk_template.html" %}

{% block head %}
  {% include "_stylesheets.html" %}
{% endblock %}

{% block cookie_message %}
  {% include "_cookie_message.html" %}
{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
  {% include "_proposition_header.html" %}
{% endblock %}

{% block content %}
  {% include "toolkit/phase-banner.html" %}
  {% block breadcrumb %}{% endblock %}
  <div id="wrapper">
    <main id="content" role="main">
      {% block main_content %}
      {% endblock %}
    </main>
  </div>
{% endblock %}

{% block footer_top %}
  {% include "_footer_categories.html" %}
{% endblock %}

{% block footer_support_links %}
  <h2 class="visuallyhidden">Support links</h2>
    <ul>
        <li><a href="/terms-and-conditions" class="terms-and-conditions">Terms and conditions</a></li>
        <li><a href="/cookies">Cookies</a></li>
        <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></li>
    </ul>
{% endblock %}

{% block body_end %}
  {% include "_javascripts.html" %}
{% endblock %}
