{% extends "govuk_template.html" %}

{% block head %}
  {% include "_stylesheets.html" %}
{% endblock %}

{% block cookie_message %}
  {% include "_cookie_message.html" %}
{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
  {% include "_proposition_header.html" %}
{% endblock %}

{% block content %}
  {% include "_phase_banner.html" %}
  {% block breadcrumb %}{% endblock %}
  <div id="wrapper">
    <main id="content" role="main">
      {% block main_content %}
      {% endblock %}
    </main>
  </div>
{% endblock %}

{% block footer_top %}
  {% include "_footer_categories.html" %}
{% endblock %}

{% block footer_support_links %}
  <a href="/terms-and-conditions" class="terms-and-conditions">Terms and conditions</a>
{% endblock %}

{% block body_end %}
  {% include "_javascripts.html" %}
{% endblock %}
