<section class="footer-logo">
  <ul>
    <li><img alt="Australian Government Coat of Arms" src="{{ asset_path }}images/logo_govcrest.svg"></li>
    <li><img alt="National Innovation &amp; Science Agenda logo" src="{{ asset_path }}images/logo_nisa.svg" style="padding-right: 2em"></li>
    <li style="max-width: 30em; font-family: Helvetica; vertical-align: top;"><div style="display: inline-block; font-size: 14px; line-height: 21px; margin-top: 20px;">This program forms part of the National Innovation and Science Agenda.<br>Visit <a style="font-weight: bold;" href="https://innovation.gov.au/">Innovation.gov.au</a> to find out more.</div></li>
  </ul>
</section>
