{% set base_url_prefix %}{{ config['BASE_PREFIX'] }}{% endset %}
<section class="footer-top">
  <nav>
    <ul>
      <li><h3>About</h3></li>
      <li><a href="{{ base_url_prefix }}/about-us/">About us</a></li>
      <li><a href="{{ base_url_prefix }}/contact-us/">Contact us</a></li>
      <li><a href="{{ base_url_prefix }}/terms-of-use/">Terms of Use</a></li>
      <li><a href="{{ base_url_prefix }}/privacy-policy/">Privacy</a></li>
      <li><a href="{{ base_url_prefix }}/disclaimer/">Disclaimer</a></li>
      <li><a href="{{ base_url_prefix }}/copyright/">Copyright</a></li>
    </ul>
    <ul>
      <li><h3>Using the Marketplace</h3></li>
      <li><a href="{{ base_url_prefix }}/">Home</a></li>
      <li><a href="{{ base_url_prefix }}/search/sellers/">Sellers catalogue</a></li>
      <li><a href="{{ base_url_prefix }}/roles-and-services/">Capabilities and rates</a></li>
      <li><a href="{{ base_url_prefix }}/buyers-guide/">Buyer's guide</a></li>
    </ul>
    <ul>
      <li><h3>Marketplace brought to you by the <a href="//dto.gov.au" rel="external">DTO</a></h3></li>
      <li><a href="//dto.gov.au/blog/" target="_blank" rel="external">DTO blog</a></li>
      <li><a href="//twitter.com/DTO" target="_blank" rel="external">DTO twitter</a></li>
      <li><a href="//github.com/AusDTO" target="_blank" rel="external">DTO github</a></li>
    </ul>
    <ul>
      <li><h3>DTO resources</h3></li>
      <li><a href="//dto.gov.au/our-work/" target="_blank" rel="external">Our work</a></li>
      <li><a href="//dto.gov.au/standard/" target="_blank" rel="external">Digital Service Standard</a></li>
      <li><a href="//dto.gov.au/design-guides/" target="_blank" rel="external">Design guides</a></li>
    </ul>
  </nav>
</section>
