{% set base_url_prefix %}{{ config['BASE_PREFIX'] }}{% endset %}
<section class="footer-top">
  <nav>
    <ul>
      <li><h3>About</h3></li>
      <li><a href="{{ base_url_prefix }}/about-us/">About us</a></li>
      <li><a href="{{ base_url_prefix }}/contact-us/">Contact us</a></li>
      <li><a href="{{ base_url_prefix }}/terms-of-use/">Terms of Use</a></li>
      <li><a href="{{ base_url_prefix }}/privacy-policy/">Privacy</a></li>
      <li><a href="{{ base_url_prefix }}/disclaimer/">Disclaimer</a></li>
      <li><a href="{{ base_url_prefix }}/copyright/">Copyright</a></li>
    </ul>
    <ul>
      <li><h3>Using the Marketplace</h3></li>
      <li><a href="{{ base_url_prefix }}/">Home</a></li>
      <li><a href="{{ base_url_prefix }}/search/sellers/">Seller catalogue</a></li>
      <li><a href="{{ base_url_prefix }}/buyers-guide">Buyer's guide</a></li>
      <li><a href="{{ base_url_prefix }}/sellers-guide">Seller's guide</a></li>
      <li><a href="{{ base_url_prefix }}/faqs">FAQs</a></li>
    </ul>
    <ul>
      <li><h3>Digital Marketplace brought to you by the <a href="//dta.gov.au" rel="external">DTA</a></h3></li>
      <li><a href="//www.dta.gov.au/tags/digital-marketplace/" target="_blank" rel="external">DTA blog</a></li>
      <li><a href="//twitter.com/DTA" target="_blank" rel="external">DTA twitter</a></li>
      <li><a href="//github.com/AusDTO" target="_blank" rel="external">DTA github</a></li>
    </ul>
    <ul>
      <li><h3>DTA resources</h3></li>
      <li><a href="//dta.gov.au/our-work/" target="_blank" rel="external">Our work</a></li>
      <li><a href="//dta.gov.au/standard/" target="_blank" rel="external">Digital Service Standard</a></li>
      <li><a href="//dta.gov.au/design-guides/" target="_blank" rel="external">Design guides</a></li>
    </ul>
  </nav>
</section>
