<div class="footer-categories">
  <div class="footer-about">
    <h2>About the Digital Marketplace</h2>
    <ul>
      <li><a href="https://digitalmarketplace.blog.gov.uk/">Digital Marketplace blog</a></li>
      <li><a href="/terms-and-conditions">Terms and conditions</a></li>
      <li><a href="https://ccs.cabinetoffice.gov.uk">Crown Commercial Service website </a></li>
    </ul>
  </div>
  <div class="footer-buyers">
    <h2>
      Buyers
    </h2>
    <ul>
      <li>
        <a href="/buyers-guide/">Preparing to buy</a>
      </li>
    </ul>
  </div>
  <div class="footer-suppliers">
    <h2>
      Suppliers
    </h2>
    <ul>
      <li>
        <a href="/suppliers-guide/">Supplying a service</a>
      </li>
    </ul>
  </div>
  <hr />
</div>
