<div class="footer-categories">
  <div class="footer-about">
    <h2>
      Contact
    </h2>
    <ul>
      <li>
        <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">Digital Marketplace support</a>
      </li>
    </ul>
  </div>
  <div class="footer-buyers">
    <h2>
      About the Digital Marketplace
    </h2>
    <ul>
      <li>
        <a href="https://digitalmarketplace.blog.gov.uk">Digital Marketplace blog</a>
      </li>
      <li>
        <a href="/g-cloud/framework">G-Cloud framework</a>
      </li>
      <li>
        <a href="/crown-hosting/framework">Crown Hosting framework</a>
      </li>
      <li>
        <a href="/digital-services/framework">Digital Services framework</a>
      </li>
      <li>
        <a href="https://ccs.cabinetoffice.gov.uk">Crown Commercial Service</a>
      </li>
    </ul>
  </div>
  <div class="footer-suppliers">
    <h2>
      Guidance
    </h2>
    <ul>
      <li>
        <a href="/buyers-guide">Digital Marketplace buyers' guide</a>
      </li>
      <li>
        <a href="/g-cloud/buyers-guide">G-Cloud buyers' guide</a>
      </li>
      <li>
        <a href="/g-cloud/suppliers-guide">G-Cloud suppliers' guide</a>
      </li>
      <li>
        <a href="https://www.gov.uk/government/publications/digital-services-store-buyers-guide/digital-services-store-buyers-guide">Digital Services buyers' guide</a>
      </li>
      <li>
        <a href="https://www.gov.uk/how-to-use-the-digital-services-store">Digital Services detailed guide</a>
      </li>
    </ul>
  </div>
  <hr />
</div>
