<section class="footer-top">
  <nav>
    <ul>
      <li><h3>About</h3></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Disclaimer</a></li>
      <li><a href="#">Copyright</a></li>
    </ul>
    <ul>
      <li><h3>Using the Marketplace</h3></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Supplier catalogue</a></li>
      <li><a href="#">Roles and rates</a></li>
      <li><a href="#">Buyer's guide</a></li>
    </ul>
    <ul>
      <li><h3>Marketplace brought to you by the <a href="//dto.gov.au">DTO</a></h3></li>
      <li><a href="//dto.gov.au/blog/" target="_blank">DTO blog</a></li>
      <li><a href="//twitter.com/DTO" target="_blank">DTO twitter</a></li>
      <li><a href="//github.com/AusDTO" target="_blank">DTO github</a></li>
    </ul>
    <ul>
      <li><h3>DTO resources</h3></li>
      <li><a href="//dto.gov.au/our-work/" target="_blank">Our work</a></li>
      <li><a href="//dto.gov.au/standard/" target="_blank">Digital Service Standard</a></li>
      <li><a href="//dto.gov.au/design-guides/" target="_blank">Design guides</a></li>
    </ul>
  </nav>
</section>