<div class="header-proposition">
    <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">
            <a href="/" id="proposition-name">Digital Marketplace</a>
            <ul id="proposition-links">
                <li><a class="home" href="/">Home</a></li>
                <li><a class="home" href="/login">Login</a></li>
                <li><a class="home" href="/register">Create account</a></li>
            </ul>
        </nav>
    </div>
</div>
