<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Digital Marketplace</a>
      <ul id="proposition-links">
        {% if current_user.email_address %}
        <li><a class="home" href="/logout">Log out</a></li>
        {% else %}
        <li><a class="home" href="/login">Log in</a></li>
        {% endif %}
        <li><a href="{{ url_for('main.create_new_supplier') }}">Create supplier account</a></li>
      </ul>
    </nav>
  </div>
</div>
