<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Digital Marketplace</a>
      <ul id="proposition-links">
        {% if current_user.email_address %}
        <li><a class="home" href="{{ url_for('main.logout') }}">Log out</a></li>
        {% else %}
        <li><a class="home" href="{{ url_for('main.render_login') }}">Supplier login</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
