<!--[if gt IE 8]><!-->
  <link type="text/css" rel="stylesheet" media="screen" href="{{ asset_fingerprinter.get_url('stylesheets/application.css') }}" />
<!--<![endif]-->
  <link type="text/css" rel="stylesheet" media="print" href="{{ asset_fingerprinter.get_url('stylesheets/application-print.css') }}" />
<!--[if IE 6]>
  <link type="text/css" rel="stylesheet" media="screen" href="{{ asset_fingerprinter.get_url('stylesheets/application-ie6.css') }}" />
<![endif]-->
<!--[if IE 7]>
  <link type="text/css" rel="stylesheet" media="screen" href="{{ asset_fingerprinter.get_url('stylesheets/application-ie7.css') }}" />
<![endif]-->
<!--[if IE 8]>
  <link type="text/css" rel="stylesheet" media="screen" href="{{ asset_fingerprinter.get_url('stylesheets/application-ie8-part-1.css') }}" />
  <link type="text/css" rel="stylesheet" media="screen" href="{{ asset_fingerprinter.get_url('stylesheets/application-ie8-part-2.css') }}" />
<![endif]-->
<!--[if IE 9]>
  <link type="text/css" rel="stylesheet" media="screen" href="{{ asset_fingerprinter.get_url('stylesheets/application-ie8-part-1.css') }}" />
  <link type="text/css" rel="stylesheet" media="screen" href="{{ asset_fingerprinter.get_url('stylesheets/application-ie8-part-2.css') }}" />
<![endif]-->
