<!--[if gt IE 8]><!-->
  <link type="text/css" rel="stylesheet" media="screen" href="{{ asset_path }}stylesheets/application.css?{{ asset_fingerprints['css'] }}" />
<!--<![endif]-->
<!--[if IE 6]>
  <link type="text/css" rel="stylesheet" media="screen" href="{{ asset_path }}stylesheets/application-ie6.css?{{ asset_fingerprints['css'] }}" />
<![endif]-->
<!--[if IE 7]>
  <link type="text/css" rel="stylesheet" media="screen" href="{{ asset_path }}stylesheets/application-ie7.css?{{ asset_fingerprints['css'] }}" />
<![endif]-->
<!--[if IE 8]>
  <link type="text/css" rel="stylesheet" media="screen" href="{{ asset_path }}stylesheets/application-ie8.css?{{ asset_fingerprints['css'] }}" />
<![endif]-->
