/* Hide for both screenreaders and browsers */
.hidden,
.js-enabled .js-hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders */
.visually-hidden,
.visuallyhidden {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  /*
   * Extends the .visuallyhidden class to allow the element to be
   * focusable when navigated to via the keyboard
   */
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 3px solid $focus-colour;
  outline-offset: 0;
}
